{#% extends '::Form/fields.html.twig' %#}

{% block form_errors -%}
    {% if errors|length > 0 -%}
    {% if form.parent %}<span class="help-block">{% else %}<div class="alert alert-danger">{% endif %}
    <ul class="list-unstyled">
        {%- for error in errors -%}
            <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error.message|trans }}</li>
        {%- endfor -%}
    </ul>
    {% if form.parent %}</span>{% else %}</div>{% endif %}
    {%- endif %}
{%- endblock form_errors %}

{% block _app_user_account_billing_company_pricingModel_widget %}
    {% for choice in form.vars.choices %}
        <div class="plan {% if form.vars.data.id == choice.data.id %}selected{% endif %}">
            <div class="plan-name">{{ choice.label }}</div>
            <div class="plan-price">{{ choice.data.cost }}<span>/{{ choice.data.costUnit }}</span></div>
            <input type="radio" name="{{ form.vars.full_name }}" value="{{ choice.data.id }}"{% if form.vars.data.id == choice.data.id %} checked="checked" {% endif %} />
        </div>
    {% endfor %}
{% endblock %}

{% block _app_user_account_billing_company_paymentType_widget %}
    {% for child in form %}
        {% if child.vars.value == constant('AppBundle\\Entity\\Company::PAYMENT_TYPE_CREDIT_CARD') %}
                <div class="payment-card">
                    <div class="col-md-1 card">
                        {{ form_widget(child) }}
                        {#{ form_label(child, null) }#}
                    </div>
                    <div class="col-md-11 label-card">
                        {{ child.vars.label|trans }}
                    </div>
                </div>

        {% endif %}
        {% if child.vars.value == constant('AppBundle\\Entity\\Company::PAYMENT_TYPE_PAYPAL') %}
            <div class="paypal">
                <div class="col-md-1">
                    {{ form_widget(child) }}
                </div>
                <div class="col-md-11">
                    {{ child.vars.label|trans }}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block _app_user_account_billing_company_paymentType_entry_widget %}
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    <label for="{{ id }}" class="label-radio"></label>
{% endblock %}

{% block _create_job_setup_branding_backgroundTexturePreview_widget %}
    <div class="job-images-bg">
        {% for keyChild, child in form %}
            <div class="bg-job bg-job-{{ child.vars.value }}">
                <label class="bg-texture">
                    {{ form_widget(child) }}
                    <img src="{{ vich_uploader_asset(form.vars.choices[keyChild].data, 'textureFile') }}">
                </label>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block _create_job_setup_branding_backgroundTexturePreview_entry_widget %}
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endblock %}

{%- block _question_video_questionsVideo_entry_widget -%}
    <div class="row-video" id="{% if form.vars.data.id is defined %}{{form.vars.data.id}} {% endif %}">
    <div class="col-md-1 nb-question">
        <div class="number-question">
            <div class="number">
                <div class="nb active">{{form.vars.name + 1}}</div>
            </div>
        </div>
    </div>
    
    {{ form_widget(form)}}

    <div class="col-md-1">
    <span class="help-text bf">&nbsp;</span>
    <button id="{% if form.vars.data.id is defined %}{{form.vars.data.id}} {% endif %}" class="delete-question-video btn btn-delete">{{'form.button.delete'|trans}}</button>
    </div>
    <div class="drag-question">drag question</div> 
    </div>
{%- endblock -%}
{% block _question_video_questionsVideo_entry_question_widget %}
<div class="col-md-5">
    <div class="form-line-large row-create-video">
        <span class="help-text bf">Question <a class="text-help" data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="{{'form.candidate'|trans}}" data-original-title="" title=""> <span class="filter-question  gray">?</span> </a> </span>
        <div class="input-icon">
             {{form_widget(form)}}
        <span class="icon-input"><i class="fa fa-question" aria-hidden="true"></i></span>
        </div>
    </div>
</div>
{% endblock %}

{% block _question_video_questionsVideo_entry_duration_widget %}

<div class="col-md-2">
<span class="help-text bf">{{'job_video.home.max'|trans}}</span>
<div class="select-length-video">
    {{form_widget(form)}}
  
</div>
</div>
{% endblock %}

{% block _question_video_questionsVideo_entry_timeReadQuestion_widget %}
 <div class="col-md-2">
    <span class="help-text bf">{{'job_video.home.time'|trans}}</span>
    <div class="select-length-video">
         {{form_widget(form)}}
    </div>
</div>
{% endblock %}
 

{% block _add_question_question_widget %}


{% block _add_question_question_row %}
{{dump(form.parent)}}
{{dump(form)}}
<input type="text" {{ block('widget_attributes') }} id="{{id}}">
{% endblock %}

{% block _add_question_answers_entry_row %}
    <div class="add-answer">
        {{ form_widget(form) }}
        <div class="add-delete-answer">
            <button class="btn-crud btn-add-answer collection-add collection-action"><i class="fa fa-plus-square" aria-hidden="true"></i></button>
            <button class="btn-crud btn-delete-answer collection-remove collection-action"><i class="fa fa-minus-square" aria-hidden="true"></i></button>
        </div>
        {{- form_errors(form) -}}
    </div>
{% endblock %}

{% block _add_question_answers_entry_widget %}
    {{- form_widget(form.answer) -}}
{% endblock %}

{% block _documents_documentType_entry_widget %}
    <div class="cnt-candidate">
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        <label class="lebel-candidate" for="{{ id }}"><span></span>{{ label|trans({}, translation_domain)}}</label>
    </div>
{% endblock %}

{% block _applicant_update_advanced_entry_label %}
    {% if widget is defined %}
        {% set label_attr = label_attr|merge({'for': id}) %}

        {% if required %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if parent_label_class is defined %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) %}
        {% endif %}
        {% if label is not same as(false) and label is empty %}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{ label is not same as(false) ? (translation_domain is same as(false) ? label : label|trans({}, translation_domain)) -}}
            {% if form.vars.checked %}
                <i class="fa fa-check" aria-hidden="true"></i>
            {% endif %}
        </label>
        {{- widget|raw }}
    {% endif %}
{% endblock %}

{% block _applicant_update_advanced_entry_widget %}
    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 no-padding">
        <div  class="{{form.vars.id}}">
             {{ block('_applicant_update_advanced_entry_radio_widget') }}
                <label for="{{form.vars.id}}" class="label-radio">{{form.vars.value}}
                {% if form.vars.checked %}
                    <i class="fa fa-check" aria-hidden="true"></i>
                {% endif %}
                </label>
        </div>
    </div>
{% endblock %}


{%- block _applicant_update_advanced_entry_radio_widget -%}
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked {% endif %} />
{%- endblock -%}

{%- block _applicant_answers_widget_compound -%}
    {%- if form.parent is empty -%}
        {{ form_errors(form) }}
    {%- endif -%}
    {{- block('form_rows') -}}
    {{- form_rest(form) -}}
{%- endblock -%}

{%- block _applicant_answers_entry_label -%}{%- endblock -%}

{%- block _applicant_answers_entry_row -%}
    {{ form_label(form) }}
    {{- form_widget(form) -}}
    {{- form_errors(form) -}}
{%- endblock -%}

{%- block _applicant_answers_entry_answers_metadata_row -%}
    {{- form_widget(form) -}}
{%- endblock -%}

{%- block _applicant_answers_entry_answers_metadata_label -%}
    <label for="{{ id }}" class="label-answer">
        <span class="order">{{ form.parent.vars.data.question.order }}</span>
        {{ form.parent.vars.data.question.question }}
        {% if form.parent.vars.data.question.candidateInstruction is not same as(false) %}
             <a data-container="body" data-toggle="popover" data-placement="top"  data-trigger="hover" class="btn-instruction" data-content="{{ form.parent.vars.data.question.candidateInstruction }}">Instructions</a>
        {% endif %}
    </label>
    {{- form_errors(form) -}}
{%- endblock -%}

{%- block _applicant_answers_entry_answers_metadata_widget -%}
{% spaceless %}
    {% if form.parent.vars.data.question.type == constant('TYPE_DROPDOWN', form.parent.vars.data.question) %}
        <div class="dropdown-question">
            <p class="title-checkbox">
                <span>{{ form.parent.vars.data.question.order }}</span>
                {{ form.parent.vars.data.question.question }}
            </p>
            {{ form_widget(form) }}
        </div>
    {% endif %}

    {% if form.parent.vars.data.question.type == constant('TYPE_RADIO', form.parent.vars.data.question) %}
        <div class="choose-one-answer">
            <div class="title-radio">
                <span>{{ form.parent.vars.data.question.order }}</span>{{ form.parent.vars.data.question.question }}
                {% if form.parent.vars.data.question.candidateInstruction is not same as(false) %}
                    <a data-container="body" data-toggle="popover" data-placement="top"  data-trigger="hover" class="btn-instruction" data-content="{{ form.parent.vars.data.question.candidateInstruction }}">Instructions</a>
                {% endif %}
            </div>
            <div class="radio-items">
                {{ form_widget(form) }}
            </div>
        </div>
    {% endif %}

    {% if form.parent.vars.data.question.type == constant('TYPE_CHECKBOX', form.parent.vars.data.question) %}
        <div class="choose-multiple-answer">
            <div class="title-checkbox">
                <span>{{ form.parent.vars.data.question.order }}</span>{{ form.parent.vars.data.question.question }}
                  {% if form.parent.vars.data.question.candidateInstruction is not same as(false) %}
                    <a data-container="body" data-toggle="popover" data-placement="top"  data-trigger="hover" class="btn-instruction" data-content="{{ form.parent.vars.data.question.candidateInstruction }}">Instructions</a>
                  {% endif %}
            </div>
            <div class="checkbox-items">
                {{ form_widget(form) }}
            </div>
        </div>
    {% endif %}

    {% if form.parent.vars.data.question.type == constant('TYPE_PARAGRAPH', form.parent.vars.data.question) %}
        <div class="form-group long-answer-form">
            {{ form_label(form) }}
            {{ form_widget(form) }}
        </div>
    {% endif %}
    {% if form.parent.vars.data.question.type == constant('TYPE_SHORT_ANSWER', form.parent.vars.data.question) %}
        <div class="form-group long-answer-form">
            {{ form_label(form) }}
            {{ block('_applicant_answers_entry_answers_metadata_entry_text_widget') }}
        </div>
    {% endif %}
{% endspaceless %}
{%- endblock -%}

{%- block _applicant_answers_entry_answers_metadata_entry_text_widget -%}
<input  type="text" {{ block('widget_attributes') }}{% if form.parent.vars.data.question.questionMetadata.exampleAnswer %} value="" placeholder="{{ form.parent.vars.data.question.questionMetadata.exampleAnswer }}" {% endif %} class="form-control">
{%- endblock -%}

{%- block _applicant_answers_entry_answers_metadata_entry_label -%}
    {# Do not display the label if widget is not defined in order to prevent double label rendering #}
    {% if widget is defined %}
        {% set label_attr = label_attr|merge({'for': id}) %}

        {% if required %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if parent_label_class is defined %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) %}
        {% endif %}
        {% if label is not same as(false) and label is empty %}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {% endif %}
        {{- widget|raw }}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {% if form.parent.vars.multiple %}
                <span></span>
            {% endif %}
            {{ label is not same as(false) ? (translation_domain is same as(false) ? label : label|trans({}, translation_domain)) -}}
        </label>
    {% endif %}
{%- endblock -%}

{%- block _applicant_answers_entry_answers_metadata_entry_widget -%}
    <span class="item">
    {% if form.parent.vars.multiple %}
        {% set widget =  block('_applicant_answers_entry_answers_metadata_entry_checkbox_widget') %}
    {% else %}
        {% set widget =  block('_applicant_answers_entry_answers_metadata_entry_radio_widget') %}
    {% endif %}

    {{- form_label(form, null, { widget: widget }) -}}
    </span>
{%- endblock -%}

{%- block _applicant_answers_entry_answers_metadata_entry_checkbox_widget -%}
    <input  type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock -%}

{%- block _applicant_answers_entry_answers_metadata_entry_radio_widget -%}
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock -%}

{%- block _applicant_documents_entry_label -%}{%- endblock -%}

{%- block _applicant_documents_entry_documentFile_label -%}
    <label for="{{ id }}">{{ 'form.applicant.documents.btn_browse_documents'|trans({'%document%': form.parent.vars.data.jobDocument.getDocumentTypeLabel()|trans}) }}</label>
{%- endblock -%}

{% block _applicant_review_videos_widget %}

    <div class="video" class="list-applicant-video">
    <div id="feature">
    {% for child in form %}
        <div class="{% if loop.index == 1 %} active {% endif %} application-video" id="application-video-player-{{child.vars.data.id}}-{{loop.index}}">
            <div class="videocontrol">
                <a class="pause-play play">
                    <div class="play-pause-video">
                        <button data-video="applicant-video-{{child.vars.data.id}}-{{loop.index}}" class='play-pause'>{{loop.index}}</button>
                        <p>{{child.vars.data.questionVideo}}</p>
                    </div>
                </a>
            </div>
            <video width="850"  id="applicant-video-{{child.vars.data.id}}-{{loop.index}}" class="video_background videoPlayer {% if child.vars.data.converted == constant('VIDEO_NOT_CONVERTED', child.vars.data) %} not-converted {% endif %} " volume="5" controls="controls" preload="auto">
                 
                  {% if child.vars.data.converted == constant('VIDEO_CONVERTED', child.vars.data) %}
                   <source src="{{vich_uploader_asset(child.vars.data, 'videoFile', 'AppBundle\\Entity\\ApplicantVideo')|replace({'.webm': '.mp4'}) }}" type="video/mp4"/>
                  {% endif %}
                   <source src="{{ vich_uploader_asset(child.vars.data, 'videoFile') }}" type="video/webm" />
            </video>
            <div class="message-converted {% if child.vars.data.converted == constant('VIDEO_NOT_CONVERTED', child.vars.data) %} message-not-converted {% endif %}"> Convert in progress...</div>
            <div class="written-answer">
            
            <p>{{ child.vars.data.writtenAnswer}}</p>
        </div>
        <div class="textarea-note">
            <p>notes</p>
            {{ form_row(child.note) }}
            <i class="candidate"></i>
        </div>
    </div>
    {% endfor %}
     </div>
    </div>

    <div class="applicant-review-questions">
    {% for child_2 in form %}

            <div data-idapplicant="{{child_2.vars.data.id}}-{{loop.index}}" id="wrapper-question-item-{{loop.index}}" class="wrapper-question-item {% if loop.index == 1 %} active  {% endif %} ">
                <div  class="question-items">
                    <p class="question-text"><span>{{loop.index}}</span> {{child_2.vars.data.questionVideo}}</p>
                        {% if loop.first %}
                            <p class="label-select now-playing">now playing</p>
                        {% else %}
                        <p class="label-select watch-label">{{'interview.check.watch'|trans}}</p>
                        {% endif %}

                    {{ form_row(child_2.rate) }}
                </div>
            </div>
    {% endfor %}
     <div class="cnt-save">
        <button  type="submit" id="submit-applicant-review" class="save">save</button>
    </div>
    </div>
{% endblock %}

{%- block _af_questions_entry_widget -%}
{% spaceless %}
    {% if form.vars.data.type == constant('TYPE_DROPDOWN', form.vars.data) %}
        <div class="dropdown-question">
            <p class="title-checkbox">
                <span>{{ form.vars.data.order }}</span>{{ form.vars.data.question }}
            </p>
            {{ form_widget(form.a) }}
        </div>
    {% endif %}

    {% if form.vars.data.type == constant('TYPE_RADIO', form.vars.data) %}
        <div class="choose-one-answer">
            <p class="title-radio"><span>{{ form.vars.data.order }}</span>{{ form.vars.data.question }}</p>
            <div class="radio-items">
                {{ form_widget(form.a) }}
            </div>
        </div>
    {% endif %}

    {% if form.vars.data.type == constant('TYPE_CHECKBOX', form.vars.data) %}
        <div class="choose-multiple-answer">
            <p class="title-checkbox"><span>{{ form.vars.data.order }}</span>{{ form.vars.data.question }}</p>
            <div class="checkbox-items">
                {{ form_widget(form.a) }}
            </div>
        </div>
    {% endif %}
{% endspaceless %}
{%- endblock -%}

{%- block _af_questions_entry_a_entry_widget -%}
    {% if form.parent.vars.multiple %}
        {% set widget =  block('_af_questions_entry_a_entry_checkbox_widget') %}
    {% else %}
        {% set widget =  block('_af_questions_entry_a_entry_radio_widget') %}
    {% endif %}

    {{- form_label(form, null, { widget: widget }) -}}
{%- endblock -%}

{%- block _af_questions_entry_a_entry_checkbox_widget -%}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock -%}

{%- block _af_questions_entry_a_entry_radio_widget -%}
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock -%}

{%- block _af_questions_entry_a_entry_label -%}
    {# Do not display the label if widget is not defined in order to prevent double label rendering #}
    {% if widget is defined %}
        {% set label_attr = label_attr|merge({'for': id}) %}

        {% if required %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if parent_label_class is defined %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) %}
        {% endif %}
        {% if label is not same as(false) and label is empty %}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {% endif %}
        {{- widget|raw }}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {% if form.parent.vars.multiple %}
                <span></span>
            {% endif %}
            {{ label is not same as(false) ? (translation_domain is same as(false) ? label : label|trans({}, translation_domain)) -}}
        </label>
    {% endif %}
{%- endblock -%}

{%- block _applicant_reffered_widget -%}
<div class="container-reffered">
<div class="reffered yes">
    <input id="reffered-yes" type="radio" {{ block('widget_attributes') }} value="yes"/>
    <label for="reffered-yes">{{'profile.home.yes'|trans}}</label>
</div>

<div class="reffered no">
    <input id="reffered-no" type="radio"  {{ block('widget_attributes') }} value="no" checked/>
    <label for="reffered-no">{{'profile.home.no'|trans}}</label>
</div>
</div>

{%- endblock -%}
