{% extends 'layout.html.twig' %}

{% block header %}
    <header class="header">
        {% include 'Partials/topbar.html.twig'%}
    </header>
{% endblock %}

{% block global_wrapper_classes %}preview-job{% endblock %}

{%- block body_css -%}
    {% if preview %}
        {% set bgTexture = job.backgroundTexturePreview %}
        {% set bgColor = job.backgroundColorPreview %}
    {% else %}
        {% set bgTexture = job.backgroundTexture %}
        {% set bgColor = job.backgroundColor %}
    {% endif %}

    background: {{ bgColor }}{% if bgTexture %} url('{{ vich_uploader_asset(bgTexture, 'textureFile') }}'){% endif %};
{%- endblock -%}

{% block content %}
    {% set request = request ?: app.request %}

    <section class="content-container">
          {% if preview %}
          
            {% if job.companyLogoFilePreview %}   
                <div class="top-image">
                <img  class="center-block img-responsive" src="{{ vich_uploader_asset(job, 'companyLogoFilePreview')|imagine_filter('job_company_logo') }}" alt="{{ job.title }}">
                </div>
            {% endif %}
          {% else %}
            {% if job.companyLogo %}
                <div class="top-image">
                    <img  class="center-block img-responsive" src="{{ vich_uploader_asset(job,'companyLogoFile') }}" alt="{{ job.title }}" width="317">
                </div>
            {% endif %}
          {% endif %}
        <div class="container">
            <div class="job-name">
                <h2>{{job.title}}<a id="btn-full-description" href="#">{{'profile.home.description'|trans}}</a></h2>
                <p class="mini-description">{{ job.description|truncate(50)|nl2br }}</p>
                <p class="full-description hide">{{ job.description|nl2br }}</p>
            </div>
            <div class="login-with-socials">
                <ul>
                    <li class="with-facebook">
                        <a href="{{ url('dcs_opauth_connect', {'strategy': 'facebook', 'next': url(request.attributes.get('_route'), request.attributes.get('_route_params'))}) }}">
                            <button>{{'form.login'|trans}} Facebook</button>
                        </a>
                    </li>
                    <li class="with-twitter">
                        <a href="{{ url('dcs_opauth_connect', {'strategy': 'twitter', 'next': url(request.attributes.get('_route'), request.attributes.get('_route_params'))}) }}">
                            <button>{{'form.login'|trans}} Twitter</button>
                        </a>
                    </li>
                    <li class="with-linkedin">
                        <a href="{{ url('dcs_opauth_connect', {'strategy': 'linkedin', 'next': url(request.attributes.get('_route'), request.attributes.get('_route_params'))}) }}">
                            <button>{{'form.login'|trans}} Linkedin</button>
                        </a>
                    </li>
                    <li class="with-gplus">
                        <a href="{{ url('dcs_opauth_connect', {'strategy': 'google', 'next': url(request.attributes.get('_route'), request.attributes.get('_route_params'))}) }}">
                            <button>{{'form.login'|trans}} google-plus</button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-preview-job-content">
            {{ form_start(form) }}
            <div role="form">
                <div class="container">
                    {% if app.session.flashbag.peekAll|length > 0 %}
                        {% for flash_message in app.session.flashbag.get('success') %}
                            {% if loop.first %}
                                <div class="big-alert">
                                   <div class="alert green-alert">
                                       <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                            {% endif %}

                                        <span>{{ flash_message|trans }}</span>

                            {% if loop.last %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        {% for flash_message in app.session.flashbag.get('warning') %}
                            {% if loop.first %}
                                <div class="big-alert">
                                   <div class="alert red-alert">
                                       <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                            {% endif %}

                                        <span>{{ flash_message|trans }}</span>

                            {% if loop.last %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        {% for flash_message in app.session.flashbag.get('notice') %}
                            {% if loop.first %}
                                <div class="big-alert">
                                   <div class="alert orange-alert">
                                       <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                            {% endif %}

                                        <span>{{ flash_message|trans }}</span>

                            {% if loop.last %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {{ form_errors(form) }}
                    <div class="form-group info">
                        <label for="first-name" class="label-text">{{'preview.field.first_name'|trans}}</label>
                        <div class="input-icon">
                            {{form_row(form.firstname)}}
                            <span class="icon-input"> <i class="fa fa-user" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="form-group info right-input">
                        <label for="last-name" class="label-text">{{'preview.field.last_name'|trans}}</label>
                        <div class="input-icon">
                                {{form_row(form.lastname)}}
                            <span class="icon-input"><i class="fa fa-user" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="form-group info">
                        <label for="email" class="label-text">{{'preview.field.email'|trans}}</label>
                        <div class="input-icon">
                                {{form_row(form.email.first)}}
                            <span class="icon-input"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="form-group info right-input">
                        <label for="confirm-email" class="label-text">{{'preview.field.confirm_email'|trans}}</label>
                        <div class="input-icon">
                            {{form_row(form.email.second)}}
                            <span class="icon-input"> <i class="fa fa-user" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="form-group info right-input">
                        <label for="confirm-email" class="label-text">{{'preview.field.picture'|trans}}</label>
                            {{form_row(form.applicantPictureFile)}}
                    </div>
                    <div class="small-input">
                        <div class="form-group info address-form">
                            <label for="address" class="label-text">{{'preview.field.address'|trans}}</label>
                            <div class="input-icon">
                                {{form_row(form.address)}}
                                <span class="icon-input"> <i class="fa fa-location-arrow" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <div class="form-group info city-form right-input">
                            <label for="city" class="label-text ">{{'preview.field.city'|trans}}</label>
                            <div class="input-icon">
                                {{form_row(form.city)}}
                                <span class="icon-input"> <i class="fa fa-map-marker" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <div class="form-group info postal-code-form">
                            <label for="postal-code" class="label-text">{{'preview.field.postal_code'|trans}}</label>
                            <div class="input-icon">
                                {{form_row(form.zipcode)}}
                                <span class="icon-input"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <div class="form-group info phone-form right-input">
                            <label for="phone" class="label-text">{{'preview.field.phone'|trans}}</label>
                            <div class="input-icon">
                                {{form_row(form.phone)}}
                                <span class="icon-input"><i class="fa fa-phone" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="download-file">
                        {{ form_errors(form.documents) }}
                        {{ form_widget(form.documents) }}
                        {#
                            <div class="download-word download-item">
                                <img src="{{ asset('images/img-word.png') }}" class="center-block">
                                <button id="browse-word" class="browse">Click Here to Browse for Your Resume</button>
                                <div class="doc-bottom">
                                    <div class="doc-info">
                                        <p class="file-name">Resume.doc</p>
                                        <p class="size-file">55kb</p>
                                        <p class="date-file">01/01/16</p>
                                    </div>
                                    <div class="delete">
                                        <button>delete</button>
                                    </div>
                                </div>
                            </div>
                            <!-- ehooooo Delete me apres -->
                            <div id="uploadLogo" style="display: none">
                                <span class="btn-upload-logo"></span>
                            </div>
                            <!-- ehooooooo Delete me apres -->

                            <div class="download-pdf download-item">
                                <img src="{{ asset('images/img-pdf.png') }}" class="center-block">
                                <button id="browse-pdf" class="browse">Click Here to Browse for Your Resume</button>
                                <div class="doc-bottom">
                                    <div class="doc-info">
                                        <p class="file-name">Resume.doc</p>
                                        <p class="size-file">55kb</p>
                                        <p class="date-file">01/01/16</p>
                                    </div>
                                    <div class="delete">
                                        <button>delete</button>
                                    </div>
                                </div>
                            </div>
                        #}
                    </div>
                    <div class="who-referred-you">
                        <div class="form-group referred-person">
                            <label for="referred-person" class="label-text">{{'job.applicant.refere'|trans}}</label>
                            {{form_row(form.reffered)}}
                        </div>
                        <div class="form-group right-input info-referred-person">
                            <label for="info-referred-person" class="label-text">{{'preview.field.who'|trans}}</label>
                            {{form_row(form.referralDescription)}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-bottom"></div>
            <div class="container no-padding">
                {{ form_errors(form.answers) }}
                {{ form_widget(form.answers) }}
                <input type="submit" value="{{'preview.field.finish'|trans}}">
            </div>

            {{form_end(form)}}
        </div>
    </section>
{% endblock %}
