{% extends 'layout.html.twig' %}

{% block header %}
    <header class="header">
        {% include 'Partials/topbar.html.twig'%}
    </header>
{% endblock %}

{% block global_wrapper_classes %}preview-job{% endblock %}

{%- block body_css -%}
    background: {{ color }}{% if job.backgroundTexture %} url('{{ vich_uploader_asset(bgTexture, 'textureFile') }}'){% endif %};
{%- endblock -%}

{% block content %}
    <section class="content-container">
        <div class="top-image">
            <img  class="center-block img-responsive" width="300" src="{{ asset('images/your-logo-here.png') }}" alt="AdelphaLabs job">
        </div>
        <div class="content">
            <div class="container">
                 <div class="job-name">
                    <h2>{{ job.title }}<a href="">{{'profile.home.description'|trans}}</a></h2>
                    <p>{{ job.description|nl2br }} {{ job.title }}.</p>
                </div>
                <div class="login-with-socials">
                    <ul>
                        <li class="with-facebook">
                            <a href="#">
                                <button>{{'form.login'|trans}} Facebook</button>
                            </a>
                        </li>
                        <li class="with-twitter">
                            <a href="#">
                                <button>{{'form.login'|trans}} Twitter</button>
                            </a>
                        </li>
                        <li class="with-linkedin">
                            <a href="#">
                                <button>{{'form.login'|trans}} Linkedin</button>
                            </a>
                        </li>
                        <li class="with-gplus">
                            <a href="#">
                                <button>{{'form.login'|trans}} google-plus</button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
                <div class="form-preview-job-content">
                    <div role="form">
                        <div class="container">
                            <div class="form-group info">
                                <label for="first-name" class="label-text">first name</label>
                                <div class="input-icon">
                                    <input type="text" class="form-control" id="first-name">
                                    <span class="icon-input"> <i class="fa fa-user" aria-hidden="true"></i></span>
                                </div>
                            </div>
                            <div class="form-group info right-input">
                                <label for="last-name" class="label-text">last Name</label>
                                <div class="input-icon">
                                    <input type="text" class="form-control" id="last-name">
                                    <span class="icon-input"><i class="fa fa-user" aria-hidden="true"></i></span>
                                </div>
                            </div>
                            <div class="form-group info">
                                <label for="email" class="label-text">email</label>
                                <div class="input-icon">
                                    <input type="text" class="form-control" id="email">
                                    <span class="icon-input"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                                </div>
                            </div>
                            <div class="form-group info right-input">
                                <label for="confirm-email" class="label-text">confirm email</label>
                                <div class="input-icon">
                                    <input type="email" class="form-control" id="confirm-email">
                                    <span class="icon-input"> <i class="fa fa-user" aria-hidden="true"></i></span>
                                </div>
                            </div>
                            <div class="small-input">
                                <div class="form-group info address-form">
                                    <label for="address" class="label-text">address</label>
                                    <div class="input-icon">
                                        <input type="text" class="form-control" id="address">
                                        <span class="icon-input"> <i class="fa fa-location-arrow" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                                <div class="form-group info city-form right-input">
                                    <label for="city" class="label-text ">city:</label>
                                    <div class="input-icon">
                                        <input type="text" class="form-control" id="city">
                                        <span class="icon-input"> <i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                                <div class="form-group info postal-code-form">
                                    <label for="postal-code" class="label-text">postal code</label>
                                    <div class="input-icon">
                                        <input type="text" class="form-control" id="postal-code">
                                        <span class="icon-input"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                                <div class="form-group info phone-form right-input">
                                    <label for="phone" class="label-text">phone</label>
                                    <div class="input-icon">
                                        <input type="text" class="form-control" id="phone">
                                        <span class="icon-input"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="download-file">
                                <div class="download-word download-item">
                                    <img src="{{ asset('images/img-word.png')}}" class="center-block">
                                    <button id="browse-word" class="browse">Click Here to Browse for Your Resume</button>
                                    <div class="doc-bottom">
                                        <div class="doc-info">
                                            <p class="file-name">Resume.doc</p>
                                            <p class="size-file">55kb</p>
                                            <p class="date-file">01/01/16</p>
                                        </div>
                                        <div class="delete">
                                            <button>delete</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="download-pdf download-item">
                                    <img src="{{ asset('images/img-pdf.png')}}" class="center-block">
                                    <button id="browse-pdf" class="browse">Click Here to Browse for Your Resume</button>
                                    <div class="doc-bottom">
                                        <div class="doc-info">
                                            <p class="file-name">Resume.doc</p>
                                            <p class="size-file">55kb</p>
                                            <p class="date-file">01/01/16</p>
                                        </div>
                                        <div class="delete">
                                            <button>delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="who-referred-you">
                                <div class="form-group referred-person">
                                    <label for="referred-person" class="label-text">did someone refer you? if so, who?</label>
                                    <input type="text" class="form-control" id="referred-person">
                                </div>
                                <div class="form-group right-input info-referred-person">
                                    <label for="info-referred-person" class="label-text">please tell us about the person who referred you</label>
                                    <input type="text" class="form-control" id="info-referred-person">
                                </div>
                            </div>
                        </div>
                  </div>

                    <div class="border-bottom"></div>
                    <div class="container no-padding">
                        <div class="form-group short-answer-form">
                            <label for="short-answer" class="label-answer"><span>1</span>Short answer Question here, short answer question here.</label>
                            <input  type="text" class="form-control short-answer-input" id="short-answer" placeholder="example answer here">
                        </div>
                        <div class="form-group long-answer-form">
                            <label for="long-answer" class="label-answer"><span>2</span>Long answer question here, long answer question here.</label>
                            <textarea rows="6" id="long-answer" class="form-control" placeholder="Example answer here"></textarea>
                        </div>
                        <div class="choose-one-answer">
                            <p class="title-radio"><span>3</span>Choose 1 question here</p>
                            <div class="radio-items">
                                <input id="radio1" type="radio" name="radio1" value="" checked>
                                <label for="radio1" class="label-radio">Answer 1</label>
                                <input id="radio2" type="radio" name="radio1" value="">
                                <label for="radio2" class="label-radio">Answer 1</label>
                                <input id="radio3" type="radio" name="radio1" value="">
                                <label for="radio3" class="label-radio">Answer 1</label>
                                <input id="radio4" type="radio" name="radio1" value="">
                                <label for="radio4" class="label-radio">Answer 1</label>
                            </div>
                        </div>
                        <div class="choose-multiple-answer">
                            <p class="title-checkbox"><span>3</span>Choose multiple question here</p>
                            <div class="checkbox-items">
                                <input id="checkbox1" type="checkbox" name="checkbox1" value="">
                                <label for="checkbox1" class="label-checkbox"><span></span>Answer 1</label>
                                <input id="checkbox2" type="checkbox" name="checkbox2" value="">
                                <label for="checkbox2" class="label-checkbox"><span></span>Answer 1</label>
                                <input id="checkbox3" type="checkbox" name="checkbox3" value="">
                                <label for="checkbox3" class="label-checkbox"><span></span>Answer 1</label>
                                <input id="checkbox4" type="checkbox" name="checkbox4" value="">
                                <label for="checkbox4" class="label-checkbox"><span></span>Answer 1</label>
                            </div>
                        </div>
                        <div class="dropdown-question">
                            <p class="title-checkbox"><span>3</span>Dropdown question here</p>
                            <select class="form-control" id="sel1">
                                <option>Drop down</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <input type="submit" value="finish">
                    </form>
                  </div>
                </div>
            </div>
    </section>
{% endblock %}
