/* delete me */


/* end */
.modal-content{
  border-top:7px solid #00aeef;
}

.modal-title{
  color:$color_title;
  font-size:30px;
  font-family:$font_lato;
  margin-bottom:20px;
  span{
    color:#959595;
    font-size:16px;
  }
  strong{
    font-family:$font_lato_black;
  }

}

button.close{
  width:180px;
  height:30px;
  background: #bebebe;
  color:#fff;
  font-family:$font_lato_bold;
  font-size:14px;
  opacity:1;
  line-height:30px;
  text-shadow: none;

  span{
    float: left;
    width:30px;
    height:100%;
    text-align: center;
    position: relative;
      &:after{
        content: ' ';
        width:2px;
        height:28px;
        position: absolute;
        right:0;
        background: transparent url(images/bg-close.png) no-repeat;
      }
  }

  &:hover{
    color:$blue-clear;
  }
}

.modal-footer{
  clear: both;
}

.tab-content{
  padding:18px;
}
/* 71px 52px 20px 53px */
#configure-job-step-1{
  .modal-header{
    padding:71px 52px 20px 53px;
    position: relative;

    button.close{
      position: absolute;
      top:16px;
      right:17px;
    }
  }
  .modal-body{
    padding:52px 52px 30px 53px;
    float: left;
    width:100%;
  }

  .modal-footer{
    padding:30px 52px 30px 53px;
  }
}