{% extends '::Email/layout.html.twig' %}

{%- block title %}
    {{ 'applicant.email.subject.job_apply'|trans }}
{% endblock -%}

{%- block subject %}
      {{ 'applicant.email.subject.thank_you_apply'|trans }}
{% endblock -%}

{% block content -%}
    <table>
        <tr>
            <td>
                <p>{{'email.hired.title1'|trans}} {{ applicant.firstname }},</p>
                <p>{{'email.job.content1'|trans}}</p>
                <p>
                    <strong>{{ job.companyName }}</strong>
                </p>
            </td>
        </tr>
    </table>
{%- endblock %}
