{% extends '::Email/layout.html.twig' %}

{%- block subject %}
    {{ 'applicant.email.subject.hired'|trans({'%job_title%': job.title}) }}
{% endblock -%}

{%- block title %}
    {{ block('subject') }}
{% endblock -%}

{% block body -%}
    <table>
        <tr>
            <td>
                <p>{{'email.hired.title1'|trans}}</p>
                <h2>{{'email.hired.title2'|trans}}</h2>
                <p>{{'email.hired.content'|trans}}</p>
            </td>
        </tr>
    </table>
{%- endblock %}
