{% extends '::Email/layout.html.twig' %}

{%- block subject %}
    {{ 'applicant.email.subject.interview_completed'|trans }}
{% endblock -%}

{%- block title %}
    {{ block('subject') }}
{% endblock -%}

{% block content -%}
    <table>
        <tr>
            <td>
                <p>{{'email.hired.title1'|trans}} {{ applicant.firstname }},</p>
                <p>{{'email.interview.content1'|trans}}</p>
                <h3>{{ applicant.job.companyName }}</h3>
            </td>
        </tr>
    </table>
{%- endblock %}
