{% extends '::Email/layout.html.twig' %}

{%- block subject %}
    {{ 'applicant.email.subject.invite'|trans }}
{% endblock -%}

{%- block title %}
    {{ block('subject') }}
{% endblock -%}

{% block content -%}
        <table>
        <tr>
            <td>
                <p>{{'email.hired.title1'|trans}} {{ applicant.firstname }},</p>
                <p>{{'email.invite.content1'|trans}}
                </p>
                <p>{{'email.invite.content2'|trans}}: </p>
                <!-- button -->
                <table class="btn-primary" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td>
                            <a href="{{ url('applicant_interview', {'token': token})|replace({'http://': 'https://'}) }}">{{'email.invite.join'|trans}}</a>
                        </td>
                    </tr>
                </table>
                <!-- /button -->
                <p>{{'email.invite.content3'|trans}}</p>
                <p>{{'email.invite.content4'|trans}} : <strong>{{deadline|date('m/d/Y H:i')}}</strong>.</p>
                <p>
                    {{'email.invite.content5'|trans}}<br><strong>{{ applicant.job.companyName }}</strong>
                </p>
            </td>
        </tr>
    </table>
{%- endblock %}
