{% extends '::Email/layout.html.twig' %}

{%- block subject %}
    {{ 'applicant.email.subject.rejection_advanced_no'|trans }}
{% endblock -%}

{%- block title %}
    {{ block('subject') }}
{% endblock -%}

{% block content -%}
    <table>
        <tr>
            <td>
                <p>{{'email.hired.title1'|trans}} {{ applicant.firstname }},</p>
                <p>{{'email.rejection_advanced.content1'|trans}}</p>
                <p>
                    <strong>{{ applicant.job.companyName }}</strong>
                </p>
            </td>
        </tr>
    </table>
{%- endblock %}
