<!--  FOOTER SECTION -->
{#}
    <footer class="footer">
        <div class="container">
            <div class="haystack-footer col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="http://adelphalabs.com">
                    <img src="{{ asset('images/logo.png')}}" alt="{{ 'golbal.sitename'|trans }}">
                </a>
                <p>
                    Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                    lobortis nisl ut aliquip. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper lobortis nisl ut aliquip. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                    lobortis nisl ut aliquip.
                </p>
            </div>
            <div class="footer-menu col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div>
                    <h2>Menu</h2>
                    <ul>
                        <li><a href="{{ path('jobs_list') }}">Dashboard</a></li>
                        <li><a href="{{ path('job_create') }}">Create a Job</a></li>
                        <li><a href="#">Why AdelphaLabs?</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Sign-Up</a></li>
                    </ul>
                </div>
            </div>
            <div class="useful-links col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div>
                    <h2>Useful Links</h2>
                    <ul>
                        <li><a href="{{ path('jobs_list') }}">Dashboard</a></li>
                        <li><a href="{{ path('job_create') }}">Create a Job</a></li>
                        <li><a href="#">Why AdelphaLabs?</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Sign-Up</a></li>
                    </ul>
                </div>

            </div>
            <div class="icon-social col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <ul>
                    <li><a href="{{ facebook_page_url ? facebook_page_url : '#' }}"><img src="{{ asset('images/icons/social/facebook.png') }}" alt="Facebook"></a></li>
                    <li><a href="{{ twitter_profile_url ? twitter_profile_url : '#' }}"><img src="{{ asset('images/icons/social/twitter.png') }}" alt="Twitter"></a></li>
                    <li><a href="{{ google_plus_page_url ? google_plus_page_url : '#' }}"><img src="{{ asset('images/icons/social/googleplus.png') }}" alt="Google plus"></a></li>
                    {#<li><a href="#"><img src="{{ asset('images/icons/social/flicker.png') }}" alt="Flicker"></a></li>#}
               {#} </ul>
            </div>
        </div>
    </footer>{#}
    <!-- END FOOTER SECTION -->
    <!-- COPYRIGHT -->
    <div class="copyright">
        <div class="container">
            <p>© {{ "now"|date("Y") }} <a href="http://adelphalabs.com/">{{ 'global.sitename'|trans }}</a> {{ 'global.copyright'|trans }}</p>
        </div>
    </div>
    <!--  END COPYRIGHT -->
