<div class="logo">
    <a href="{{ path('homepage') }}"> <img src="{{ asset('images/logo.png') }}" alt="{{ sitename }}"> </a>
</div>

<div class="menu-wrapper">
    <div class="navbar-header">
        <button type="button" class="burger-menu" data-target="menu-sidebar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <nav class="toogle-menu">
        <div id="menu-sidebar" class="menu-sidebar">
            <ul>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li><a href="#">Link 4</a></li>
                <li><a href="#">Link 5</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="content-header">
    <div class="container">
        {% block header_content %}
        {% endblock %}
    </div>
</div>
