<div class="logo">
    <a href="#"> <img src="{{ asset('images/logo.png') }}" alt="AdelphaLabs"> </a>
</div>

{%- block loggged_in -%}{%- endblock -%}

<div class="menu-wrapper">
    <div class="navbar-header">
        <button type="button" class="burger-menu" data-target="menu-sidebar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <nav class="toogle-menu">
        <div id="menu-sidebar" class="menu-sidebar">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <ul>
                    <li><strong><a href="{{ path('dashboard_homepage',{ '_locale' : app.request.attributes.get('_locale') } ) }}">{{'profile.home.dashboard'|trans}}</a></strong></li>
                    <li><strong><a href="{{ path('jobs_list', { '_locale' : app.request.attributes.get('_locale') } )}}">{{'profile.home.list'|trans}}</a></strong></li>
                    <li><strong><a href="{{ path('fos_user_security_logout', { '_locale' : app.request.attributes.get('_locale') } ) }}">{{ 'security.logout'|trans }}</a></strong></li>
                </ul>
            {% endif %}
        </div>
    </nav>
</div>
