@media (max-width: 1200px) {
  .dropzone, #uploadLogo{
    width:100%;
  }
  .step-3-upload-logo{
    margin-right:1%;
    .uploaded-logo{
      margin-bottom:15px;
    }
  }

  .colorPicker .twod, .colorPicker .twod .bg{
    width:360px;
  }
  .colorPicker .extras{
    width:100px;
    margin-top:10px;
  }


  .step-3-upload-logo{
    width:100%;
  }
  .step-3-select-bg{
    width:100%;
  }

  /* Create job step 4*/
  .create-new-link-share .form-group-inline .btn-add-link button{
    min-width:0;
  }
}

@media (max-width: 1111px) {
  .modal-dialog{
    width:100%;
  }

  .create-new-link-share .form-group-inline .show-new-link input[type="text"]{
    font-size:18px;
  }
  .applicant-review-content .modal-header .middle-modal-header{
    width:82%;
  }
}

/**/


@media (max-width: $screen-md) {
  .bl-step{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .colorPicker .oned{
    margin-left:10px;
    margin-right:10px;
  }
  .create-new-link-share .form-group-inline .show-new-link{
    width: 44%;
    margin-left: 1%;
  }
  .create-new-link-share .form-group-inline .input-add-link{
    width:32%;
    margin-left: 1%;
  }
  .create-new-link-share .form-group-inline .show-new-link input[type="text"]{
    font-size:16px;
  }
  .select-length-video{
    clear: both;
  }
  .create-video-content .row-video{
    border-bottom:1px solid $color_header;
    padding-bottom:10px;
    margin-bottom:10px;
  }

  .top-dashboard{
    float: left;
    margin-bottom:20px;
  }
}
@media (max-width: 930px) {
  .answer-applicant-review .modal-body .video{
    width:100%;
  }
  .answer-applicant-review .modal-body .applicant-review-questions{
    width:100%;
  }
  .wrapper-question-item{
    width:33.33% !important;
    float: left;
    margin-bottom:10px;
  }
  .applicant-review-content .save{
    float: left !important;
    margin-left:10px !important;
  }
  .wrapper-question-item{

    &.active{
      background: #00aeef;
      &:before{
        content: ' ';
        display: block;
        width: 0;
        height: 0;
        border-left: 16px solid transparent !important;
        border-right: 16px solid transparent !important;
        border-bottom:16px solid $blue-clear !important;
        position: absolute;
        top: -31px !important;
        left: 38% !important;
      }
    }
  }
}


@media (max-width: $screen-sm) {
  .colorPicker .twod, .colorPicker .twod .bg{
    width:80%;
    margin-right: 5%;
  }
  .colorPicker .extras
  {
    width:100%;
    .colorFields{
      float: left;
    }
  }
  .create-new-link-share .form-group-inline{
    padding-bottom:20px;
    border-bottom:1px solid $color_header;
  }
  .create-new-link-share .form-group-inline .btn-add-link{ width:30%;}
  .create-new-link-share .form-group-inline .input-add-link {width:60%;}
  .create-new-link-share .form-group-inline .show-new-link {width:70%; margin-top:10px;}
  .create-new-link-share .form-group-inline .btn-copy-link {width:30%;margin-top:10px;}

  .dashbooard-job{
    table.table-haystack{
      td{
        padding-top:5px !important;
        padding-bottom:5px !important;
        img{
          height:100%;
        }
      }
    }
  }
  table.table-haystack{
    thead{
      display: block;
      float: left;
      width: 25%;
      position: absolute;

      th{
        width: 100% !important;
        display: block;
        float: left;
        min-height: 47px;
      }
    }
    tbody{
      float: left;
      width: 73%;
      display: block;
      margin-left: 27%;
    }

    tr{
      display: block;
      margin-bottom: 20px;
    }
    td{
      display: block;
      text-align: left;
    }
  }
  .company-dashboard .dashboard-content .radio-dashboard , .company-dashboard .dashboard-content table .edit-link{
    text-align: left;;
  }

  .loggged-in {
    position: absolute;
    left: 5px;
    top: 100px;
  }
  .job-dashboard .img-person{
    width:100% !important;
  }

  .content-video-interview .second-content-video-interview .video{
    width:100%;
  }
  .content-video-interview .second-content-video-interview .right-video-content{
    width:100%;
    top:20px;
  }
  .content-video-interview .answer-video{
    margin-top: 30px;
  }
  .content-video-interview .second-content-video-interview .container-video{
    width:100%;
  }
  .time-remaining{
    float: left !important;
  }
  .video-interview
  {
    .left-video-content{
      width:100%;
    }
    .right-video-content{
      width:100%;
    }
    .video-interview-step{
      top:0;
    }
  }

  .top-image{
    float: left;
    margin: auto;
    width: 100%;
    position: relative;
    top: 45px;
    height: 285px;
  }
  .applicant-review-content .modal-header .middle-modal-header{
    width:100%;
  }

  .answer-applicant-review .written-answer{
    width:100%;
  }
  .answer-applicant-review .textarea-note{
    width:100%;
    padding:15px;
  }
}

@media (max-width: $screen-xs) {
  .colorPicker .twod, .colorPicker .twod .bg{
    margin-right:2%;
  }

  .jobs-links ul li{
    clear: both;
    margin-bottom:15px;
    margin-left: 25%;
  }


  table.table-haystack {
    thead {
      display: block;
      float: left;
      width: 100%;
      position: relative;
    }
    tbody {
      float: left;
      width: 100%;
      display: block;
      margin-left:0;
    }
  }

  .wrapper-question-item{
    width:100% !important;
  }
  .play-pause-video p{
    font-size:16px;
  }
  .applicant-review-content .modal-footer{
    text-align: center;
  }
  .applicant-review-content .cancel-back{
    display: block;
    margin: auto;
    margin-bottom: 15px
  }
  .applicant-review-content .save{
    float: none !important;
  }
}


/* Create job step 4*/
