@media (max-width: 1200px) {
  .signup-nav .navbar-nav > li > a{
    font-size:14px;
    padding:0 10px;
  }
  .bl-step{
    height: 320px;
  }
}
@media (max-width: $screen-md) {
  .steps-create-job .steps ul li.active:before{
    display: none;
  }
  .form-block-left{ width:100%; }
  .form-block-right{ width:100%;margin-left: 0;
    margin-top:15px; }


  .navbar-signup.ms-open{
    webkit-transform: translateX(0) !important;
    -moz-transform: translateX(0) !important;
    -ms-transform: translateX(0) !important;
    -o-transform: translateX(0) !important;
    transform: translateX(0) !important;
  }
  .navbar-signup{
    background: #30323c;
    position: fixed;
    top: 0;
    right: 0;
    width: 270px;
    height: 100%;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -ms-transition: -ms-transform .5s;
    -o-transition: -o-transform .5s;
    transition: transform .5s;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    
    ul{
      margin-top:80px;
      margin-left:10px;
      li{
        display: block;
        clear: both;
        a{
          line-height:45px;

        }
      }
    }
  }
  .search-wrapper .icon-search button.btn-search{
    margin-left:16px;
  }
  .navbar-header-signup{
    display: block;
    background : #30323c;
    width:70px;
    height:81px;
    position:absolute;
    top:0;
    right:0;
    z-index:2;
    button{
      background:none;
      border:none;
      width:26px;
      height:15px;
      position:relative;
      top: 0;
      left: 21px;
      -webkit-transition:  left .6s;
      -moz-transition:  left .6s;
      -ms-transition:  left .6s;
      -o-transition: left  .6s;
      transition:  left .6s;

      span{
        position: absolute;
        width: 24px;
        height: 2px;
        background : #fff;
        right:0;
      }
      span:nth-child(1){
        top: 1%;
      }
      span:nth-child(2){
        background : #fff;
        width: 21px;
        height: 2px;
        top: 44%;
      }
      span:nth-child(3){
        background :#fff;
        width: 26px;
        height: 2px;
        bottom:0;
      }
    }
  }
  .bl-step{
    height: 282px;
  }
}

@media (max-width: $screen-sm) {
  .title-page{
    width:100%;
  }
  .header-progress{
    width:100%;
    margin-top:20px;
  }
  .container{
    padding-left:10px;
    padding-right:10px;
  }
}

@media (max-width: $screen-xs) {

  .form-mini-block-left{
    width:100%;
  }
  .form-mini-block-right{
    width:100%;
    margin-left: 0;
    margin-top:15px;
  }
}





