{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('libs/rateyo/min/jquery.rateyo.min.css') }}" rel="stylesheet">
    <link href="{{ asset('libs/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css') }}" rel="stylesheet">

     


    {% block specifics_stylesheets %}{% endblock %}
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% block search %}
        <div id="sb-search" class="sb-search">
            <div class="close-search">x</div>
            <form>
                <input class="sb-search-input" placeholder="{{'form.search'|trans}}" type="search" value="" name="search" id="search">
                <button class="submit-search"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </div>
    {% endblock %}
	<div id="global_wrapper" style="{% block body_css %}{% endblock %}" class="global_wrapper {% block global_wrapper_classes %}{% endblock %}">
		<section class="option-box">
           
                {% if app.request.attributes.get('_locale') == 'fr' %}
                        <a href="{{ path(app.request.attributes.get('_route'),{'slug': app.request.attributes.get('slug'), 'pp': app.request.attributes.get('pp') , '_locale': 'en', 'token': app.request.attributes.get('token')}) }}" title="englais"> <img src="{{ asset('images/eng.png')}}"></a>
                  {% endif %}
                  {% if app.request.attributes.get('_locale') == 'en' %}
                       <a href="{{ path(app.request.attributes.get('_route'),{'slug': app.request.attributes.get('slug'), 'pp': app.request.attributes.get('pp') , 'token': app.request.attributes.get('token')})|replace({'/en':''}) }}" title="francais"> <img src="{{ asset('images/fran.png')}}"></a>
                  {% endif %}
           
         </section>
        {% block header %}{% endblock %}
		{% block content %}{% endblock %}
		{% block footer %}{% endblock %}
	</div>
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('libs/jquery/dist/jquery.min.js') }}"></script>
       <script src="{{ asset('libs/bootstrap-sass/assets/javascripts/bootstrap.min.js') }}"></script>
    <script src="{{ asset('libs/rateyo/min/jquery.rateyo.min.js') }}"></script>
    <script src="{{ asset('libs/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js') }}"></script>
    <script src="{{ asset('libs/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    
   

 <script type="text/javascript">

       $('.gear-check').click(function(){
               $('.color-option').toggle(function() {
                 $(this).animate(4000);});
                    
          });
    </script>
    {% block specifics_javascripts %}{% endblock %}
    <script src="{{ asset('js/detect.min.js') }}"></script>
    <script src="{{ asset('js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('js/app.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}