
{% block content %}
<section class="content-container content-video-interview">
        <div class="top-image">
        <img  class="center-block img-responsive applicant-video-logo-company" src="{{ vich_uploader_asset(applicant.job, 'companyLogoFile') }}" alt="{{ applicant.job.title }}">
        </div>

        <div class="container no-padding">
            <div class="content video-interview">
                <div class="left-video-content">
                    <div class="testing-video content-without-opacity">
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 no-padding">
                            <h2>{{ applicant.fullname }}</h2>
                            <p>{{'interview.pass.title'|trans}}</p>
                        </div>
                    </div>

                </div>
            </div>
            {{form_start(form)}}
            <div class="second-content-video-interview content-without-opacity">
                <div class="video-interview-question">
                        <div class="question-content">
                            <h3>Question <span>{{count + 1 }}</span>{{'interview.pass.of'|trans}} {{applicant.job.questionsVideo|length }}</h3>
                                {% if nextQuestionVideo.question is defined %}
                                <p>{{nextQuestionVideo.question}}</p>
                                {% endif %}
                        </div>
                </div>
                <div class="container-video" data-token="{{applicant.token}}">
                     {% if nextQuestionVideo.timeReadQuestion is defined %}
                    <div class='timer-start-record' data-seconds-left={{nextQuestionVideo.timeReadQuestion}}><span class="text">{{'interview.pass.recording'|trans}} :&nbsp;&nbsp;</span></div>
                    <video data-duration="{{nextQuestionVideo.duration}}" data-time-read-question="{{nextQuestionVideo.timeReadQuestion}}" name="video-question" id="video-question" class="video-js vjs-default-skin"></video>
                    {% endif %}
                </div>

            <div class="buttom-video">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 no-padding">
                                <div class="time-remaining pull-left">
                                    {% if nextQuestionVideo.duration is defined %}
                                        <p class="sec-remaining"><span id="duration" data-seconds-left={{nextQuestionVideo.duration}}>
                                        <span class="duration-non-start">0{{ (nextQuestionVideo.duration / 60)|round(0, 'floor')}}:{% if nextQuestionVideo.duration % 60 == 0 %}00 {% else %} {{nextQuestionVideo.duration % 60 }}{% endif %}</span></span></p>
                                    {% endif %}
                                    <span>{{'interview.pass.remaining'|trans}}</span>
                                </div>
                </div>
                <div class="begin-interview no-padding col-xs-6 col-sm-6 col-md-6 col-lg-6">
                         <button id="next-question" disabled type="submit">{% if (count + 1 ) == applicant.job.questionsVideo|length %}  {{'interview.pass.finish'|trans}} {% else %} {{'interview.pass.next'|trans}} {% endif %}</button>
                </div>
            </div>

            </div>
            {{ form_widget(form.videoFile) }}
            {{ form_rest(form) }}
            {{ form_end(form) }}


        </div>
        {# <div class="wrapper-video-interview"></div> #}
    </section>
{% endblock %}

{% block specifics_javascripts %}
<script src="{{ asset('libs/record-video/js/main.js') }}"></script>
<script src="{{ asset('js/jquery.simple.timer.js') }}"></script>
<script>
    $( document ).ready(function() {
        $('.vjs-device-button').trigger( "click" );
        $('.vjs-record-button').trigger('click');
        var timeReadQuestion = $('#video-question').data('time-read-question');
        $('.timer-start-record').startTimer();
        setTimeout(function(){
            $('.vjs-record-button').trigger('click');
            $('.timer-start-record').remove();
            }, timeReadQuestion*1000);

    });

</script>
{% endblock %}
