{% extends 'layout.html.twig' %}
{% block header %}
    <header class="header">
        {% include 'Partials/topbar.html.twig'%}
    </header>
{% endblock %}

{% block content %}
<div class="container">
    <section class="alerts">
        <div class="big-alert-content">
        <div class="big-alert">
            <div class="alert red-alert">
                <h5>Please update your browser to continue.</h5>
                <span>We recommend for your own safety and convenience,using the latest versions of <a class="link-to-browser" href="https://www.google.com/chrome/browser/desktop/index.html">Chrome</a>, <a class="link-to-browser" href="https://www.mozilla.org/en/firefox/new/">Firefox</a> or 
                <a class="link-to-browser" href="http://www.opera.com/">Opera</a>.</span>
            </div>
        </div>
        </div>
    </section>
</div>

{% endblock %}

{% block footer %}
{% include 'Partials/footer.html.twig' %}
{% endblock %}
