{% extends 'layout.html.twig' %}

{% block header %}
    <header class="header">
        {% include 'Partials/topbar.html.twig'%}
    </header>
{% endblock %}

{% block global_wrapper_classes %}preview-job{% endblock %}
{% block content %}
<section class="content-container">
    <div class="container">
        <div class="alerts" style="margin-top:50px;">
                <div class="small-classic-style">
                <div class="alert warning-message small-alert" style="width:100%;">
                Deadline to do the interview is over
                </div>
        </div>
        </div>
        
    </div>
</section>
{% endblock %}