{% extends 'layout.html.twig' %}

{% block specifics_stylesheets %}
 <link href="{{ asset('libs/record-video/css/video-js.min.css') }}" rel="stylesheet">
 <link href="{{ asset('libs/record-video/css/videojs.record.css') }}" rel="stylesheet">
 <link href="{{ asset('libs/record-video/css/style.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
    <header class="header">
        {% include 'Partials/topbar.html.twig'%}
    </header>
{% endblock %}
{% block global_wrapper_classes %}preview-job{% endblock %}
{% block content %}
    <div id="global-interview-video">
    <section class="content-container">
        <div class="top-image">
        <img  class="center-block img-responsive applicant-video-logo-company" src="{{ vich_uploader_asset(applicant.job, 'companyLogoFile')}}" width="317" alt="{{ applicant.job.title }}">
        </div>
         <div class="container no-padding">
            <div class="content video-interview">
                <div class="left-video-content">
                    <div class="testing-video">
                        <h2>{{ applicant.fullname }}</h2>
                        <p>{{'interview.home.title'|trans}}</p>
                        <div class="video">
                           <video id="video-test" class="video-js vjs-default-skin"></video>
                        </div>
                    </div>

        {# Modal testing Audio  #}
        <div class="modal fade modal-testing-audio" id="modal-test-audio" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="testing-audio">
                        <audio id="audio-test" class="video-js vjs-default-skin"></audio>
                    </div>
                </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        {# end modal testing audio #}

        {# Modal list cameras  #}
        <div class="modal fade modal-listing-cameras" id="modal-list-cameras" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="list-cameras">
                        <ul id="list-choose-camera"></ul>
                    </div>
                </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        {# end Modal list cameras  #}

                </div>
                <div class="right-video-content">
                    <div class="alerts">
                        <div class="solid-color-alert-content">
                            <div class="solid-color-alert">
                                <!-- message if webcam or audio not enabled -->
                            </div>
                        </div>
                    </div>
                    <div class="video-interview-step">
                        <div class="step-item audio-test no-test">
                            <h3>{{'steps.step'|trans}} <span>1</span></h3>
                            <img src="{{asset('images/icons/microphone.png')}}">
                            <button id="btn-test-audio"  class="no-test">{{'interview.home.test.micro'|trans}}</button>
                        </div>
                        <div class="step-item video-test no-test">
                            <h3>{{'steps.step'|trans}} <span>2</span></h3>
                            <img src="{{asset('images/icons/video-camera.png')}}">
                            <button data-toggle="modal" data-target="#modal-list-cameras" id="test-video" class="no-test">{{'interview.home.test.video'|trans}}</button>
                        </div>
                        <div class="text-step">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
                        </div>
                        <div class="begin-interview">
                           <a id="begin-interview-link" class="not-active" data-token="{{applicant.token}}" href="#">{{'interview.home.test.begin'|trans}} <i class="fa fa-check" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div> {# end global interview video #}
    <input type="hidden" value="" id="sourceId" name="sourceId">
{% endblock %}

{% block specifics_javascripts %}
<script src="{{ asset('libs/record-video/js/video.min.js') }}"></script>
<script src="{{ asset('libs/record-video/js/plugins/libvorbis.min.js') }}"></script>
<script src="{{ asset('libs/record-video/js/RecordRTC.js') }}"></script>
<script src="{{ asset('libs/record-video/js/videojs.record.js') }}"></script>
<script src="{{ asset('libs/record-video/js/plugins/videojs.record.libvorbis.js') }}"></script>
<script src="{{ asset('libs/record-video/js/plugins/wavesurfer.min.js') }}"></script>
<script src="{{ asset('libs/record-video/js/plugins/wavesurfer.microphone.min.js') }}"></script>
<script src="{{ asset('libs/record-video/js/plugins/videojs.wavesurfer.min.js') }}"></script>>
<script src="{{ asset('libs/record-video/js/testAudioVideo.js') }}"></script>


{% endblock %}
{% block footer %}
{% include 'Partials/footer.html.twig' %}
{% endblock %}
