{% block content %}
<section class="content-container">
    <div class="container">
        <div class="alerts" style="margin-top:50px;">
                <div class="small-classic-style">
            <div class="alert success-message small-alert" style="width:100%;">
                {{'interview.pass.thankyou'|trans}}
            </div>
        </div>
        </div>
        
    </div>
</section>
{% endblock %}