{% trans_default_domain 'FOSUserBundle' %}
{% extends 'Signup/layout_signup.html.twig' %}

{% block title_page %}
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
{% endblock %}
{% block content %} {%- endblock %}
{% block footer %}
 {% include 'Partials/footer.html.twig' %}
{% endblock %}

