{% extends 'Signup/layout_signup.html.twig' %}

{% block title_page %}
    <h1>{{ 'dashboard.home.title1'|trans }}</h1>
    <p>{{ 'dashboard.home.content'|trans }}</p>
{% endblock %}

{% block step %}
    <div class="cercle-progress cercle-progress-step-1"></div>
    <div class="steps">
        <ul>
                <li><strong><strong>{{ 'steps.step'|trans }} 1: </strong>{{ 'dashboard.home.stepcontent'|trans }}</li>        </ul>
    </div>
{% endblock %}

{% block title_content %}
   <strong>{{ 'steps.step'|trans }} 1:</strong> ({{ 'interview.pass.of'|trans }} 3): {{ 'steps.title.step_1'|trans }}
{% endblock %}

{% block step_content %}
{{ form_errors(form) }}
{{ form_errors(form.email) }}
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register', 'role': 'form'}}) }}
    <!-- *** FORM ROW *****-->
    <div class="row-form col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="form-block-left">
            <div class="form-group">
                {{ form_label(form.email.first, null, {'label_attr': {'class': 'col-sm-12'}}) }}
                <div class="input-icon">
                    {{ form_widget(form.email.first, {'attr': {'placeholder': 'form.register.email.placeholder'|trans}}) }}
                    <span class="icon-input"><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
        <div class="form-block-right">
            <div class="form-group">
                {{ form_label(form.email.second, null, {'label_attr': {'class': 'col-sm-12'}}) }}
                <div class="input-icon">
                    {{ form_widget(form.email.second, {'attr': {'placeholder': 'form.register.email_confirm.placeholder'|trans}}) }}
                    <span class="icon-input"><i class="fa fa-building" aria-hidden="true"></i></span>
                </div>

            </div>
        </div>
    </div>
    <!-- ******** end FORM ROW  ********* -->

    <!-- *** FORM ROW *****-->
    <div class="row-form col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="form-block-left">
            <div class="form-group">
                {{ form_label(form.plainPassword.first, 'form.register.password.label'|trans, {'label_attr': {'class': 'col-sm-12'}}) }}
                <div class="input-icon">
                    {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'form.register.password.placeholder'|trans}}) }}
                    <span class="icon-input"><i class="fa fa-location-arrow" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
        <div class="form-block-right">
            <div class="form-group">
                {{ form_label(form.plainPassword.second, 'form.register.password_confirm.label'|trans, {'label_attr': {'class': 'col-sm-12'}}) }}
                <div class="input-icon">
                    {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'form.register.password_confirm.placeholder'|trans}}) }}
                    <span class="icon-input"><i class="fa fa-location-arrow" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
    </div>
    <!-- ******** end FORM ROW  ********* -->
    <div class="submit-steps">
        <button type="submit" class="btn btn-step">{{ 'form.button.next_step'|trans }}</button>
    </div>
{{ form_end(form) }}
{% endblock %}
