<div class="top-bar">
    <div class="container">
        <div class="logo-signup">
            <a href="{{ path('homepage')}}"><img src="{{ asset('images/logo.png')}}" alt="{{ 'global.sitename'|trans }}"></a>
        </div>
        <div class="signup-nav">
            <div class="navbar-header-signup">
                <button type="button" class="burger-menu-signup" data-target="menu-sidebar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar navbar-signup">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">{{'global.home.menu.home'|trans}}</a></li>
                    <li><a href="#">{{'global.home.menu.about'|trans}}</a></li>
                    <li><a href="#">{{'global.home.menu.why'|trans}}</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">{{'global.home.menu.sign'|trans}}</a></li>
                </ul>
                <div class="search-wrapper">
                    <div class="icon-search">
                        <button class="btn-search"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
