@media (max-width: 1095px) {
  .my-questions .question .btns-question .btn{
    width: 100%;
    margin-bottom:10px;
  }
  .my-questions .question .qst{
    padding:0 10px;
  }
}
@media (max-width: 1040px) {
  .choose-candidate{
    width:100%;
  }
  .btns-choose-candidate{
    margin-top:15px;
  }
}


@media (max-width: $screen-md) {
  .modal-body , .modal-header , .modal-footer{
    padding:15px !important;
  }
  .modal-header button.close{
    width:30px;
    overflow: hidden;
  }

  .container-type-questions , .container-questions{
    width:100%;
  }

  .types-questions ul li.separator{
    display: block;
    width:100%;
    height:1px;
    background: $blue-clear;
  }
  
  .types-questions ul li{
    display: inline;
  }
  .types-questions .btn{
    max-width:210px;
    margin-bottom: 15px;
  }

  .btns-question{
    width:100%;
    float: left;
    .btn{
      width:30% !important;
      float: left;
    }
    .btn-edit{
      margin-right:2%;
    }
  }
  .my-questions .question .drag-question{
    top:5%;
  }

  .choose-candidate
  {
    .cnt-candidate{
      margin-right: 16px;
    }
    .container-new-document{
      margin-top: 15px;
    }
  }
  .types-questions ul li.help-text{
    display: block;
    width:100%;
  }

}
@media (max-width: $screen-sm) {
  .my-questions .question .btns-question .btn{
    width:50%;
    float: left !important;
  }
  .create-job-footer-modal .preview-question{
    margin-bottom:10px;
  }

  .form-mini-block-left{
    width:100%;
  }
  .add-answer{
    width:100%;
  }
  .form-mini-block-right{
    width:100%;
    margin-right:1%;
  }

  .btns-configure-question .btn{
    margin-bottom:10px;
    margin-top:10px;
  }
}

@media (max-width: $screen-xs) {
  .container-questions .nav-tabs > li{
    width:100%;
    max-width:100%;
  }
  .create-job-footer-modal
  {
    .preview-question{
      width:100%;
    }
    .save-next{
      width:100%;
      margin-left:0 !important;
    }
  }
  .modal-title strong{
    display: block;
  }

}
@media (max-width: 680px) {
  .btns-question .btn{
     width:100% !important;
  }
 
}


