{% extends 'layout.html.twig' %}

{% block header %}
    <header class="header">
        {% include 'Partials/topbar.html.twig'%}
    </header>
{% endblock %}

{% block content %}
<section class="content-container">
    <div class="container">
        <div class="alerts" style="margin-top:50px;">
                <div class="small-classic-style">
            <div class="alert success-message small-alert" style="width:100%;">
               {{'applicant.email.subject.job_apply'|trans}} 
            </div>
        </div>
        </div>
        
    </div>
</section>
{% endblock %}

{% block footer %}
        {% include 'Partials/footer.html.twig'%}
{% endblock %}