{% extends 'Signup/layout_signup.html.twig' %}

{#% block title_page %}
    <h1>One Last Thing.</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
{% endblock %#}
{% block global_wrapper_classes %}login-page{% endblock %}
{% block step_content %}
	{% if error %}
	    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'security.welcome'|trans}}</h3>
                </div>
                <div class="panel-body">
                    <form action="{{ path("fos_user_security_check") }}" method="post" role="form">
                         <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <fieldset>
                            <div class="form-group">
                                <input type="text" id="username" placeholder="{{ 'security.login.username'|trans }}" name="_username" value="{{ last_username }}" required="required" class="form-control" autofocus />
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="{{ 'security.login.password'|trans }}" id="password" name="_password" required="required" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                                </label>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <button type="submit" id="_submit" name="_submit" type="button" class="btn btn-step">{{ 'security.login.submit'|trans }}</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}
