.content-container{
	width:100%;
	float:left;
	padding-top:37px;
	padding-bottom:36px;

	/* Sign up Container */
	&.signup-container{
		background: #f9fafb;
	}
	&.signup-welcome{
		background: #fff;
		padding-bottom:199px;
		padding-top:57px;
	}
}

.submit-steps{
	float: right;
	margin-top:-7px;
}

/*  create job STEP -1 */

.form-container{
	label{
		font-family: $font_lato_bold;
		text-transform: uppercase;
		font-size: 14px;
		color:#2c3e50;
		padding:0;

		span{
			text-transform: lowercase;
		}
	}
}
.row-form{
	margin-bottom:40px;
}
.form-block-left{
	width:49%;
	margin-right:1%;
	float:left;
}

.form-block-right{
	width:49%;
	margin-left:1%;
	float:left;
}
.form-mini-block-left{
	width:49%;
	margin-right:1%;
	float: left;
}
.form-mini-block-right{
	width:49%;
	margin-left:1%;
	float: left;
}

.jobDescription{
	width:100%;
	min-height:126px;
}
/* input and icon */
.input-icon{
	position: relative;
	float: left;
	width:100%;

	span{
		position: absolute;
		right: 15px;
		top: 16px;

	}
}

.title-content{
	margin-bottom:39px;
	font-family:$font_lato;
	strong{
		font-family:$font_lato_black;
	}
}

.signup-container{
	.title-content{
		font-family:$font_lato_light;
	}
	.btn-step{
		text-transform : capitalize;
	}
}


/* end  input and icon */
label.bg-texture > input{ /* HIDE RADIO */
  display:none;
}
label.bg-texture > input + img{ /* IMAGE STYLES */
  cursor:pointer;
}
label.bg-texture > input:checked + img{ /* (CHECKED) IMAGE STYLES */
  border:1px solid #18b0e9;
}
/* ************************************************  Create Job step 4 *********************************************** */
.jobs-links {
	ul{
		list-style: none;
		padding: 0;
		float: left;
		margin: auto;
		width: 100%;
		padding-left: 1.5%;
		li{
			display: block;
			float: left;
			background: #39a0dc;
			width:205px;
			height:205px;
			line-height:205px;
			margin-right:28px;
			text-align: center;
			-webkit-border-radius:50%;
			-moz-border-radius:50%;
			-khtml-border-radius:50%;
			-ms-border-radius:50%;
			border-radius:50%;
			overflow:hidden;
			a{
				font-size:100px;
				display:block;
				.fa{
					color:#fff;

				}
			}
			&.last{
				margin-right:0;

				a{
					display:initial;
				}
			}
		}
	}
}
.message-share-job{
	margin-top:33px;
	float: left;
	p{
		font-family:$font_lato;
		font-size:20px;
	}
}




/****************************  create New Link Share ****************************/

.create-new-link-share{
	float: left;
	margin-top:35px;
	width:100%;
	.link-share{
      margin-bottom: 15px;
      float: left;
      width: 100%;

		.link-labels{

			.label-secondtcol{
				margin-left:17%;
				float: left;
				font-family:$font_lato_bold;
				color:#2c3e50;
				text-transform: uppercase;
				font-size:14px;
				margin-bottom:5px;
			}
		}
    }
	.form-group-inline{
		float: left;
		width:100%;

		.btn-add-link{
			float: left;
			width: 14.5%;
			button{
				background: $color_title;
				color:#ffffff;
				text-transform: uppercase;
				font-family: $font_myriad_reg;
				width:100%;
				min-width: 170px;
				height:45px;
				-webkit-border-radius:5px;
				-moz-border-radius:5px;
				-o-border-radius:5px;
				-moz-border-radius:5px;
				border-radius:5px;
			}
		}
		.input-add-link{
			float: left;
			width:35%;
            margin-left: 1%;

			input[type="text"]{
				width:100%;
			}

		}

		.show-new-link{
			float: left;
			width:38%;
            margin-left:3.4%;

			label{
				font-family:$font_lato_bold;
				color:#2c3e50;
				text-transform: uppercase;
				font-size:14px;
				float:left;

			}

			input[type="text"]{
				width:100%;
				float:left;
				border:none;
				height:24px;
				font-family:$font_lato;
				font-size:18px;
				color:#929292;
                margin-top: -5px;
			}


		}

		.btn-copy-link{
			float: left;
			width:7%;
            margin-top: -3px;
			button {
				width:80px;
				background: #389fdc;
				color:#fff;
				text-transform: uppercase;
				height:45px;
				line-height:45px;
				padding:0;
				font-family:$font_myriad_reg;
				font-size:18px;
				border:none;
				@include border-radius(4px)
			}
		}

	}
}
.add-new-link-share{
	.label-secondtcol{
		margin-left: 0 !important;
	}
	.input-add-link{
		margin-left: 0 !important;
	}
	.btn-add-link{
		margin-left: 2%;
	}
}
.footer-create-new-link{
  float: left;
  width:100%;
	margin-top:75px;
  button{
    background: #929292;
    width:340px;
    height:45px;
    color:#fff;
    text-transform: uppercase;
    font-family:$font_myriad_reg;
    float: right;
    border:none;

    &:hover {
      background: #39a0dd;
      color:#fff;
    }
  }
}
.copy-shortner{
    opacity: 0;
    position: absolute;
    top:-50px;
}

/**************************************** STEP 3 *******************************************/
.dz-message{
  font-family:$font_lato_bold;
  font-size:18px;
  color:#bbbbbd;
  position: absolute;
  bottom: 0px;
  left: 164px;
}

.step-3-upload-logo{
  h5{
    font-size:18px;
    font-family:$font_lato_bold;
    color: $color_title;
	  margin-bottom:33px;
  }

  .btn-upload-logo{
    background: #18b0e9;
    color:#fff;
    font-family:$font_myriad_reg;
    min-width:310px;
    border:none;
    letter-spacing: 0.5px;
    margin-bottom:35px;
    margin-left:5%;
	  height:35px;
	  padding:0;
	  line-height:39px;
  }

  .uploaded-logo{
    float: left;
	  margin-right:5px;
    width:30%;
	  img{
		  border:1px solid grey;
	  }
  }
  .detailles-logo{
    float: left;
	  margin-left: 15px;

	  .size{
		  display: block;
	  }
	  .date{
		  display: block;
	  }
  }
  .btn-delete-logo{
    background: #a30101;
    font-family:$font_lato_bold;
    text-transform: uppercase;
    color:#fff;
    font-size:16px;
    display: block;
    min-width:91px;
    height:26px;
    line-height:26px;
    padding:0;
    text-align: center;
    margin-top:15px;
  }
}

.step-3-upload-logo{
	float: left;
	width:34%;
	margin-right:6%;
}
.step-3-select-bg{
	float: left;
	width:60%;
	overflow: hidden;

}
.colorPicker .extras .hex input{
	font-family:$font_lato;
	font-size:20px;
	color:#929292;
	text-align: center;
}

.colorFields{
	label{
		font-family:$font_lato;
		font-size:11.36px;
		color:red;
		text-transform: uppercase;
		color:#000000;
		font-weight: normal;
	}
	input{
		color:#929292;
		outline:none !important;
	}
}
.or-ligne{
	color:#30323c;
	font-size:18px;
	font-family:$font_lato_bold;
	text-transform: uppercase;
	width:100%;
	padding-left:15%;
}

.bg-job-img{
	margin-top:13px;
	.title-job-bg-img{
		font-size:18px;
		color:#a7a7a7;
		font-family:$font_lato_bold;
	}
}
#create_job_setup_branding_backgroundTexture{
	display:none
}
.job-images-bg{
	margin-top:10px;
	.bg-job{
	display: block;
	float: left;
	border:1px solid #dddddd;
	width:89px;
	height:89px;
	margin-right:13px;

	img{
		width: 100%;
		height: 100%;
	}
}
.bg-job-7{
	margin-right:0;
}
}


.cnt-footer-bg{
	float: right;
	margin-top:25px;
	.btn{
		height:45px;
		line-height:45px;
		text-align: center;
		font-family:$font_myriad_reg;
		font-size:18px;
		color:#fff;
		padding:0;
		margin-bottom:5px;

		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		-o-border-radius:4px;
		-ms-border-radius:4px;
		-webkit-border-radius:4px;
		border-radius:4px;
	}
  .preview-page{
	  background: #03ab8c;
	  min-width:340px;
	  margin-right:8px;

  }
	.save-contonue{
		background: $color_title;
		min-width:270px;
	}
}

/* Welcome Page Content */

.welcome-page-content{

	.wlc-bl{
		width:371px;
		float: left;

		margin-right: 26px;
		.w-content{
			width:100%;
			height:286px;
			@include border-radius(2px);
			border:1px solid #f1f1f1;
			text-align: center;


			.icon{
				width:120px;
				height:120px;
				margin: auto;
				margin-bottom:40px;
			}
			.text{
				font-family:$font_lato_bold;
				font-size:18px;
				color:#fff;
			}

			.title-icon{
				position: relative;
				min-height:40px;
				font-size:24px;
				color: $blue-clear;
				font-family:$font_lato_bold;
				margin-bottom:21px;
				text-align: left;
				padding-left: 59px;

				&:before{
					content: ' ff ';
					background: url(images/text.png) no-repeat;
					width:40px;
					height:40px;
					position: absolute;
					left: 0;


				}
			}
		}

		h3{
			font-family:$font_lato;
			font-size:30px;
			color: #929292;
			text-align: center;
			margin-bottom:31px;
			strong{
				font-family:$font_lato_black;
			}
		}

	}
.take-tour{
	.w-content{background: #a9da88;padding-top: 57px;}
	.icon{background: url(images/take-tour.png) center no-repeat;}
}
	.create-job-action{
		border-bottom:9px solid $blue-clear;
		.w-content{
			background: #fff;
			padding:40px 30px;
			.text{
				color:#ababab;
				font-size:16px;
				text-align: left;
			}

		}
		h3{	color:#000;}

		.link{
			margin-top:15px;
			a{
				color: #222533;
				font-family:$font_lato;
				font-size:18px;
				&:before{
					content:  "\f178";
					font-family:FontAwesome;
					color: #222533;
					margin-right:5px;
				}
			}


		}

	}
	.share-haystack{
		 margin-right: 0;
		.w-content{background: #988aa5;padding-top: 57px;}
		.icon{background: url(images/icon-share-haystack.png) center no-repeat;}

	}
}

/********************** Sign up step ----3 **********************/

.cercle-progress-sign-up-3{
	background: url(images/bg-step-3-signup.png) no-repeat;
}
.login-with-socials{
	float: left;
	width:100%;

	ul{
		padding:0;
		padding-left:2px;
		display: block;
		width:100%;
		float: left;
		li.with-facebook{
			width:281px;
		button{
			background: url(images/login-with-facebook.png) no-repeat;
		}}
		li.with-twitter{
			width:260px;
		button{
			background: url(images/login-with-twitter.png) no-repeat;
		}
		}
		li.with-linkedin{
			width:270px;
			button{
				background: url(images/login-with-linkedin.png) no-repeat;
			}
		}
		li.with-gplus{
			width:280px;
			button{
				background: url(images/login-with-googleplus.png) no-repeat;
			}
		}
		li{
			display: block;
			float: left;
			margin-right:25px;
			height:46px;
			button{
				border:none;
				width:100%;
				height:100%;
				color: transparent;
			}
			&:last-child{margin-right:0;}
		}
	}
}

.billing-informations{
	float: left;
	width:100%;
	margin-top:40px;
	.form-group{
		margin-bottom:30px;
		float: left;
		width:100%;
		label{
			padding:0;
			text-transform: uppercase;
		}
	}
	.optional.form-group{
		label{
			color:#ababab;
		}
	}
	.bi-left{
		width:48.5%;
		float: left;
		margin-right:3.5%;
	}
	.bi-right{
		width:48%;
		float: left;
		&.disabled{	
    	opacity: 0.5;
    	pointer-events: none;
		}
		.title-plan-selected{
			font-size:14px;
			color:#2c3e50;
			font-family:$font_lato_bold;
			margin-bottom:9px;
		}
	}

	.small-input{
		float: left;
		width:53%;
		margin-right:3%;
	}
	.mini-input{
		float: left;
		width:44%;
	}

}
.plans{
	position: relative;
	background: #fff;
	float: left;
	margin-bottom:75px;
	.plan{
		float: left;
		height:80px;
		width:100%;
		background: $blue-clear;
		@include border-radius(5px);
		padding:15px 82px;
		display: none;
		&.selected{
			display: block;
		}

		.plan-name{
			color:#fff;
			background: url(images/haystack-plan.png) no-repeat;
			padding-left:184px;
			font-family:$font_lato_bold;
			text-transform: uppercase;
			font-size:24px;
			min-height:51px;
			padding-top: 8px;
			float: left;
		}
		.plan-price{
			color:#fff;
			font-family:$font_lato;
			font-size:40px;
			float: right;
			margin-top: -5px;
			span{
				font-size:14px;
			}
		}
	}

	.arrow{
		border:none;
		width:30px;
		height:30px;
		background: #2c3e50;
		opacity:0.2;
		color: #fff;
		-webkit-transition: opacity 0.3s;
		-moz-transition: opacity 0.3s;
		-ms-transition: opacity 0.3s;
		-o-transition: opacity 0.3s;
		transition: opacity 0.3s;
		position: absolute;
		top:25px;
		&:hover{
			opacity:1;
		}
		&.prev-arrow{
			left:1px;
		}
		&.next-arrow{
			right:1px;
		}
	}
	.card-charged{
		float: left;
		padding-top:22px;
		border:1px solid #dde6e9;
		padding-bottom:33px;
		border-top:0;
		margin-top: -3px;
		padding-right: 12px;
		h3{
			font-size:14px;
			font-family:$font_lato_bold;
			color: #000;
			text-transform: uppercase;
			margin-top: 10px;
		}
		p{
			font-size:14px;
			color:#ababab;
			font-family:$font_lato;
			line-height: 23px;
		}
		.col-md-11{
			padding-left:0;
		}

		[type="checkbox"]:not(:checked),
		[type="checkbox"]:checked {
			position: absolute;
			left: -9999px;
		}

		[type="checkbox"]:not(:checked) + label,
		[type="checkbox"]:checked + label {
			position: relative;
			padding-left: 25px;
			cursor: pointer;
		}

		[type="checkbox"]:not(:checked) + label:before,
		[type="checkbox"]:checked + label:before {
			content: '';
			position: absolute;
			left:0; top: 0px;
			width: 20px; height: 20px;
			background: #1abc9c;
		}

		[type="checkbox"]:not(:checked) + label:after,
		[type="checkbox"]:checked + label:after {
			content: '✔';
			position: absolute;
			top: 0; left: 4px;
			font-size: 14px;
			color: #fff;
			transition: all .2s;
		}

		[type="checkbox"]:not(:checked) + label:after {
			opacity: 0;
			transform: scale(0);
		}

		.credit-card{
			float: left;
			width:100%;
			.payment-card{
				margin-top:25px;
				float: left;
				width:100%;
			}
			.card{

			}
		}
		.paypal{
			background: bottom right url(images/paypal.png) no-repeat;
			margin-top:25px;
			border-top:1px solid #ecf0f1;
			padding-top:20px;
			width:100%;
			float: left;
			text-transform: uppercase;
			font-family:$font_lato_bold;
			font-size:14px;
			color:#363636;
		}
		.label-card{
				background: right url(images/credit-card.png) no-repeat;
				text-transform: uppercase;
				font-family:$font_lato_bold;
				font-size:14px;
				color:#363636;
		}
		.payment-card{
			margin-top: 20px;
			float: left;
			width: 100%;
		}
	}
}
.x-small-input{
	width: 70%;
	margin-right: 4%;
	float: left;}
.x-mini-input{
	width: 26%;
	float: left;}

.signup-payment{
	margin-top:45px;
}

label.label-radio{
	display: inline-block;
	font-family: $font_lato_bold;
	cursor: pointer;
	position: relative;
	margin-right: 0;
	font-size: 16px;
	letter-spacing: .4px;
	padding-right: 49px;
	&:before{
		content: "";
		display: inline-block;
		width: 15px;
		height: 15px;
		margin-right: 10px;
		bottom: 3px;
		background-color: #fff;
		box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
		border-radius: 50%;
	}
}
input[type=radio] {
	display: none; 
}
.advance-applicant{
input[type=radio]:checked + label:before {
	content: "\2022";
	color: green;
	font-size: 21px;
	text-align: center;
	line-height: 12px;
}
}

.infos-card-credit{
	display:none;
}
.infos-paypal{
	display: none;
}
.payment-card-infos{
	.open{
		display: block !important;
	}
}
.checkbox.remember_me{
float:left;
}
.input-error{
	border: 1px solid red;
}
 .error-message{
	background: #ffcdc7;
	color: #ff391f;
	border: 1px solid #fdb1a8;
	padding: 5px 5px;
	margin-top: 10px;
	@include border-radius(2px);
      a{
        color: #ff6a5b;
        margin-top: -2px;
      }
      &:before{
        content: '';
        background: url("images/icons/red-exclamation.png") transparent no-repeat;
        display: block;
        width: 16px;
        height: 16px;
        float: left;
        padding-right: 35px;
        margin-top: 2px;
      }
    }
    .container-btn-select-pricing{
    	input[type=radio]{
    		display:block !important;
    	}
    }
	.recordrtc{
		video{
			width:100%;
			border: 1px solid #00aeef;
		}
	}

a.disabled{
	pointer-events: none;
	cursor: default;
}

#applicant_video_videoFile{
	display: none;
}
#cancel-preview-question-video{
	display: none;
}
.preview-questions{
	display: none;
	background: #fff;
    float: left;
    width: 100%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    padding: 26px;
	padding-top: 15px;
	div{
	color: #2c3e50;
	font-size: 18px;
	font-family: $font_lato;
	margin-bottom: 10px;
	}
	.row{
		border-bottom: 1px dotted #959595;
	}
			
	.preview-duration{
		color: #fff;
		background: #00aeef;
		padding: 0 15px;
		text-align: center;
	}
	.preview-timereadquestion{
		color: #fff;
		background: #00aeef;
		padding: 0 15px;
		text-align: center;
	}
.title{
	div{
		color:#00aeef;
	}
}	
}
.green-alert{
	background: #e1f9b7;
    border: 1px solid #b2dc6e;
    border-radius: 5px;
	color: #649d01;
}

.btn-test-audio{
	width: 100%;
	background:#00aeef;
	padding: 13px 0;
}

.testing-audio{
	.vjs-device-button.vjs-control{
		display: none !important;
	}
}

.popover{
	background-color: #00aeef;
	color:#fff;
	font-size: 15px;
	font-family: $font_lato;
}

.testing-video{
	.video-js{
		width:100% !important;
		min-height: 450px;
		
	}
}
.not-active {
   pointer-events: none;
   cursor: default;
}

.modal-listing-cameras{
.modal-content{
		float: left;
		width: 100%;
	}
}

#list-choose-camera{
	list-style: none;
	padding:0;
	li{
		width: 230px;
    	text-align: center;
		margin: 12px;
		float: left;

		a{
		font-size: 15px;
    	font-family:  $font_lato;
		background: url(images/camera-video.png) top no-repeat;
    	display: block;
    	padding-top: 50px;
		}
		
	}
}

.container-footer-steps{
	.form-group{
		.control-label{
			display: none;
		}
	}
}

.container-logo-detailles{
	display: none;
}
.job-name{
	p.hide{
		display: none;
	}
	#btn-full-description.active{
		background: #00aeef;
		color:#fff;
	}
}
.top-image
{
	text-align: center;
}
.applicant-advanced-header{
	width:85px !important;
}


.create-video-questions{
	.row-video {
		position: relative;
	}
	
	hr{
	width: 100%;
	float: left;
}

	.help-text{
		font-size: 13px;
	}
	.btn-delete{
		background: #a30101;
		font-size: 12px;
		margin-top: 7px;
	}
	hr{
		border-top:1px solid #00aeef !important;
	}

	 .drag-question{
      width:12px;
      height:23px;
      background: transparent url(images/drag.png) no-repeat;
      position: absolute;
      right: 10px;
      top:34%;
      opacity:0.28;
      overflow: hidden;
      color: transparent;
      cursor:move;
    }
}
.ui-sortable-helper{
	background:#fff;
	border: 2px dotted #00aeef;
	padding-top:5px;
}
.job-name-video{
	h2{
		font-size:28px !important;
	}

}
.footer-question-video{
	margin-right: 4%;
}
.btn-full-description-video{
	display: inline-block;
    padding: 5px 15px;
    margin-left: 10px;
	background: #30323c;
    color: #fff;
    text-transform: capitalize;
	&.active{
	background: #00aeef;
	}
}
.advance-applicant{
	margin-bottom: 10px;
    float: left;
    width: 100%;
}
.container-reffered{
	margin-top:10px;
}
.reffered{
	label{
		position: relative;
		width:60px;
		display: inline-block;
		font-family: "latobold";
		cursor: pointer;
		padding-left: 20px;
		font-size: 16px;
		letter-spacing: .4px;
		float: left;
		&:before{
			content: "";
			display: inline-block;
			width: 15px;
			height: 15px;
			margin-right: 10px;
			position: absolute;
			bottom: 3px;
			background-color: #fff;
			box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
			border-radius: 50%;
			position: absolute;
			left: 0;
		}
	}

	 input[type=radio]:checked + label:before {
		 background:#21c2f8;
		 border: 2px solid #fff;
	 }
}

.info-referred-person{
	display: none;
}
.loader{
	width: 100%;
	float: left;
	display: block;
    height: 100%;
    background: url(images/loader.gif) center no-repeat;
    min-height: 250px;
    color: transparent;
}
.loader-video{
    width: 100%;
    float: left;
    display: block;
    height: 100%;
    background: url(images/loader.gif) center top no-repeat;
    min-height: 250px;
    color: #00aeef;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    padding-top: 140px;
	font-size: 23px;
}
.no-camera{
	min-height: 200px;
    vertical-align: middle;
    text-align: center;
    padding-top: 90px;
	font-family: $font_lato_bold;
	text-transform: uppercase;
	font-size: 16px;
	color:red;
}
.btn-filter{
	border: none;
    font-family: "latoblack";
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    width: auto;
    height: 30px;
	padding: 0 15px;
    background: #00aeef;
	margin-bottom:10px;
}
.btn-filter.clear{
	background:#cd040b;
}
.applicant-video-logo-company{
	max-width: 200px;
}

.login-page{
	.header.signup{
		display: none;
	}
}

.link-to-browser{
	position: initial !important;
	color: #00aeef !important;
	font-weight: bold !important;
}
.message-converted{
	display: none;
}
.safari.not-converted{
	display: none;
}
.message-not-converted.safari{
	display: block;
	width: 100%;
	min-height: 430px;
	background:#fff center url(images/hourglass.png) no-repeat;
	padding-top: 35%;
	text-align: center;
	font-size:20px; 
	color: #00aeef;
	font-family: $font_lato_bold;
}
.test-hidden {
	opacity: 0;
}
.label-test{
width: 100%;
}
label.error{
	background: #ffcdc7;
    color: #ff391f;
    border: 1px solid #fdb1a8;
    padding: 6px;
	width:100%;
	margin-top:5px;
}
.edit-link.disabled {
	a{
		background: #eeeeee !important;
		cursor: default;
	}
}
.row-video {
	.form-group{
		margin-bottom: 0;
	}
}