.footer{
	width:100%;
	float:left;
    background: #073349;
    min-height:230px;
    padding-top: 103px;
    padding-bottom:80px;
	position: relative;
	z-index: 100;
	margin-top:20px;

    p{
    	color:#a1b1bc;
		margin-top:21px;
    }
    
    h2{
		margin:0;
		padding:0;
		color:#ffffff;
		font-size: 18px;
		margin-bottom:42px;
    }

	ul{
			 li{
				 a{
					 position: relative;
					 &:hover{
						 text-decoration: none;
						 color: $blue-clear;

						 &:after{
							 font-family:FontAwesome;
							 content: "\f178";
							 position: absolute;
							 right:-20px;
							 top: 2px;
							 color: #fff;
						 }
					 }
				 }
			 }
		 }
}

.icon-social {
	ul{
		padding:0;
		list-style: none;
		li{
			display:block;
			float:left;
			margin-right:10px;
			img{
				border:1px solid #012935;
				transition: border 0.1s ease-in .1s;
			}

			&:hover{
				img{
				 border:1px solid #ffd385;
			  }
			}


			a{
				&:hover{
					&:after{
						content: ' ';
					}
				}

			}
		}
	}
}
.footer-menu{
	ul{
		padding:0;
		list-style: none;

		li {
			margin-bottom:13px;
			display: block;
			a{
				font-size:14px;
				font-family:$font_lato;
				color: #a1b1bc ;
			}
		}
	}
}
.useful-links {
	ul{
		padding:0;
		list-style: none;
		li{
			margin-bottom:13px;
			display: block;
			a{
				font-family: $font_lato;
				font-size: 14px;
				color:#a1b1bc;
			}
		}
	}
}

.copyright{
	
	background:#012935;
	float:left;
	width:100%;
	height:100px;
    line-height:90px;
	margin-top: 150px;
	p{
		color:#a1b1bc;
		font-size: 14px;
		font-family: $font_lato;
	}
	a{
		color:#00aeef;
	}
}
