
.header{
	background:#eaeff1;
	width:100%;
	float:left;
	padding-top:155px;
	padding-bottom:38px;
	border-bottom:1px solid #e5e5e5;

	/* header Sign up */
	&.signup{
		background: #ffffff;
		padding-top:56px;
	}
	&.last-step{
		background: #fff;
		padding-top:155px;
	}
}


.logo{
	background : $color_header;
	float:left;
	height:81px;
	line-height:81px;
	padding: 0 31px 0 25px;
	width:230px;
	position: absolute;
	top:0;
	left:0;
}

.loggged-in{
	position: absolute;
	right: 100px;
	top: 18px;
	span{
		font-size:28.62px;
		font-family:$font_lato_light;
		color:#363636;
	}
	a{
		color: $blue-clear;
		font-family:$font_lato_black;
		font-size:28.62px;
	}
}

.menu-wrapper{
position: absolute;
right: 0;
top: 0;
}

.navbar-header{
	background : #073349;
	width:70px;
	height:81px;
	position:absolute;
	top:0;
	right:0;
	z-index:2;
	button{
		background:none;
		border:none;
		width:26px;
		height:15px;
		position:relative;
		top: 25px;
		left: 21px;
		-webkit-transition:  left .6s;
		-moz-transition:  left .6s;
		-ms-transition:  left .6s;
		-o-transition: left  .6s;
		transition:  left .6s;

		span{
			position: absolute;
		    width: 24px;
		    height: 2px;
		    background : #fff;
		    right:0;
		}
		span:nth-child(1){
		 top: 1%;
		}
		span:nth-child(2){
  		 background : #fff;
  		 width: 21px;
		 height: 2px;
		top: 44%;
		}
		span:nth-child(3){
  		 background :#fff;
  		 width: 26px;
		 height: 2px;
		 bottom:0;
		}
	}
}
.toogle-menu{
}
.navbar-header-signup{
	display: none;
}
.menu-sidebar{
	margin-top: 50%;
	margin-left: 40px;
	ul {
		list-style: none;
		padding:0;
		li{

		}
	}
}

.toogle-menu{
	background : #073349;
	position: fixed;
    top: 0;
    right: 0;
    width: 270px;
    height: 100%;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -ms-transition: -ms-transform .5s;
    -o-transition: -o-transform .5s;
    transition: transform .5s;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
   
   
   ul{
   	li{
   		a{
   			color:#fff;
   		}
   	}
   }
}
.menu-open{
	webkit-transform: translateX(0) !important;
    -moz-transform: translateX(0)!important;
    -ms-transform: translateX(0)!important;
    -o-transform: translateX(0)!important;
    transform: translateX(0)!important;
}

/* TOP BAR STYLE */
.top-bar{
	background: $darkgray;
	height: 81px;
	width:100%;
	line-height:81px;
	padding:0;
}
.logo-signup{
	float: left;
	margin-right:75px;
}
.signup-nav{
	.navbar-nav
	 > li
	 > a{
		font-family:$font_lato;
		color: #fff;
		font-size:13px;
		line-height: 81px;
		padding:0 23px;
		text-transform: uppercase;
	}
	.navbar-nav > li:last-child a{
	   color:#ffd385 ;
	}
	.nav > li > a:hover, .nav > li > a:focus ,.navbar-nav > li.active > a {
		background: transparent;
		color: $blue-clear;
	}
	.navbar{
		min-height:81px;
		margin-bottom:0;
		border:0;
		@include border-radius(0)
	}
}

.search-wrapper{
	.icon-search{
		button.btn-search{
			background: red;
			float: left;
			padding:0;
			border:0;
			background: transparent;

		}

	}
}

.sb-search{
	background:$blue-clear;
	width:100%;
	height:100px;
	top:0;
	left:0;
	padding:10px;
	overflow: hidden;
	position: fixed;
	z-index: 9999;

	-webkit-transform: translateY(-100px);
	-moz-transform: translateY(-100px);
	-o-transform: translateY(-100px);
	-ms-transform: translateY(-100px);
	-transform: translateY(-100px);

	webkit-transition: -webkit-transform .5s;
	-moz-transition: -moz-transform .5s;
	-ms-transition: -ms-transform .5s;
	-o-transition: -o-transform .5s;
	-html-transition: -o-transform .5s;
	transition: transform .5s;

	&.open{
		-webkit-transform: translateY(0)!important;
		-moz-transform: translateY(0)!important;
		-o-transform: translateY(0)!important;
		-ms-transform: translateY(0)!important;
		-transform: translateY(0)!important;

	}

	.sb-search-input{
		background: transparent;
		width:85%;
		height:80px;
		border:0;
		font-family:$font_lato;
		color:#fff;
		font-size:35px;

	}
}
.close-search{
	position: absolute;
	right:10px;
	top:5px;
	color: #fff;
	font-size:30px;
	cursor: pointer;
}
.sb-search-input::-webkit-input-placeholder {
	color: #fff;
}

.sb-search-input:-moz-placeholder {
	color: #fff;
}

.sb-search-input::-moz-placeholder {
	color: #fff;
}

.sb-search-input:-ms-input-placeholder {
	color: #fff;
}
.submit-search{
	background: transparent;
	border:none;
	font-size:35px;

	.fa{
		color:#fff;
	}

}

.title-page{
	width:56%;
	margin-top:-4px;
	margin-right:2%;
	float: left;
	h1{
		padding:0;
		margin:0;
		font-size: 80.41px;
		font-family: $font_lato_light;
		color :$color_title;
		margin-bottom:35px;
	}
	p{
		font-size:20px;
		font-family:$font_lato;
		color:$color_title;
		letter-spacing: 0.50px;
	}


}

.header-progress{
	float: left;
	width:42%;
}

.burger-menu.open{
	left: -185px;
}

.steps-create-job{
	.cercle-progress{
		color:transparent;
		float: left;
		width:200px;
		line-height:200px;
		height:200px;
		-webkit-border-radius:50%;
		-moz-border-radius:50%;
		-ms-border-radius:50%;
		-o-border-radius:50%;
		border-radius:50%;
	}
	.cercle-progress-step-1{ background: url(images/bg-step-1.png) no-repeat;}
	.cercle-progress-step-2{ background: url(images/bg-step-2.png) no-repeat;}
	.cercle-progress-step-3{ background: url(images/bg-step-3.png) no-repeat;}
	.cercle-progress-step-4{ background: url(images/bg-step-4.png) no-repeat;}
	.cercle-progress-sign-up-last{ background: url(images/bg-last-step.png) no-repeat;}
	.steps{
		float: left;
		width:auto;
		margin-left:37px;
		margin-top: 35px;
		ul{
			padding:0;
			list-style:none;
			li{
				display: block;
				font-family:$font_lato;
				margin-bottom:10px;
				font-size:15px;
				color:#30323c;
			}
			li.active{
				color:#00aeef;
				position: relative;
				&:before{
					content : ' ';
					position: absolute;
					left:-57px;
					top:11px;
					height:1px;
					width: 54px;
					background: $blue-clear;
				}
			}
			li:nth-child(2) , li:nth-child(3){
				&.active{

					&:before{
						left: -43px;
						width: 38px;
					}
				}
			}
			li:nth-child(4){
				&.active{

					&:before{
						left: -49px;
						width: 43px;
					}
				}
			}
			strong{
				font-family:$font_lato_bold;
			}
		}
	}
}

.header.signup{
	.steps-create-job .cercle-progress{
		float: right;
	}

	.steps-create-job .steps{
		margin-top:20px;
		clear: both;
		float: right;
		min-width:200px;
		text-align: center;
	}
}

.option-box {
  position: fixed;
  right: 6px;
  top: 47px;
  z-index: 9999;
  .color-option {
    width: 110px;
    float: left;
    background: #073349;
    color: #fff;
    padding: 10px;
    padding-bottom: 0px;
    display: none;
    -webkit-box-shadow: 0px 2px 16px 0px #efefef;
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0px 2px 16px 0px #efefef;
    /* Firefox 3.5 - 3.6 */
    box-shadow: 0px 2px 16px 0px #efefef;
    border-radius: 31px 22px;
    h4 {
      font-family: "latoregular";
    }
    ul li {
      width: 100px;
      height: 30px;
      padding-bottom: 20px;
      font-size: 18px;
      font-weight: 300;
      color: (red,);
    }
  }
  .gear-check {
    padding: 5px;
    color: #00aeef;
  }
}