{# Modal applicant review #}
{{ form_start(formApplicant, {'attr': {'id': applicant.id,'class': 'form-update'}, 'action': path('job_applicant', {'slug': job.slug, 'applicantId': applicant.id})}) }}
    <div class="modal fade modal-applicant modal-applicant-review" data-applicant-id="{{ applicant.id }}" data-slug="{{ job.slug }}" id="applicant-{{ applicant.id }}" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog applicant-review-content">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>X</span> {{'profile.home.close'|trans}} & {{'profile.home.can'|trans}}</button>
                    <div class="modal-header-content">
                        <div class="img-modal-header">
                            <img src="{% if applicant.applicantPictureFile %} {{ vich_uploader_asset(applicant, 'applicantPictureFile') }} {% else %} {{ gravatar(applicant.email, 104) }} {% endif %}" width="104">
                        </div>
                        <div class="middle-modal-header">
                            <p class="job-title"><span>{{applicant.job.title}}</span><a id="btn-full-description-video" data-description="user-modal" class="btn-full-description-video" href="">{{'profile.home.description'|trans}}</a></p>
                             <div class="job-name-video" id="user-modal">   
                            <p class="mini-description">{{ applicant.job.description|truncate(50)|nl2br }}</p>
                            <p class="full-description hide">{{ applicant.job.description|nl2br }}</p>
                            </div>
                            <h1>{{ applicant.fullname }}</h1>
                            {% if applicant.advanced %}
                                <button class="applicant-advanced-header {{ applicant.advanced }}">{{ applicant.advancedLabel }} <i class="fa fa-check" aria-hidden="true"></i></button>
                            {% endif %}
                            <div class="rating">
                                <p><span>{{ applicant.rate }}</span> {{'profile.home.rating'|trans}}</p>
                                <div data-rate="{{ applicant.rate }}" class="rateyo-applicant-review" id="rateyo-applicant-review-{{applicant.id}}"></div>
                            </div>
                        </div>
                        <div class="right-modal-header">
                            <div class="referral">
                                <p><span> {{'profile.home.reffered'|trans}}: </span>{{ applicant.reffered|capitalize }}</p>
                                <p><span> {{'profile.home.referral_description'|trans}}: </span>{{ applicant.referralDescription }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="prescreening-answers">
                            <h3>{{'profile.home.answers'|trans}} <span>{{'profile.home.answers_bold'|trans}}</span></h3>
                            {% set letters = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O'] %}
                            {% for answer in applicant.answers %}
                                <div class="question-answer">
                                    <span class="number-q">{{ loop.index }}</span>
                                    <p class="question-item"><span>Q.</span>{{ answer.question.question }}</p>
                                    {% if answer.answersMetadataObjects is iterable %}
                                        {% for questionAnswer in answer.answersMetadataObjects if questionAnswer %}
                                            <p class="answer-item"><span>{{ letters[loop.index0] }}.</span>{{ questionAnswer.answer }}</p>
                                        {% endfor %}
                                    {% else %}
                                        <p class="answer-item"><span>{{ letters[0] }}.</span>{{ answer.answersMetadataObjects }}</p>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 no-padding">
                        <div class="contact-info">
                            <h5>{{'profile.home.contact'|trans}}:</h5>
                            <p>Email :({{ applicant.email }})</p>
                            <p>{{'profile.home.phone'|trans}} : {{ applicant.phone }}</p>
                            <p>{{ applicant.address }}</p>
                        </div>
                        <div class="notes">
                            <div class="form-group">
                                <label for="note">{{'profile.home.notes'|trans}}</label>
                                {{ form_widget(formApplicant.note) }}
                            </div>
                        </div>
                          <div class="rate-applicant">
                            <h3><span>{{'profile.home.rate_bold'|trans}} </span>{{'profile.home.rate'|trans}}</h3>
                            {{ form_widget(formApplicant.rate) }}
                        </div>
                        <div class="advance-applicant" id="app-{{applicant.id}}">
                            <h3><span>{{'profile.home.advance_bold'|trans}} </span>{{'profile.home.advance'|trans}}?</h3>
                            {{  form_widget(formApplicant.advanced) }}
                        </div>
                        
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 no-padding">
                            <div class="view-haystack">
                                <h5>{{'profile.home.view'|trans}}</h5>
                                {% for document in applicant.documents %}
                                    <button onclick="window.open('{{ url('job_applicant_document_absolute_url', {'documentName': document.document}) }}'); return false;">{{ document.jobDocument.documentTypeLabel|trans }}</button>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 no-padding">
                            <div class="download-files">
                                <h5>{{'profile.home.download'|trans}}:</h5>
                                {% for document in applicant.documents %}
                                    <div class="{{ '.pdf' in document.document ? 'doc-pdf' : 'doc-word' }}">
                                        <img class="img-file" src="{{ asset('.pdf' in document.document ? 'images/img-pdf.png' : 'images/img-word.png') }}">
                                        <div class="file-item">
                                            <p class="file-name">
                                                <a href="{{ path('job_applicant_document_download', {'slug': document.applicant.job.slug, 'applicantId': document.applicant.id, 'documentId': document.id}) }}">{{ document.document }}</a>
                                            </p>
                                            <p class="file-info">{{ document.humanSize }} {{ document.createdAt|date('d/m/y') }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default cancel-back" data-dismiss="modal">{{'profile.home.dashboard'|trans}}</button>
                    <button type="submit" class="save save-applicant-info">{{'profile.home.save'|trans}}</button>
                </div>
            </div>
        </div>
    </div>
    {{ form_rest(formApplicant) }}
{{ form_end(formApplicant) }}
{% block javascripts %}
    <script src="{{ asset('libs/jquery/dist/jquery.min.js') }}"></script>
  <script type="text/javascript">
$(document).ready(function(){
                var liencurrent = window.location.href;
            
                if (liencurrent.match(/en/)) {

                     $(".applicant_update_advanced_0").find('label').text('YES');
                     $(".applicant_update_advanced_1").find('label').text('NO');
                     $(".applicant_update_advanced_2").find('label').text('maybe');
                 }else{
                    $(".applicant_update_advanced_0").find('label').text('OUI');
                    $(".applicant_update_advanced_1").find('label').text('NON');
                    $(".applicant_update_advanced_2").find('label').text('peut être');
                       }

});
             
</script>
{% endblock %}


