<div class="modal fade modal-applicant" data-applicant-id="{{applicant.id}}" id="video-{{applicant.id}}" role="dialog">
        <div class="modal-dialog applicant-review-content answer-applicant-review">
            
            {#}
            {{dump(applicant)}}
            {{dump(formReviewApplicant)}}
             {#}
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal"><span>X</span> {{'interview.check.close'|trans}} & {{'interview.check.can'|trans}}</button>
                    <div class="modal-header-content">
                        <div class="img-modal-header">
                            <img src="{% if applicant.applicantPictureFile %} {{ vich_uploader_asset(applicant, 'applicantPictureFile') }} {% else %} {{ gravatar(applicant.email, 104) }} {% endif %}" width="104">
                        </div>
                        <div class="middle-modal-header">
                            <p class="job-title"><span>{{applicant.job.title}}</span><a id="btn-full-description-video" data-description="video-modal" class="btn-full-description-video" href="">{{'interview.check.description'|trans}} </a></p>
                             <div class="job-name-video" id="video-modal">   
                            <p class="mini-description">{{ applicant.job.description|truncate(50)|nl2br }}</p>
                            <p class="full-description hide">{{ applicant.job.description|nl2br }}</p>
                            </div>
                            <h1>{{applicant.fullname}}</h1>
                            <button class="yes">{{'interview.check.yes'|trans}}<i class="fa fa-check" aria-hidden="true"></i></button>
                            <div class="rating">
                                <p><span>{{applicant.rate }}</span> {{'interview.check.rating'|trans}}</p>
                                <div id="rateyo-applicant-review"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                        {{ form_start(formReviewApplicant, {'attr': {'id': applicant.id}}) }} 
                        {{ form_widget(formReviewApplicant.videos) }} 
                        {{ form_rest(formReviewApplicant) }} 
                        {{ form_end(formReviewApplicant) }}
                </div>
            </div>

        </div>
    </div>
    