{% extends 'layout.html.twig' %}

{%- block specifics_stylesheets -%}
    <link rel="stylesheet" href="{{ asset('css/sweetalert.css') }}">
{%- endblock -%}

{% block search %}{% endblock %}

{% block header %}
    <header class="header">
        {% embed 'Partials/topbar.html.twig' %}
            {% block loggged_in %}
                <div class="loggged-in">
                    <span>{{'dashboard.applicants.hi'|trans}} {{ app.user.firstname }}! {{'dashboard.applicants.you'|trans}} <a href="#">{{'dashboard.applicants.logged'|trans}}.</a> </span>
                </div>
            {% endblock %}
        {% endembed %}
        <div class="content-header">
            <div class="container">
            </div>
        </div>
    </header>
{% endblock %}

{% block global_wrapper_classes %}preview-job{% endblock %}
{%- block content -%}
    <section class="company-dashboard job-dashboard">
        <div class="container">
            <div class="top-dashboard">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 no-padding">
                    <button class="filter-btn" id="filter-btn">
                        {% if app.request.query.has(filterForm.vars.name) %}
                            Filters are applied
                        {% else %}
                            Filters
                        {% endif %}
                    </button>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 no-padding">
                    <h2>{{'dashboard.job.title'|trans}}</h2>
                    <h3>{{ job.title|capitalize }}</h3>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7 no-padding">
                    <p>{{job.description|truncate(50)}}</p>
                </div>
            </div>
            <div class="filter-tabs-content">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="nav active">
                        <a href="#filter-candidates" data-toggle="tab">
                            Filter candidates
                        </a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="inside-tab-content tab-pane fade in active" id="filter-candidates">
                        {{ form_start(filterForm) }}
                            {{ form_widget(filterForm.questions) }}
                            <button class="btn-filter" type="submit">Filter</button>
                            <button class="btn-filter clear" type="button" onclick="top.location.href='{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}';">Clear Filter</button>
                        {{ form_end(filterForm) }}
                    </div>
                </div>
            </div>
            <div class="dashboard-content dashbooard-job">
                <table id="job-list" class="table table-bordered table-haystack">
                    <thead>
                    <tr>
                        <th class="img-person"></th>
                        <th class="letters">
                            <a class="letter-y small-btn" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'advanced': constant('AppBundle\\Entity\\Applicant::ADVANCED_YES')})) }}">y</a>
                            <a class="letter-n small-btn" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'advanced': constant('AppBundle\\Entity\\Applicant::ADVANCED_NO')})) }}">n</a>
                            <a class="interogation small-btn" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'advanced': constant('AppBundle\\Entity\\Applicant::ADVANCED_MAYBE')})) }}">?</a>
                            <a class="croix small-btn" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'advanced': ''})) }}">x</a>
                        </th>
                        <th class="application-name td-padding">{{ knp_pagination_sortable(pagination, 'dashboard.table.title.job.application_name'|trans, ['a.firstname', 'a.lastname']) }}</th>
                        <th class="rate">{{ knp_pagination_sortable(pagination, 'dashboard.table.title.job.rate'|trans, 'a.rate') }}</th>
                        <th class="th-referral text-center">{{ 'dashboard.table.title.job.referral'|trans }}</th>
                        <th class="source td-padding">{{ 'dashboard.table.title.job.source'|trans }}</th>
                        <th class="notes td-padding">{{ 'dashboard.table.title.job.notes'|trans }}</th>
                        <th class="invite">{{ knp_pagination_sortable(pagination, 'dashboard.table.title.job.invite'|trans, 'a.invited') }}</th>
                        <th class="video">{{ 'dashboard.table.title.job.video'|trans }}</th>
                        <th class="hired">{{ 'dashboard.table.title.job.hired'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody id="applicants-list">
                    {% for applicant in pagination %}
                        <tr data-applicant="{{ applicant.id }}" data-job-slug="{{ job.slug }}" class="{% if constant('ADVANCED_YES', applicant) == applicant.advanced %}  green-line {% endif %} 
                        {% if constant('ADVANCED_NO', applicant) == applicant.advanced %}  red-line {% endif %}{% if constant('ADVANCED_MAYBE', applicant) == applicant.advanced %} orange-line {% endif %}">
                            <td class="img-preson"><img src="{% if applicant.applicantPictureFile %} {{ vich_uploader_asset(applicant, 'applicantPictureFile')|imagine_filter('job_applicant_picture') }} {% else %} {{ gravatar(applicant.email) }} {% endif %}"></td>
                            <td class="text-center">
                                <button class="button-y small-btn{% if constant('ADVANCED_YES', applicant) != applicant.advanced %} disabled-btn{% endif %}">y</button>
                                <button class="button-n small-btn{% if constant('ADVANCED_NO', applicant) != applicant.advanced %} disabled-btn{% endif %}">n</button>
                                <button class="button-inter small-btn{% if constant('ADVANCED_MAYBE', applicant) != applicant.advanced %} disabled-btn{% endif %}">?</button>
                            </td>
                            <td class="job-content td-padding"><a href="" data-toggle="modal" data-target="#applicant-{{ applicant.id }}">{{ applicant.fullname }}</a></td>
                            <td class="text-center">{{applicant.rate}}</td>
                            <td class="referral text-center">
                                <button class="button-y{% if applicant.reffered == "no" %} disabled-btn{% endif %}">y</button>
                                <button class="button-n{% if applicant.reffered == "yes" %} disabled-btn{% endif %}">n</button>
                            </td>
                            <td class="text-left td-padding">{{ applicant.source|default('--') }}</td>
                            <td class="text-left td-padding">{{ applicant.note|truncate(25, true) }}</td>
                            <td class="text-center td-padding">
                                {% if applicant.invited == constant('STATUS_INVITED_YES', applicant) %}
                                    <button class="send disabled-btn">{{'dashboard.table.button.sent'|trans}}</button>
                                {% else %}
                                    <button class="send send-invitation">{{'dashboard.table.button.send'|trans}}</button>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if applicant.invited == constant('STATUS_INVITED_YES', applicant) %}
                                    {% if applicant.interviewCompleted == constant('INTERVIEW_COMPLETED_YES', applicant) %}
                                        <button type="button" class="play" data-toggle="modal" data-target="#video-{{applicant.id}}">{{'dashboard.table.button.play'|trans}}</button>
                                    {% else %}
                                        <button class="play disabled-btn" disabled="">{{'dashboard.table.button.waiting'|trans}}</button>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                <div class="radio radio-dashboard applicant-hired">
                                    <input id="hired-yes-{{ loop.index }}" type="radio" name="hired-{{ loop.index }}" value="{{ constant('STATUS_HIRED', applicant) }}" {% if applicant.hired == constant('STATUS_HIRED', applicant) %}checked{% endif %}>
                                    <label for="hired-yes-{{ loop.index }}" class="green"></label>
                                    <input id="hired-no-{{ loop.index }}" type="radio" name="hired-{{ loop.index }}" value="{{ constant('STATUS_NOT_HIRED', applicant) }}" {% if applicant.hired == constant('STATUS_NOT_HIRED', applicant) %}checked{% endif %}>
                                    <label for="hired-no-{{ loop.index }}" class="red"></label>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="10">
                                {{ 'dashboard.applicants.list.no_applicants'|trans }}
                            </td>
                        </tr>
{% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="job-dashboard-bottom">
               <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <p><span>{{ pagination.getTotalItemCount }}</span> total applications</p>
               </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 no-padding">
                    <div class="dashboard-navigation pull-right">
                       {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
            <div class="dashboard-actions pull-right" >
                <a href="{{path('jobs_list')}}" class="back">{{'dashboard.table.button.back'|trans}}</a>
            </div>
        </div>
    </section>

    {% for applicant in pagination %}
        {{ render(controller('AppBundle:Job/Applicant:applicant', {'job': job, 'applicant': applicant, 'currentURL': app.request.uri})) }}
        {% render url('applicant_video', {'id': applicant.id}) %}
    {% endfor %}
{% endblock %}

{%- block specifics_javascripts -%}
    <script src="{{ asset('js/sweetalert.min.js') }}"></script>
{%- endblock -%}


