{% for applicant in applicants %}
                        <tr data-applicant="{{ applicant.id }}" data-job-slug="{{ job.slug }}" class="{% if constant('ADVANCED_YES', applicant) == applicant.advanced %}  green-line {% endif %} 
                        {% if constant('ADVANCED_NO', applicant) == applicant.advanced %}  red-line {% endif %}{% if constant('ADVANCED_MAYBE', applicant) == applicant.advanced %} orange-line {% endif %}">
                            <td class="img-preson"><img src="{% if applicant.applicantPictureFile %} {{ vich_uploader_asset(applicant, 'applicantPictureFile')|imagine_filter('job_applicant_picture') }} {% else %} {{ gravatar(applicant.email) }} {% endif %}"></td>
                            <td class="text-center">
                                <button class="button-y small-btn{% if constant('ADVANCED_YES', applicant) != applicant.advanced %} disabled-btn{% endif %}">y</button>
                                <button class="button-n small-btn{% if constant('ADVANCED_NO', applicant) != applicant.advanced %} disabled-btn{% endif %}">n</button>
                                <button class="button-inter small-btn{% if constant('ADVANCED_MAYBE', applicant) != applicant.advanced %} disabled-btn{% endif %}">?</button>
                            </td>
                            <td class="job-content td-padding"><a href="" data-toggle="modal" data-target="#applicant-{{ applicant.id }}">{{ applicant.fullname }}</a></td>
                            <td class="text-center">{{applicant.rate}}</td>
                            <td class="referral text-center">
                                <button class="button-y{% if applicant.reffered == "no" %} disabled-btn{% endif %}">y</button>
                                <button class="button-n{% if applicant.reffered == "yes" %} disabled-btn{% endif %}">n</button>
                            </td>
                            <td class="text-left td-padding">{{ applicant.source|default('--') }}</td>
                            <td class="text-left td-padding">{{ applicant.note|truncate(25, true) }}</td>
                            <td class="text-center td-padding">
                                {#<div class="radio radio-dashboard radio-invite applicant-invite">
                                    <input id="invited-yes-{{ loop.index }}" type="radio" name="invited-{{ loop.index }}" value="{{ constant('STATUS_INVITED_YES', applicant) }}" {% if applicant.invited == constant('STATUS_INVITED_YES', applicant) %} checked {% endif %}>
                                    <label for="invited-yes-{{ loop.index }}" class="green"></label>
                                    <input id="invited-no-{{ loop.index }}" type="radio" name="invited-{{ loop.index }}" value="{{ constant('STATUS_INVITED_NO', applicant) }}" {% if applicant.invited == constant('STATUS_INVITED_NO', applicant) %} checked {% else %} disabled {% endif %}>
                                    <label for="invited-no-{{ loop.index }}" class="red"></label>
                                </div>#}
                                {% if applicant.invited == constant('STATUS_INVITED_YES', applicant) %}
                                    <button class="send disabled-btn">Sent</button>
                                {% else %}
                                    <button class="send send-invitation">Send</button>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if applicant.invited == constant('STATUS_INVITED_YES', applicant) %}
                                    {% if applicant.interviewCompleted == constant('INTERVIEW_COMPLETED_YES', applicant) %}
                                        <button type="button" class="play" data-toggle="modal" data-target="#video-{{applicant.id}}">Play</button>
                                    {% else %}
                                        <button class="play disabled-btn" disabled="">waiting</button>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                <div class="radio radio-dashboard applicant-hired">
                                    <input id="hired-yes-{{ loop.index }}" type="radio" name="hired-{{ loop.index }}" value="{{ constant('STATUS_HIRED', applicant) }}" {% if applicant.hired == constant('STATUS_HIRED', applicant) %}checked{% endif %}>
                                    <label for="hired-yes-{{ loop.index }}" class="green"></label>
                                    <input id="hired-no-{{ loop.index }}" type="radio" name="hired-{{ loop.index }}" value="{{ constant('STATUS_NOT_HIRED', applicant) }}" {% if applicant.hired == constant('STATUS_NOT_HIRED', applicant) %}checked{% endif %}>
                                    <label for="hired-no-{{ loop.index }}" class="red"></label>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="10">
                                {{ 'dashboard.applicants.list.no_applicants'|trans }}
                            </td>
                        </tr>
{% endfor %}