<iframe class="doc" src="https://docs.google.com/gview?url={{ app.request.schemeAndHttpHost }}/uploads/applicants/documents/{{applicantDocument.file.filename}}&embedded=true" width='100%' height='100%'></iframe>