{% extends '::layout.html.twig' %}

{%- block specifics_stylesheets -%}
    <link rel="stylesheet" href="{{ asset('css/sweetalert.css') }}">
{%- endblock -%}

{% block search %}{% endblock %}

{% block header %}
    <header class="header">
        {% embed 'Partials/topbar.html.twig' %}
            {% block loggged_in %}
                <div class="loggged-in">
                    <span>{{ 'dashboard.applicants.hi'|trans }} {{ app.user.firstname }}! {{ 'dashboard.applicants.you'|trans }} <a href="#">{{ 'dashboard.applicants.logged'|trans }}.</a> </span>
                </div>
            {% endblock %}
        {% endembed %}
        <div class="content-header">
            <div class="container">
            </div>
        </div>
    </header>
{% endblock %}

{% block global_wrapper_classes %}preview-job{% endblock %}
{% block content %}
    <section class="company-dashboard">
        <div class="container">
            <div class="top-dashboard">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5 no-padding">
                    <h2>{{ 'dashboard.employer.title'|trans }}</h2>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7 no-padding">
                    <p>{{ 'dashboard.employer.manage'|trans }}</p>
                </div>
            </div>
            <div class="dashboard-content">
                <table class="table table-bordered table-haystack listjob">
                    <thead>
                        <tr>
                            <th class="company"> {{ 'dashboard.table.title.employer.company'|trans }} </th>
                            <th class="job-title">{{ knp_pagination_sortable(pagination, 'dashboard.table.title.employer.job_title'|trans, 'a.title') }}</th>
                            <th class="date-op">{{ knp_pagination_sortable(pagination, 'dashboard.table.title.employer.date_opened'|trans, 'a.createdAt') }}</th>
                            <th class="oc">{{ knp_pagination_sortable(pagination, 'dashboard.table.title.employer.open_close'|trans, 'a.status') }}</th>
                            <th class="application">{{ knp_pagination_sortable(pagination, 'dashboard.table.title.employer.applications'|trans, 'applicantsCount') }}</th>
                            <th class="invites-sent">
                                {{ knp_pagination_sortable(pagination, 'dashboard.table.title.employer.invites_sent'|trans, 'invitedApplicantsCount') }}
                            </th>
                            <th class="interviews-completed">{{ knp_pagination_sortable(pagination, 'dashboard.table.title.employer.interviews_completed'|trans, 'applicantsInterviewCompletedCount') }}</th>
                            <th class="hires">
                                {{ knp_pagination_sortable(pagination, 'dashboard.table.title.employer.hires'|trans, 'hiredApplicantsCount') }}
                            </th>
                            <th class="edit" colspan="3"></th>
                        </tr>
                    </thead>
                    <tbody>
                    
                        {% for job in pagination %}
                            <tr data-job-slug="{{ job.slug }}" id="{{ job.slug }}" data-owner={{ job.owner.id }} {% if job.status == 'close' %}  class="red-ligne" {% endif %}>
                                <td class="company-content"> {{ job.companyName }} </td>
                                <td class="job-content"><a href="{{path('job_applicants' ,{'slug': job.slug})}}">{{ job.title }}</a></td>
                                <td class="text-center">{{ job.createdAt|date('d M Y') }} </td>
                                <td>
                                    <div class="radio radio-dashboard job-open-close">
                                        <input id="radio2{{ loop.index }}" type="radio" name="radio{{loop.index}}" value="open" {% if job.status == 'open' %} checked {% endif %}>
                                        <label for="radio2{{ loop.index }}" class="green"></label>
                                        <input id="radio1{{ loop.index }}" type="radio" name="radio{{loop.index}}" value="close" {% if job.status == 'close' %} checked {% endif %}>
                                        <label for="radio1{{ loop.index }}" class="red"></label>
                                    </div>
                                </td>
                                <td class="text-center">{{ job.applicants.count }}</td>
                                <td class="text-center">{{ job.invitedApplicants.count }}</td>
                                <td class="text-center">{{ job.interviewCompletedApplicants.count }}</td>
                                <td class="text-center">{{ job.hiredApplicants.count }}</td>
                                <td class="edit-link {% if job.applicants.count > 0 %} disabled {% endif %}"><a href="{% if job.applicants.count == 0 %} {{ path('job_edit' , {'slug' : job.slug, 'id' : job.id  }) }} {% else %} # {% endif %}">{{ 'dashboard.table.button.edit'|trans }}</a></td>
                                <td class="duplicate-job-link"><a href="{{ path('duplicate_job' , {'slug' : job.slug }) }}">{{ 'dashboard.table.button.duplicate'|trans }}</a></td>
                                <td class="edit-link"><a href="{{ path('job_edit' , {'id':job.id, 'slug' : job.slug, 'links': 'yes' }) }}">{{ 'dashboard.table.button.links'|trans }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="dashboard-navigation pull-right">
                {{ knp_pagination_render(pagination) }}
            </div>
            <div class="dashboard-actions pull-right" >
                <a class="create-job" href="{{ path('job_create') }}">  {{ 'dashboard.table.button.create_job'|trans }} </a>
                {# <a class="back" href="#">  {{ 'dashboard.table.button.back'|trans }}</a> #}
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
        {% include 'Partials/footer.html.twig'%}
{% endblock %}

{%- block specifics_javascripts -%}
    <script src="{{ asset('js/sweetalert.min.js') }}"></script>
{%- endblock -%}
