.alerts{
  h2{
    text-transform: capitalize;
    font-size: 30px;
    font-family: $font_lato_light;
    color: #2c3e50;
    padding-bottom: 12px;
  }
  .alert{
    position: relative;
  }

  .small-classic-style{
    .alert{
      border-radius: 0;
      font-family: $font_lato_bold;
      font-size: 14px;
      text-transform: capitalize;
      padding: 9px 10px;
    }
    a{
      opacity: 1;
      text-shadow: none;
      position: absolute;
      right: 11px;
      top: 11px;
      border-radius: 50%;
      line-height: 13px;
      width: 17px;
      height: 17px;
      font-size: 17px;
      text-align: center;
    }
    .normal-message-gray{
      background: #eff5f7;
      color: #959595;
      border: 1px solid #dcdcdc;
      padding-left: 20px;
      a{
        color: #a9abab;
        border: 1px solid #a9abab;
      }
      &:before{
        content: '';
        background: url("images/icons/gray-volume.png") transparent no-repeat;
        display: block;
        width: 29px;
        height: 32px;
        float: left;
        padding-right: 35px;
      }
    }
    .warning-message{
      background: #ffcdc7;
      color: #ff391f;
      border: 1px solid #fdb1a8;
      padding-left: 20px;
      a{
        color: #ff6a5b;
        border: 1px solid #ff6a5b;
      }
      &:before{
        content: '';
        background: url("images/icons/red-exclamation.png") transparent no-repeat;
        display: block;
        width: 29px;
        height: 32px;
        float: left;
        padding-right: 35px;
      }
    }
    .asked-questions{
      background: #fff4bb;
      color: #e99b00;
      border: 1px solid #ffcc66;
      padding-left: 20px;
      &:before{
        content: '';
        background: url("images/icons/info-orange.png") transparent no-repeat;
        display: block;
        width: 29px;
        height: 32px;
        float: left;
        padding-right: 35px;
      }
      a{
        color: #ffba3e;
        border: 1px solid #ffba3e;
      }
    }
    .success-message{
      background: #c1faa8;
      color: #6db74c;
      border: 1px solid #9cff70;
      padding-left: 20px;
      &:before{
        content: '';
        background: url("images/icons/green-success.png") transparent no-repeat;
        display: block;
        width: 29px;
        height: 32px;
        float: left;
        padding-right: 35px;
      }
      a{
        color: #7cd05b;
        border: 1px solid #7cd05b;
      }
    }
    .useful-info{
      background: #bceeff;
      color: #21c2f8;
      border: 1px solid #8ae1ff;
      padding-left: 20px;
      &:before{
        content: '';
        background: url("images/icons/blue-info.png") transparent no-repeat;
        display: block;
        width: 29px;
        height: 32px;
        float: left;
        padding-right: 35px;
      }
      a{
        color: #21c2f8;
        border: 1px solid #21c2f8;
      }
    }
    .normal-message-violet{
      background: #decfdf;
      color: #af75b3;
      border: 1px solid #e2b5e5;
      padding-left: 20px;
      &:before{
        content: '';
        background: url("images/icons/violet-icon.png") transparent no-repeat;
        display: block;
        width: 29px;
        height: 32px;
        float: left;
        padding-right: 35px;
      }
      a{
        color: #ce95d2;
        border: 1px solid #ce95d2;
      }
    }

  }
  .big-alert-content{
    float: left;
    width: 100%;
    margin-top: 40px;
      a{
        opacity: 1;
        text-shadow: none;
        position: absolute;
        right: 18px;
        top: 14px;
      }
    .alert{
    padding: 45px 10px;
      i{
        position: relative;
        top: -1px;
        display: block;
      }
  }
    .alert{
      padding-left: 48px;
    }
    h5{
      font-family: $font_lato_bold;
      font-size: 18px;
      padding-bottom: 7px;
    }
    span{
      font-size: 14px;
      font-family: $font_lato;
    }
    .gray-alert{
      background: #fbfcfc;
      border: 1px solid #dadcdc;
      border-radius: 5px;
      a{
        color: #a1b1bc;
      }
      h5{
        color: #7d8c96;
      }
      span{
        color: #a1b1bc;
      }
    }
    .red-alert{
      background: #fec0b7;
      border: 1px solid #f7a093;
      border-radius: 5px;
      a{
        color: #df3c22;
      }
      h5{
        color: #df3c22;
      }
      span{
        color: #df3c22;
      }
    }
    .green-alert{
      background: #e1f9b7;
      border: 1px solid #b2dc6e;
      border-radius: 5px;
      a{
        color: #649d01;
      }
      h5{
        color: #649d01;
      }
      span{
        color: #649d01;
      }
    }
    .orange-alert{
      background: #fff9da;
      border: 1px solid #fcd068;
      border-radius: 5px;
      a{
        color: #d99b07;
      }
      h5{
        color: #d99b07;
      }
      span{
        color: #d99b07;
      }
    }

    .gray-bell{
     &:before{
       content: '';
       background: url("images/icons/bell.png") transparent no-repeat;
       display: block;
       width: 29px;
       height: 32px;
       float: left;
       padding-right: 73px;
       position: relative;
       top: 9px;
     }
    }
    .red-alert{
      &:before{
        content: '';
        background: url("images/icons/close-red.png") transparent no-repeat;
        display: block;
        width: 29px;
        height: 32px;
        float: left;
        padding-right: 73px;
        position: relative;
        top: 9px;
      }
    }
    .green-alert{
      &:before{
        content: '';
        background: url("images/icons/check-green.png") transparent no-repeat;
        display: block;
        width: 29px;
        height: 32px;
        float: left;
        padding-right: 73px;
        position: relative;
        top: 9px;
      }
    }
    .orange-alert{
      &:before{
        content: '';
        background: url("images/icons/orange-exclamation.png") transparent no-repeat;
        display: block;
        width: 29px;
        height: 32px;
        float: left;
        padding-right: 73px;
        position: relative;
        top: 9px;
      }
    }
  }

  /*************************************************************clear alert***********************************************************/
  .clear-alert-content{
    float: left;
    width: 100%;
    margin-top: 40px;
    .clear-alert{
      margin-bottom: 24px;
      padding-left: 33px;
      background: #fff;
      border: 1px solid #e2e6e7;
      border-radius: 6px;
      float: left;
      padding-top: 24px;
      padding-bottom: 38px;

      h5{
        font-size: 14px;
        font-family: $font_lato_black;
        text-transform: uppercase;
        color: #2c3e50;

        padding-bottom: 13px;
      }
      span{
        font-family:$font_lato;
        font-size: 14px;
        color: #a1b1bc;
      }
      i{
        float: left;
        font-size: 24px;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        text-align: center;
        margin-right: 28px;
      }
    }
    .orange-clear-alert{

      i{
        color: #a47503;
        background: #ffc12d;
        border: 7px solid #f9b718;
        line-height: 49px;
      }
    }
    .red-clear-alert{
      i{
        background: #fd7761;
        color: #d52e13;
        border: 7px solid #f55c43;
        line-height: 48px;
      }
    }
    .green-clear-alert{
    i{
      background: #97e411;
      color: #558502;
      border: 7px solid #7bc200;
      line-height: 47px;
    }
    }
    .violet-clear-alert{
      i{
        background: #a39cdc;
        color: #5b568e;
        border: 7px solid #8781bd;
        line-height: 47px;
      }
    }
    .blue-clear-alert{
      i{
        background: #6fd9fc;
        color: #0787d4;
        border: 7px solid #47b4f6;
        line-height: 50px;
      }
    }
    .icon-alert{
      display: block;
      width: 72px;
      float: left;
    }
.text-clear-alert{
  float: left;
  width: 80%;
  padding-left: 20px;
}
    .small-alert .alert{

    }
  }

  /*****************************************************************Solid Alerts*****************************************************************/
  .solid-color-alert-content{
    margin-top: 50px;
    .solid-color-alert{
      .text-solid-alert{
        float: left;
        width: 80%;
        padding-left: 20px;
      }
      border-radius: 6px;
      .alert{
        padding-left: 48px;
        padding-top: 40px;
        float: left;
        padding-bottom: 32px;

        h5{
          font-size: 14px;
          font-family: $font_lato_black;
          color: #2c3e50;
          text-transform: uppercase;
          padding-bottom: 11px;
        }
        span{
          font-family: $font_lato ;
          font-size: 14px;
          color: #2c3e50;
          line-height: 23px;
        }
        a{
          opacity: 1;
          text-shadow: none;
          position: absolute;
          right: 18px;
          top: 14px;
        }
      }
      i{
        float: left;
        font-size: 24px;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        text-align: center;
        margin-right: 28px;
        line-height: 48px;
      }
    }
    .orange-solid-alert{
      background: #ffc12d;

      i{
        color: #a47503;
        border: 7px solid #a47503;
      }
      a{
        color: #b18009;
      }
    }
    .red-solid-alert{
      background: #feb1a4;

      i{
        color: #d52e13;
        border: 7px solid #f55c43;
      }
      a{
        color: #d52e13;
      }
    }
    .green-solid-alert{
      background: #a7ec2f;
      i{
        color: #558502;
        border: 7px solid #7bc200;
      }
      a{
        color: #558502;
      }
    }
   .blue-solid-alert{
     background: #85ebfa;
     i{
       color: #0787d4;
       border: 7px solid #47b4f6;
     }
     a{
       color: #0787d4;
     }
    }
    .green-solid-alert{
      background: #a7ec2f;
      i{
        color: #558502;
        border: 7px solid #7bc200;
    }
    }
    .violet-solid-alert{
      background: #aacdf6;
      i{
        color: #5b568e;
        border: 7px solid #8781bd;
      }
      a{
        color: #5b568e;
      }
    }
    .icon-alert{
      display: block;
      width: 72px;
      float: left;
    }

  }
  .small-alert{
    width: 570px;
  }
  .large-alert{
    float: left;
    width: 100%;
  }
  .large-alert{
    .text-solid-alert, .text-clear-alert{
      width: 90% !important;
    }
  }
}