.applicant-review-content{


  .modal-header{
    background: #eeeeef;
    border-bottom: 0;
    padding-top: 31px;
    padding-left: 30px;
    .img-modal-header{
    width: 12%;
      float: left;
  }
    .middle-modal-header{
      padding-top: 12px;
      float: left;
      width: 57%;
      .job-title{
        padding-bottom: 7px;
        font-family: $font_lato;
        font-size: 15px;
        color: #8c8c8d;
        span{
          font-family: $font_lato_black;
          color: #343536;
          text-transform: capitalize;
        }
      }
      h1{
        font-size: 30px;
        font-family: $font_lato_black;
        color: #343536;
        text-transform: capitalize;
        float: left;
      }
      
      .yes{
        background: #63ba00;
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        font-family: $font_lato_black;
        border: none;
        border-radius: 5px;
        width: 59px;
        height: 26px;
        float: left;
        margin-top: 4px;
        margin-left: 9px;
        i{
          color: #fff;
          margin-left: 3px;
        }
        
      }
    
      .rating{
        padding-left: 20px;
        float: left;
        width: auto;
        margin-top: -7px;
        p{
          float: left;
          font-size: 30px;
          font-family: $font_lato;
          color: #aaabac;
       span{
         font-family: $font_lato_black;
         color: #343536;
         font-size: 30px;
       }
     }
        #rateyo-applicant-review{
          float: left;
          width: 49% !important;
          padding-top: 17px;
        }
      }
      .jq-ry-container{
        float: left;
        margin-top:15px;
      }

    }
    .right-modal-header{
      .referral{
        padding-top: 13px;
        float: left;
        p{
          font-family: $font_lato;
          font-size: 16px;
          color: #363636;
          text-transform: capitalize;
          span{
            font-family: $font_lato_black;
          }
        }
      }
    }
    .close {
      margin-top: -15px;
      font-family: $font_lato_bold;
      font-size: 14px;
      color: #fff;
      text-transform: uppercase;
    }
  }
  .modal-body{
    padding-left: 60px;
    padding-top: 41px;
    background: #fff;
    float: left;
    width: 100%;
  }
  .modal-footer{
    background: #fff;
    border-top:none;
    padding-bottom: 25px;
  }
  .prescreening-answers{
    h3{
      font-size: 30px;
      font-family: $font_lato;
      color: #9e9e9e;
      padding-bottom: 24px;
      span{
        font-family: $font_lato_black;
      }
    }
    .question-item{
      font-size: 19px;
      font-family: $font_lato;
    }
    .answer-item{
      text-indent: 36px;
      font-family: $font_lato_black;
      color: #00aeef;
      font-size: 26px;
      text-transform: capitalize;
      letter-spacing: .6px;
      text-align: justify;
      span{
        font-size: 17px;
        font-family: $font_lato_black;
        color: #2c3e50;
        margin-right: 10px;
      }
    }
    .question-item{
      font-family: $font_lato;
      color: #2c3e50;
      span{
        margin-right: 12px;
      }
    }
  }
  .question-answer{
    padding-bottom: 40px;
    .number-q{
      color: #fff;
      height: 27px;
      width: 27px;
      border-radius: 50%;
      background: #00aeef;
      display: block;
      text-align: center;
      line-height: 25px;
      float: left;
      border: 2px solid #fff;
      position: relative;
      margin-right: 9px;
      &:before{
        position: absolute;
        display: block;
        content: '';
        border: 1px solid #eaeaea;
        height: 31px;
        width: 31px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border-radius: 50%;
        top: -4px;
        left: -4px;
      }
    }
  }
  .rate-applicant{
    padding-bottom: 35px;
    h3{
      font-size: 30px;
      font-family: $font_lato;
      color: #363636;
      text-transform: capitalize;
      padding-bottom: 16px;

      span{
        font-family: $font_lato_black;
      }
    }
    select{
      font-size: 14px;
      font-family: $font-lato;
      color: #a1b1bc;
      border: 1px solid #e5e7e8;
      height: 40px;
      padding-left: 20px;
      width: 352px;
      background: url("images/icons/icon-select-gray.png") #fff no-repeat 98% 53%;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      -khtml-appearance: none;
    }
  }
  .advance-applicant{
    h3{
      padding-bottom: 17px;
      font-size: 30px;
      font-family: $font_lato;
      color: #363636;
      text-transform: capitalize;
      span{
        font-family: $font_lato_black;
      }
    }
  }
  .contact-info{
    h5{
      font-family: $font_lato_black;
      color: #363636;
      text-transform: capitalize;
      font-size: 16px;
    }
    p{
      font-family: $font_lato;
      color:#959595;
      font-size: 16px;
    }
  }
  .notes{
    padding-bottom: 9px;
    padding-top: 33px;
    label{
      font-family: $font_lato_bold;
      font-size: 14px;
      text-transform: capitalize;
      color: #2c3e50;
    }
    textarea{
      border: 1px solid #d6dde2;
      width: 77.6%;
      resize: none;
    }
  }
  label.label-radio:before{
    content : '';
    display: none;
  }
  label.label-radio{
      width: 123px;
      height: 26px;
      border-radius: 5px;
      border: none;
      font-size: 14px;
      font-family:$font_lato_black;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      padding-right: 0;
      line-height: 26px;
      i{
        color:#fff;
        margin-left: 5px;
    }
  } 
.advance-applicant{
.applicant_update_advanced_0 label.label-radio{
    background: #63ba00;
}

.applicant_update_advanced_1 label.label-radio{
    background: $primaryred;
}
.applicant_update_advanced_2 label.label-radio{
    background: #ffc12d;
}
}


.view-haystack{
    h5{
      font-size: 14px;
      font-family: $font_lato_bold;
      color: #a6abb0;
      padding-bottom: 13px;
    }
    button{
      height: 35px;
      width: 260px;
      text-transform: uppercase;
      font-size: 14px;
      font-family: $font_lato_black;
      background: #75d3f6;
      border-radius: 5px;
      color: #fff;
      border: none;
      margin-bottom: 15px;
    }
  }
  .download-files{
    padding-left: 18px;
    .doc-pdf{
      float: left;
      width: 100%;
      padding-top: 12px;
    }
    .doc-word{
      padding-top: 2px;
      float: left;
      width: 100%;
    }
    h5{
      font-size: 14px;
      font-family: $font_lato_bold;
      color: #a6abb0;
      padding-bottom: 13px;
    }
    img.img-file{
      height: 30px;
      width: 30px;
      float: left;
      margin-right: 11px;
    }
    .file-item{
      position: relative;
      top: -4px;
      float: left;
      width: 80%;
      overflow: hidden;
      .file-name{
        font-size: 14px;
        font-family: $font-lato_black;
        color: #2c3e50;
      }
      .file-info{
        font-family: $font_lato_bold;
        color: #737373;
      }
    }
  }
  .cancel-back{
    text-transform: uppercase;
    font-size: 18px;
    font-family:$font_lato_black;
    color: #fff;
    background: #b0b1b5;
    height: 45px;
    border-radius: 9px;
  }
  .save{
    margin-left: 10px;
    text-transform: uppercase;
    color: #fff;
    background: #30323c;
    font-size: 18px;
    font-family:$font_lato_black;
    border: none;
    height: 45px;
    width: 240px;
    float: right;
    border-radius: 9px;
  }
  .cnt-save{
    float: left;
    width:100%;
  }
}


input[type=radio]:checked + label:before {
	content: "\2022";
	color: #21c2f8;
	font-size: 21px;
	text-align: center;
	line-height: 12px;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 1111px;
  }
}
.middle-modal-header{
  button{
    background: #63ba00;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "latoblack";
    border: none;
    border-radius: 5px;
    width: 59px;
    height: 26px;
    float: left;
    margin-top: 4px;
    margin-left: 9px;
    i{
      color:#fff;
    }
  }
  .no{
    background:#cd040b;
  }
  .yes{
    background:#63ba00;
  }
  .maybe{
    background:#ffc12d;
  }
}

.list-unstyled{
  li{
    background: #ffcdc7;
    color: #ff391f;
    border: 1px solid #fdb1a8;
    padding-left: 20px;
    margin-top: 10px;
    padding: 10px;
    width: auto;
    border-radius: 2px;
  }
}