.answer-applicant-review{
  .modal-header{
    padding-bottom: 45px;
  }
  .modal-body{
    padding-left: 0 !important;
    padding-right: 0;
    padding-top: 0 !important;
    .video{
      width: 76.7%;
      float: left;
    }
    .applicant-review-questions{
      width: 23.3%;
      float: left;
      .question-items{
        cursor: pointer;
        float: left;
        width: 100%;
        padding-left: 22px;
        padding-right: 30px;
        padding-top: 12px;
        padding-bottom: 15px;
        p.question-text{
          font-family: $font_lato;
          font-size: 15px;
          padding-bottom: 17px;
          span{
            color: #fff;
            height: 32px;
            width: 32px;
            border-radius: 50%;
            background: #00aeef;
            display: block;
            text-align: center;
            line-height: 25px;
            float: left;
            border: 2px solid #fff;
            position: relative;
            margin-right: 9px;
            font-family: $font_lato_bold;
            font-size: 16px;
            &:before{
              position: absolute;
              display: block;
              content: '';
              border: 1px solid #eaeaea;
              height: 33.8px;
              width: 33.8px;
              box-sizing: border-box;
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              border-radius: 50%;
              top: -3px;
              left: -3px;
            }
          }
        }
      }

      .wrapper-question-item{
        float: left;
        width: 100%;
        &:after{
          content: '';
          display: table;
          margin: auto;
          width: 90%;
          height: 1px;
          background: url("images/after-step.png");
        }
        &.active{
          background: #00aeef;
          position: relative;
          p.question-text{
            color: #fff;
          }
        &:before{
          content: ' ';
          display: block;
          width: 0;
          height: 0;
          border-top: 16px solid transparent;
          border-bottom: 16px solid transparent;
          border-right:16px solid $blue-clear;
          position: absolute;
          top: 36%;
          left: -15px;
        }
        }
      }
      .question-items.active{
        float: left;
        p{
          color: #fff;

          span{
            margin-right: 6px;
            width: 30px;
            height: 30px;
            margin-top: 7px;
            border: 3px solid #fff !important;
            &:before{
              border: none !important;
            }
          }
        }
        select{
          color: #000;
        }
      }
      select{
        border: 1px solid #e5e7e8;
        width: 109px;
        height: 39px;
        text-transform: uppercase;
        font-family:$font_lato;
        font-size: 14px;
        background: url("images/icons/icon-select-gray.png") #fff no-repeat 96% 53%;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        -khtml-appearance: none;
        color: #a1b1bc;
        padding-left:20px;
      }
      .label-select{
        text-transform: uppercase;
        color: #fff;
        font-size: 14px;
        font-family: $font_lato_black;
        width: 80px;
        text-align: center;
        float: left;
        margin-right: 12px;

      }
      .watch-label{
        background: #75d3f6;
        width: 80px;
        height: 35px;
        display: block;
        text-align: center;
        line-height: 32px;
        border-radius: 6px;
        float: left;
      }
    }
  }
  .written-answer{
    width: 43%;
    padding-left: 32px;
    padding-top: 23px;
    float: left;

    h3{
      font-size: 14px;
      font-family: $font_lato_bold;
      color: #2c3e50;
      padding-bottom: 10px;
    }
    p{
      font-family: $font_lato;
      font-size: 16px;
      color:#959595;
      padding-right: 32px;
    }
  }
  .textarea-note{
    padding-top: 19px;
    float: left;
    width: 57%;
    position: relative;
    margin-left:10px;
    i{
      position: absolute;
      right: 48px;
      top: 62px;
      opacity: .1;
    }
    p{
      font-family: $font_lato_bold;
      font-size: 14px;
      color: #2c3e50;
      text-transform: capitalize;
      padding-bottom: 8px;
    }
    textarea{
      width: 96%;
    }
  }
  .save{
    float: none !important;
    display: table;
    margin: 46px auto 0 auto !important;
  }
  .arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid #00aeef;
    position: relative;
    right: 9px;
    top: 52px;
  }
}
select::-ms-expand {
  display: none;
}

/*css video*/
#paratext1{position: relative;
  padding-bottom:6%;
  padding-top:6%;
  text-align:center;}


#polo_drink img{position:absolute; bottom:0; width:26%; margin:0 37%;}
#back_drink{background:#fff; width:100%; height:400px; display:block;}

#feature{position:relative;}

.video_background{
  width:100% !important;
  background: #30323c;
  max-height:485px;
  overflow: hidden;
}

.videocontrol{position:absolute;
  z-index:1001;
  width:100%;
  top:35%;
  opacity: 0;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -o-transition: opacity .3s;
  -ms-transition: opacity .3s;
  transition: opacity .3s;}

.videocontrol:hover {opacity: .9;}

.videocontrol a{position:relative;
  top:19%;
  background:none;
  border:none;
  -webkit-appearance:none;}
.application-video{
  display: none;
  &.active{
    display: block;
  }
}


#image_background{display:none;}
.pause-play{
  text-decoration: none;
}
.play-pause-content{
  span{
    font-size: 85.01px;
    font-family: $font_lato_bold;
    color: #fff;
    background: #00aeef;
    height: 137px;
    width: 137px;
    border-radius: 50%;
    display: block;
    text-align: center;
    border: 6px solid #fff;
  }
}

.play-pause{
  font-size: 85.01px;
  font-family: $font_lato_bold;
  color: #fff;
  background: #00aeef;
  height: 137px;
  width: 137px;
  border-radius: 50%;
  display: block;
  text-align: center;
  border: 6px solid #fff;
  margin: auto;
}

.play-pause-video{
  text-align: center;

  p{
    font-family: $font_lato_black;
    font-size: 28.84px;
    color: #fff;
    padding-top: 10px;
  }
}