.company-dashboard{
  margin-top: 218px;
  margin-bottom: 93px;
  .top-dashboard{
    h2{
      font-family: $font_lato_light;
      font-size: 36px;
      color: #2c3e50;
      text-transform: capitalize;
      padding-bottom: 30px;
    }
    h3{
      font-family: $font_lato_light;
      font-size: 25px;
      color: #2c3e50;
      margin-bottom: 30px;
      margin-left: 25px;
    }
    p{
      font-family: $font_lato;
      font-size: 16px;
      color: #363636;
      line-height: 20px;
    }
  }
  .dashboard-content{
    table{
      thead{
        border-top: 1px solid #929292;
      }
      td{
        vertical-align: middle;
        border: 1px solid #929292;
        font-size: 14px;
        font-family: $font_lato;
        text-transform: capitalize;
        height: 49px;
      }
      .company-content{
        padding-left: 16px;
      }
      .job-content{
        padding-left: 16px;
      }
      .edit-link{
       text-align: center;
        a{
          text-transform: uppercase;
          font-family: $font_lato_black;
          font-size: 14px;
          color: #fff;
          background: $primarygreen;
          border-radius: 2px;
          padding: 3px 9px;
        }
      }
      .duplicate-job-link{
         text-align: center;
        a{
          text-transform: uppercase;
          font-family: $font_lato_black;
          font-size: 14px;
          color: #fff;
          background: $blue-clear;
          border-radius: 2px;
          padding: 3px 9px;
        }
      }
      th{
          vertical-align: middle;
          text-transform: uppercase;
          font-size: 14px;
          font-family: $font_lato_black;
          color: #fff;
          padding-left: 8px;
          position:relative;
        a{
          vertical-align: middle;
          text-transform: uppercase;
          font-size: 14px;
          font-family: $font_lato_black;
          color: #fff;
          display:block;
          float: left;
          margin-left: 1px;
          margin-margin: 1px;
          .fa{
          float: right;
          vertical-align: middle;
          font-size: 19px;
          position: absolute;
          right:10px;
          top:33%;
        }
        }


      }
      .company{
        background: #44464f;
        width: 20%;
      }
      .job-title{
        background: #606169;
        width: 16.8%;
        a{
          color: #fff;
          top: -5px;
        }
      }
      .date-op{
        background: #787a80;
        width: 9%;
        padding-left: 9px;
        a{
          color: #fff;
          top: -11px;
        }
      }
      .oc{
        background: #87888e;
        width: 12%;
        a{
          color: #fff;
          top: -5px;
        }
      }
      .application{
        background: #c3c4c6;
        width: 12%;

        padding-left: 4px;
        a{
          top: -5px;
          color: #585a60;
          i{
            color: #585a60;
          }
        }
      }
      .invites-sent{
        background: #c3c4c6;
        width: 9.3%;
        color: #585a60;
        padding-left: 9px;
        a{
          top: -11px;
          color: #585a60;
          i{
            color: #585a60;
          }
        }
      }
      .interviews-completed{
        background: #dadadc;
        width: 12%;
        color: #585a60;
        padding-left: 9px;
        a{
          top: -11px;
          i{
            color: #585a60;
          }
        }
      }
      .hires{
        background: #e7edef;
        width: 7.2%;
        color: #585a60;
        padding-left: 7px;
        a{
          top: -5px;
          i{
            color: #585a60;
          }
        }
      }
      .edit{
        background: #e7edef;
        width: 10.2%;
      }
      .red-ligne{
        background:#fcf2f3;
      }
    }
    .radio-dashboard{
      text-align: center;
      label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 20px;
        margin-right: 0;
        font-size: 13px;
        &:before{
          content: "";
          display: inline-block;
          width: 16px;
          height: 16px;
          margin-right: 10px;
          position: absolute;
          left: 0;
          bottom: 1px;
          background-color: #fff;
          box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
          border-radius: 50%;
        }
      }
      input[type=radio] {
        display: none;
      }
      input[type=radio]:checked + label:before {
        content: "\2022";
        color: #f3f3f3;
        font-size: 22px;
        text-align: center;
        line-height: 12px;
      }
      input[type=radio]:checked + .red:before {
        color:$primaryred;
      }
      input[type=radio]:checked + .green:before {
        color:$primarygreen;
      }
    }
  }
  .dashboard-navigation{
    margin-top: -15px;
    width: 100%;
    ul{
      float: right;
      .page-link{
        font-family: $font_lato;
        font-size: 15px;
        color: #a1b1bc;
        border-radius: 3px;
        margin-right: 6px;
      }
      .direction{
        font-family: $font_lato;
        font-size: 15px;
        color: $darkgray;
        text-transform: capitalize;
        i{
          color: #a1b1bc;
          position: relative;

        }
        .fa-angle-left{
          right: 6px;
        }
        .fa-angle-right{
          left: 6px;
        }
      }
    }
    .pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus{
      background: #929292;
      color: #fff;
    }
  }
  .dashboard-actions{
    margin-top: 59px;
    a{
      color: #fff;
      text-transform: uppercase;
      font-family: $font_lato_black;
      font-size: 18px;
      margin-left: 14px;
    }
    .create-job{
        background: #00aeef;
        border-radius: 4px;
      padding: 9px 27px;
    }
    .back{
        background:$darkgray;
        border-radius:6px;
      padding: 9px 56px;
      }
    }
  .job-dashboard-bottom{
    float: left;
    width: 100%;
    p{
      font-size: 30px;
      font-family:$font_lato_light;
      padding-left: 65px;
      color: #2c3e50;
      text-transform: capitalize;
      span{
        font-family: $font_lato_black;
      }
    }
  }
  }
