
.create-video-modal-header{
  .modal-title{
    margin-bottom:10px;
  }
}
.sub-title-modal{
  font-size:20px;
  font-family:$font_lato;
  color:$color_title;
}

.modal-create-video{
  padding:59px;
}
.create-video-content{
  background: $darkgray;
  border-top:4px solid $blue-clear;
  float: left;
  width:100%;
  padding:25px;
  position: relative;
  padding-top:35px;

  .questions-remaining{
    position: absolute;
    top: -7px;
    right:10px;
  }

  .row-video{
    float: left;
    width:100%;
  }

}
.title-modal-create-video{
  color:#959595;
  font-size:16px;
  font-family:$font_lato;
  margin-bottom:24px;

  span{
    font-family:$font_lato_black;
    color: $blue-clear;
  }
}

.create-video-questions{
  background: #fff;
  float: left;
  width:100%;
  @include border-radius(2px);
  padding:26px;

}
.help-text {
color:#2c3e50;
font-size:14px;
font-family:$font_lato_bold;
display: block;
margin-bottom:6px;
}

.nb-question{
  text-align: right;
  padding:0;

  .number-question{
    float: right;
    margin:0;
  }
}
.add-new-question-video-hide{
  display: none;
}
.select-length-video{
  width:120px;
  height:40px;
  border:1px solid #e5e7e8;
  background: #fff;
  line-height:40px;
  position: relative;
  z-index: 0;
  &:after{
    content: "\f107";
    background: #e5e7e8;
    font-family: FontAwesome;
    color:#a1b1bc;
    width:30px;
    height:30px;
    position: absolute;
    top: 4px;
    right: 5px;
    text-align: center;
    font-size: 20px;
    line-height: 34px;
  }
  select{
    padding:0 5px;
    width:100%;
    height:100%;
    border:none;
    position: relative;
    z-index:1;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    -khtml-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
  }
}

.btns-footer-creata-video{
  float: right;
}