.filter-tabs-content{
  display: none;
  padding-bottom: 25px;
  margin-bottom: 40px;
  width: 100%;
  background: url("images/bg-tabs.png") repeat;
  float: left;
  .choose-one-answer{
    padding-bottom: 23px;
    p{
      padding-bottom: 9px;
    }
    label.label-radio{
      font-family:$font_lato;
      font-size: 18px;
      font-weight: 400;
      &:before{
        right: 0 !important;
        left:initial;
      }
      padding-right: 36px;
    }
    :checked + label {
      font-family: $font_lato_black;
    }

  }
  .radio-items{
    padding-left: 22px;
  }
  .choose-multiple-answer{
    padding-bottom: 24px !important;
    p{
      padding-bottom: 9px;
    }
    label.label-checkbox{
      font-family:$font_lato;
      font-weight: 400;
      font-size: 18px;
    }
  }

  .title-radio, .title-checkbox{
    font-size: 18px !important;
    span{
      background: #00aeef;
      line-height: 28px;
      margin-top: -6px;
    }
  }
  .choose-multiple-answer{
    input[type="checkbox"] + label{
      span{
        float: right;
        position: relative;
        right: -10px;
      }
    }
    :checked + label {
      font-family: $font_lato_black;
    }
  }
  .nav.active{
    font-family: $font_myriad_reg;
    border-top: 4px solid #00aeef;
    border-right: 1px solid #3d4156;
    a{
      color: #00aeef;
      background: transparent;
      border-radius: 0;
      border: 0;

    }
  }
  .nav{
    font-family: $font_lato_bold;
    font-size: 14px;
    text-transform: uppercase;
    a{
      color: #f6f6f6;
    }
  }
  .nav-tabs{
    border-bottom: 1px solid #3d4156;
    button{
      opacity: 1;
      font-size: 16px;
      background: #929292;
      color: #5c5c5c;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      margin-left: 12px;
      line-height: 6px;

    }
  }
  .tab-content{
    width: 100%;
    margin-top: 17px;
    float: left;
    height: 221px;
    overflow-x: hidden;
    overflow-y: auto;
    .checkbox-items{
      padding-left: 41px;
    }
  }
  .inside-tab-content{
    background: #fff;
    margin-top: -18px;
    padding-top: 29px;
    padding-left: 21px;
    width: 99%;
    float: left;
  }
  ::-webkit-scrollbar {
    width: 22px;

  }

  ::-webkit-scrollbar-corner {
    width: 8px;
  }

  ::-webkit-scrollbar-track-piece {
    background: #42434c; }

  ::-webkit-scrollbar-thumb {
    background: url("images/scrollbar.png") no-repeat;

  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    background: transparent;
    color: #00aeef;;
  }
  .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    border: none;
  }
  .nav > li > a:hover, .nav > li > a:focus{
    background: transparent;
  }
  .nav-tabs > li > a:hover{
    border-color: transparent;
    border-radius: 0;
  }
  .fade.not-active{
    z-index: -1;
    position: relative;
  }
  .fade{
    float:left;
  }

}


.filter-btn.active-filter{
  background: #dde6e9;
}