.job-dashboard{
  margin-top:218px;
  margin-bottom:93px;
  .filter-btn{
    border: none;
    font-family: $font_lato_black;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    width: 100px;
    height: 40px;
    background: #00aeef;
  }
  h2{
    padding-left: 26px;

  }
  th{
    height: 49px;
    i{
      font-size: 20px;
    }
  }
  td.td-padding{
    padding-left: 16px !important;
  }
  .img-person{
    width:1% !important;
    background: $darkgray;
  }
  .letters{
    text-align: center;
    width: 11%;
    background: #30323c;
    padding-left: 0 !important;
    button{
      font-family: $font_lato_black;
      font-size: 14px;
      border: none;
      width: 23px;
      height: 26px;
      border-radius: 3px;
      text-transform: uppercase;
    }
    .letter-y{
      background: #fff;
      color: $primarygreen;
    }
    .letter-n{
      background: #fff;
      color: $primaryred;
    }
    .interogation{
      background: #fff;
      color: #debc56;
    }
    .croix{
      background: #5c5d65;
      color: #7f7f7f;
    }
  }
  .application-name{
    background: #606169;
    width: 21%;
    i{
      color: #fff;
    }
  }
  .rate{
    width: 6.6%;
    background: #787a80;
    i{
      color: #fff;
    }
  }
  .th-referral{
    color: #494949;
    background: #d2d2d4;
    width: 8%;
  }
  .source{
    color: #fff;
    background: #87888e;
    width: 7.5%;
  }
  .notes{
    color: #fff;
    background: #55565e;
    width: 25%;
  }
  .invite{
    color: #585a60 !important;
    background: #c3c4c6;
    width: 11%;
    i{
      color: #585a60;
    }
  }
  .video{
    width: 8%;
    color: #6f7076 !important;
    background: #dadadc;
    i{
      color:  #6f7076;
    }

  }
  .hired{
    color: #929292 !important;
    background: #e7edef;
  }
  .referral{
    button{
      width: 23px;
      height: 26px;
    }
  }
  td{
    padding: 0 !important;
    padding: 0 !important;
    .disabled-input{
      pointer-events: none;

      &:before{
        color: #dedad0 !important;
      }
    }
    .play{
      color: #fff;
      background: #30323c;
      width: 72px;
      height: 26px;
      border-radius: 4px;
      text-transform: uppercase;
    }
    .send{
      background: $primarygreen;
      color: #fff;
      border-radius: 4px;
      padding: 3px 6px;
      margin-top: 10px;
      text-transform: uppercase;
    }
  }

  .radio-invite{
    float: left;

  }
  .green-line{
    background: #e5f3d4;
    td{
      font-family: $font_lato_black !important;
    }
  }
  button{
    color: #fff;
    font-family: $font_lato_black;
    font-size: 14px;
    border-radius: 3px;
    border: none;

  }
  .small-btn{
    width: 23px;
    height: 26px;
  }
  .button-y{
    background: $primarygreen;
  }
  .button-n.disabled-btn{
    background: $primaryred;
    opacity: .1;
  }
  .button-n{
    background: $primaryred;
  }
  .button-inter.disabled-btn{
    opacity: .2;
  }
  .button-inter{
    background: #FFE11A;
  }
  .button-y.disabled-btn{
    opacity: .2 !important;
  }
  .disabled-btn.send{
    background: #ebe3ca !important;
  }
  .disabled-btn.play{
    background: #ebe3ca !important;
  }
  .red-line{
    background: #fcf2f3;
  }
  .orange-line{
    background: #fdf4d8;
  }
}