.mp-job-name{
  color:#2c3e50;
  font-size:14px;
  font-family:$font_lato_bold;
  margin-bottom:8px;
  display: block;
  float: left;
  width: 100%;
  min-height: 50px;
}
.steps-block{
  margin-left:-15px;
}
.contaiener-step{
  margin-bottom:30px;
  position: relative;
}

/*
------------------------------------------------------------------------------------------------------------------------
THEME HAYSTACK
------------------------------------------------------------------------------------------------------------------------
*/
.mCS-haystack.mCSB_scrollTools {
  width:22px;
  background-color: #42434c;
  border:1px solid #64656c;

  .mCSB_dragger{/* Draggaer */
     background:  #64656C url(images/scrollbar.png) center no-repeat;
    .mCSB_dragger_bar{ /* Draggaer BAR */
      background: transparent;
   }}

 .mCSB_draggerRail{ /* Draggaer RAIl*/
  background: transparent;
 }}

.bl-step{
  width:100%;
  height:282px;
  background: #929292;
  overflow: hidden;
  padding-top:57px;
  padding-left:30px;
  padding-right:30px;
  position: relative;

  .st-icon{
    background: #fff;
    width: 120px;
    height: 120px;
    @include border-radius(50%);
    line-height:120px;
    text-align: center;
    margin:auto;
    margin-bottom:40px;
  }

  .fa-search{
    position: relative;
    top:11px;
  }
  &.work{
    bottom: 0;
    height: 302px;
    margin-top: -20px; 
  }
  &.disabled{
    pointer-events: none;
    cursor: default;
    opacity: 0.25;
    background: #929292;
  }
  &.active{
   background: $green-clear;
  }
  &.valid{
    background: $green-clear;

    .fa{
      color:$green-clear;
      font-size:50px;
    }
  }

.st-l-text{
  text-align: center;
  color:#fff;
  font-family:$font_lato_bold;
  font-size:18px;
}


.st-title{
  color:#fff;
  font-size:24px;
  font-family:$font_lato;
}
.title-icon{
  height:40px;
  width:40px;
  text-align: center;
  line-height:40px;
  display: block;
  float: left;
  @include border-radius(50%);
  background: $blue-clear url(images/film-video.png) center no-repeat;
  margin:0 20px 20px 0;
}
  .btn{
    width:118px;
    height: 33px;
    background: $blue-clear;
    color: #fff;
    text-align: center;
    line-height:33px;
    padding:0;
    font-size:14px;
    font-family:$font_myriad_reg;
    margin-top:13px;
    text-transform: none;
  }

  .st-text{
    p{
      color: #fff;
      font-size:14px;
      line-height: 23px;
      clear: both;
    }
  }

  .message-coming-soon{
    text-align: center;
    font-family:$font_lato_bold;
    font-size:18px;
  }

  &.coming-soon-step{
    opacity:0.25;
  }

}
.bl-step-2 {
  position: relative;
  overflow: visible;
  &:after{
    content: ' ';
    position: absolute;
    width:100%;
    left:0;
    bottom:-10px;
    height:10px;
    background: $blue-clear;
  }
}

.container-footer-steps{
  float: right;
  margin-right:15px;
  .btn-next-step{
    width: 170px;
    height:45px;
    padding:0;
    line-height:45px;
    background: #363636;
    border:1px solid #1f2021;
    color:#ffffff;
    font-family:$font_myriad_reg;
    font-size:18px;
  }
}

/*********************************** MODALS 1 *********************************/
.title-content-modal{
  font-size:30px;
  color:$color_title;
  font-family:$font_lato_black;
  margin-bottom:28px;
  span{
    font-family:$font_lato;
  }
}

.btns-choose-candidate{
  float: left;
  margin-top: -12px;
  .btn{
    width:100px;
    height:45px;
    line-height:45px;
    padding:0;
    color:#fff;
    text-transform: uppercase;
  }
  .btn-save{
    background: $blue-clear;
    border:1px solid #009bd5;
    font-family:$font_myriad_reg;
  }
  .btn-next-step{
    background: #30323c;
    border:1px solid #30323c;
  }
}

.container-type-questions{
  float: left;
  width:17%;
  margin-right:1%;
}
.types-questions{
  ul{
    padding:0;
    list-style:none;
    li{
      display: block;
      text-align: left;
      width:100%;
      margin-bottom:21px;
    }

    li.help-text{
      color:$blue-clear;
      font-size:14px;
      font-family:$font_lato_bold;
    }
    li.bf{
      color:#30323c;
    }

    li.separator{
      width:110%;
      height: 1px;
      background: #dddddd;
      color: transparent;
      position: relative;
      left:-10px;
      right:-10px;
    }
  }

  .btn{
    background-color: $blue-clear;
    height:45px;
    width:100%;
    max-width:170px;
    color:#fff;
    font-family:$font_myriad_reg;
    font-size:16px;
    text-transform:none;
    position: relative;
    z-index: 999;
  }

  .btn-question-multiple{
    background: $blue-clear url(images/question-multiple.png) 95% no-repeat;
  }
  .btn-question-check{
    background: $blue-clear url(images/questions-checkbox.png) 95% no-repeat;
  }
  .btn-question-dropdown{
    background: $blue-clear url(images/question-dropdown.png) 95% no-repeat;
  }
  .btn-question-paragraph{
    background: #30323c url(images/paragraph.png) 95% no-repeat;
  }
  .btn-question-shortanswer{
    background: #30323c url(images/short-answer.png) 95% no-repeat;
  }
}

.container-questions{
  float: left;
  width:81.5%;
  background: $darkgray;
  /*padding-bottom:33px;*/

  /*
  ::-webkit-scrollbar { width: 22px;}
  ::-webkit-scrollbar-corner {  width: 8px; }
  ::-webkit-scrollbar-track-piece { background: #42434c; }
  ::-webkit-scrollbar-thumb {background: url("images/scrollbar.png") no-repeat;}
*/
  .tab-content{
    max-height: 460px;
  }

  .nav-tabs
  {
    background: #4a4c52;
    border :1px solid transparent;

    & > li {
      background: #3e4048;
      border:1px solid #2d5d7e;
      min-height: 50px;
      min-width:133px;
      text-align: center;

      & > a {
        border:none;
        color:#a1b1bc;
        font-family:$font_lato_bold;
      }
    }
    li.active{
      border:none;
      background: #30323c;
    }
  }

  .nav-tabs
  {
    li.active
    {
      a{
        background: transparent;
        @include border-radius(0);


        &:hover{
          border-top:4px solid $blue-clear;
        }
      }
    }
  }


  .nav > li > a:hover, .nav > li > a:focus {
    background: transparent;
    border:none;
  }
  .tab-pane{
    float: left;
    width:100%;
  }
}

/* Override Color tabs active */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  border-top:4px solid $blue-clear;
  color:#00aeef;
}
/* END Override Color tabs active */

.filter-question{
  width:16px;
  height: 16px;
  display: inline-block;
  padding:0;
  text-align: center;
  line-height:15px;
  @include border-radius(50%);
  border: 1px solid $blue-clear;
  background: #fff;
  color: $blue-clear;
  font-size:10px;
  font-family:$font_lato_bold;
}
.filter-question.gray{
  border-color: #626262;
  color:#626262;
}

li.bf {
  .filter-question {
    color: #30323c;
    border:1px solid #30323c;
  }
}

.questions-remaining{
  text-transform: uppercase;
  color: #fff;
  font-family:$font_lato_bold;
  font-size:15.33px;
  display: block;
  float: right;
  height: 26px;
  line-height: 26px;
  background: #7d8287;
  padding-left:10px;
  @include border-radius(4px);
  margin-top:14px;
  margin-right:16px;

  span.number{
    display: inline-block;
    height:100%;
    background: $blue-clear;
    width:26px;
    text-align: center;
    @include border-radius(4px);;
  }

}

.choose-candidate{
  float: left;
  width: auto;
  input[type="checkbox"] {
    display:none;
  }
  input[type="checkbox"] + label span {
    display:inline-block;
    width:20px;
    height:20px;
    margin:-2px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    border: 1px solid $blue-clear;
    @include border-radius(2px);
    box-shadow: inset 0.2px 2px 3px 1px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: inset 0.2px 2px 3px 1px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
    -khtml-box-shadow: inset 0.2px 2px 3px 1px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
    -ms-box-shadow: inset 0.2px 2px 3px 1px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
    -o-box-shadow: inset 0.2px 2px 3px 1px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: inset 0.2px 2px 3px 1px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);

  }
  input[type="checkbox"]:checked + label {
    color: $blue-clear;
  }
  input[type="checkbox"]:checked + label span {
    position: relative;
    &:after{
      content: ' ';
      position: absolute;
      width: 72%;
      height: 72%;
      top: 14%;
      left: 14%;
      background: $blue-clear;
      padding:5px;
    }

  }
  label.lebel-candidate{
    padding-right: 1px;
    cursor: pointer;
  }

  .cnt-candidate{
    float: left;
    margin-right:24px;
  }

  label{
    font-family:$font_lato_bold;
    font-size:18px;
    color:#2c3e50;
  }
  .container-new-document{
    float: left;
    margin-right: 11px;
    margin-top:-12px;

  }
  input[type="text"]{
    height:50px;
    border:1px solid $blue-clear;
    color: $blue-clear;
    font-size:20px;
    font-family:$font_lato;
    padding-left:12px;
    @include border-radius(4px);
  }
}

/* content Modals first questions */

.tab-content-first-question{
  h3{
    font-family:$font_lato;
    font-size:25.75px;
    color:$blue-clear;
    margin-bottom:18px;
  }
  p{
    font-size:18px;
    color: #fff;
    font-family:$font_lato;
    strong{
      font-family:$font_lato_bold;
    }
  }
}
.questions-examples{
  float: left;
  width:100%;
  margin-top:40px;

  .qe-title{
    background: #63788a;
    min-height:47px;
    width:100%;
    color: #fff;
    font-size:16.5px;
    font-family:$font_lato;
    line-height: 47px;
    padding: 0 10px;
    @include border-radius(5px 5px 0 0);

    strong{
      font-family:$font_lato_bold;
    }
    img{
      margin-right: 7px;
      border-right: 1px solid #aeb9c2;
      padding-right: 10px;
    }
  }

  .row-question-exampl{
    border:1px solid #f2f2f2;
    float: left;
    width:100%;
    background: #fff;
    .eq-number{
      float: left;
      width:15%;
      border-right:2px solid #f2f2f2;
      padding: 10px 0;
      .number{
        width: 33px;
        height: 33px;
        text-align: center;
        line-height: 33px;
        padding:3px;
        margin:auto;
        border:1px solid #ededed;
        @include border-radius(50%);

        & > div{
          width: 100%;
          height: 100%;
          line-height: 27px;
          color:#fff;
          @include border-radius(50%);
        }
        .green{background: #b8ccaa;}
        .blue{background: #a0aed5;}
        .red{ background: #f6bcce;}
      }
    }
    .qr-response{
      float: left;
      width:85%;
      padding:10px;

      .question{
        font-family:$font_lato_bold;
        font-size:14.42px;
        color:$darkgray;
      }
      .response{
        font-family:$font_lato;
      }
    }


  }
}
.row-question-exampl.last{
  @include border-radius(0 0 5px 5px);
}

.create-job-footer-modal{

  .btn{
    height:45px;
    padding:0;
    line-height:45px;
    text-align: center;
    color: #fff;
    font-family:$font_myriad_reg;
    text-transform: uppercase;
  }
  .preview-question{
    background: #03ab8c;
    min-width:340px;


  }
  .save-next{
    background: #30323c;
    min-width:170px;
    border:1px solid;
    border:1px solid #1f2021;
  }
}
/* *********************** MODAL 2 ********************** */
.ui-state-highlight{
  background: $blue-clear;
  height:82px;
  width:100%;
  border:1px dashed #fff;
  float: left;
}

.my-questions{
  width:100%;
  float: left;
  background: #fff;
  .question{
    position: relative;
    float: left;
    width:100%;
    min-height:82px;
    border-bottom:2px solid #e4e4e6;
    padding:25px 0 13px 0;
    background: #fff;
    .col-md-4{
      padding-right: 0;
    }

    .type-qst{
      color:#000000;
      font-family:$font_myriad_reg;
      font-family:$font_lato_black;
      font-size:14.42px;
      opacity:0.69;
      margin-top: 4px;
      float: left;

    }

    .btns-question{
      .btn{
        height:26px;
        line-height:26px;
        text-align: center;
        padding: 0 14px;
        text-transform: uppercase;
        color: #fff;
        font-size:16px;
        font-family:$font_lato_bold;
        opacity:0.40;
      }
    }

    .qst{
      color:#363636;
      font-size:14.42px;
      font-family:$font_lato;
      opacity:0.69;
    }

    .btn-edit{
      background: #929292;
    }
    .btn-delete{
      background: #363636;
      float: right;
    }

    &.active{
      .btn{
        opacity:1;
      }
      .btn-edit{
        background: #03ab8c;
      }
      .btn-delete{
        background: #a30101;
        float: right;
      }

      .type-qst{
        opacity: 1;
      }
      .number .nb{
        background: $blue-clear;
      }
    }

    .drag-question{
      width:12px;
      height:23px;
      background: transparent url(images/drag.png) no-repeat;
      position: absolute;
      right: 10px;
      top:34%;
      opacity:0.28;
      overflow: hidden;
      color: transparent;
      cursor:move;
    }
  }

  .number-question{
    float: left;
    margin-right:10px;
    .number{
      width: 33px;
      height: 33px;
      text-align: center;
      line-height: 33px;
      padding:3px;
      margin:auto;
      border:1px solid #ededed;
      @include border-radius(50%);

      & > div{
        width: 100%;
        height: 100%;
        line-height: 27px;
        color:#fff;
        @include border-radius(50%);
      }
      .nb{background: #929292;}
    }
  }
}
.gd-questions{
  background: #ededed;
  float: left;
  width:100%;
  min-height:82px;
  padding:20px 1px 13px 23px;
  span{
    color: $color_title;
    font-family: $font_lato;
    font-size:14.42px;
  }
  a{
    font-family:$font_lato_black;
    color:$color_title;
    display: inline-block;
    background: transparent url(images/back-icon.png) 0 3px no-repeat;
    padding-left: 40px;
    min-height: 33px;
    padding-top:9px;
  }




  span{

  }

}

/* ******************************************** MODAL 3 configure Question **********************************/

.number-question.col{
  float: left;
  height:100%;
  width:10%;
}
.configure-question{
  background: #ffffff;
  padding:20px 10px 15px 3px;
  float: left;
  width:100%;
  @include border-radius(5px);

  .title-configure-question{
    margin-bottom:30px;
    span{
      font-size:18px;
      color:#000;
      font-family:$font_lato_black;
    }
  }
}

.cnt-question{
  float: left;
  width:87%;
  .help-text{
    color:#2c3e50;
    font-size:14px;
    font-family:$font_lato_bold;
    display: block;
    margin-bottom:6px;
  }
  .form-mini-block-left{
    margin-bottom:5px;
  }
  .form-mini-block-right{
    margin-bottom:20px;
  }
}

.form-line-large{
  float: left;
  width: 100%;
  margin-bottom:20px;
  input[type="text"]{
    width:100%;

  }
}

.min-max-char{
  float: left;
  width:100%;
  input[type="text"]{
    width:90px;
    height: 50px;
    margin-top:9px;
  }
  .min-char{
    float: left;
  }
  .separ-tiret{
    float: left;
    margin: 20px 7px;
    display: block;
    height: 50px;
    line-height: 50px;
  }
}
.btns-configure-question{
  float: left;
  width:100%;
  text-align: right;
  .btn{
    margin-right: 10px;
  }
}

.add-answer{
  margin-bottom:13px;
  float: left;
  input[type="text"]{
    width:80%;
    float: left;
  }
}
.add-delete-answer{
  float: left;
  height: 50px;
  line-height:50px;
  margin-left:5px;
}
.btn-crud{
  border:none;
  position: relative;
  width: 23px;
  height: 26px;
  background: transparent;
  top: 3px;
  .fa{
    font-size:25px;
    position: absolute;
    top:0;
    left:0;
  }
  .fa-plus-square{color: $blue-clear;}
  .fa-minus-square{color: #df7a8b;}
}

.cnt-question.multiple-choice{
  .form-mini-block-left{
    margin-bottom:0;
  }

  .form-mini-block-right{
    margin-bottom:0;
  }


}

/** **/
.drop-active{  border:2px solid red;
  display: block;
  width:100%;
  height:120px;}
.drop-hover{  border:2px solid orange; }
/** **/

.drop-active{
  float: left;
  width: 100%;
  min-height: 82px;
  border: 2px dashed #e4e4e6;
  @include border-radius(4px);
  background: #fff;
  padding: 25px 0 13px 0;
  transition: background-color 0.8s;
}

.configure-question{
  display: none;
}

.multiple-choice #mc{ display: block !important;}
.check-boxes #cb{ display: block !important;}
.dropdown #dd{ display: block !important;}
.short-answer #sa{ display: block !important;}
.paragraph #pa{ display: block !important;}

.cnt-footer-bg{
  .craue_formflow_buttons{
    float:right;
  }
}

#create_job_links_links{
  display:none;
}

.question-preview{
  .choose-multiple-answer{
    p{
      float: left;
      display:block;
    }
  }
  .number-question{
    color: #fff;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #8fdbf8;
    display: block;
    text-align: center;
    line-height: 25px;
    float: left;
    border: 2px solid #fff;
    position: relative;
    margin-right: 8px;
  }

  .dropdown-question{
    margin-bottom: 50px;
  }
  .choose-one-answer label.label-radio:before{
    left:0;
  }
}
.choose-one-answer {
  .radio-items .item{
    position: relative;
  }
  input[type=radio]{
    position: absolute;
    left: 2px;
    top: -1px;
    display: block;
    opacity: 0;
  }
}
#quit-preview-question{
  display: none;
}
.hay-open-modal{
    .modal{
      overflow-x: hidden;
      overflow-y: auto;
    }
}
.box-step{
  position: absolute;
  top:10px;
  left:10px;
  font-size:30px;
  font-family:$font_lato_bold;
  color:#337ab7;
  span{
    font-size:20px;
    position: relative;
    top: -8px;
  }
}
.bl-step{

.fa-check{
    top: 23px;
    position: relative;
    font-size: 80px;
}
}
.btn-edit-box{
  position: absolute;
  bottom: 5px;
  right: 5%;  
  background: #00aeef;
  color: #fff;
  text-align: center;
  padding: 8px;
  font-size: 14px;
  font-family:$font_lato_bold;
  text-transform: none;
  display: none;
  &.show{
    display: block;
  }
}
