.preview-job{
  .choose-one-answer{
    label.label-radio{
      &:before{
        left: 0;
      }
    }
  }
  header{
    background: transparent;
    border-bottom: none;
    padding-top: 0;
  }
  .job-name{
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 39px;
    padding-top: 9px;
    width: 583px;
    h2{
      font-family: $font_lato_black;
      font-size: 30px;
      color: #363636;
      text-transform: capitalize;
      padding-bottom: 13px;
      a{
        color: #fff;
        text-transform: uppercase;
        font-size: 13px;
        font-family: $font_lato;
        background: #bebebe;
        padding: 6px 12px;
        margin-left: 12px;
      }
    }
    p{
      font-family: $font_lato_bold;
      font-size: 14px;
      color: #000000;
      line-height: 25px;
    }
  }


.form-preview-job-content{
  padding-bottom: 18px;
  padding-right: 4px;
  padding-left: 4px;
  margin-top:35px;
  float: left;
  width: 100%;
  .border-bottom{
    border-bottom: 1px solid #d6dde2;
    max-width: 1233px;
    width: 100%;
    margin: auto;
    display: block;
    margin-top: 21px;
    margin-bottom: 21px;
  }
  form{
    width: 100%;
    float: left;
  }
  input[type=text],  input[type=email]{
    height: 48px;
    border: 1px solid #d6dde2;
  }
  .form-group.info{
    width: 48.8%;
    float: left;
    margin-bottom: 26px;
    position: relative;
    padding-bottom: 8px;
  }
  .right-input{
    float: right !important;
  }
  .small-input{
    float: left;
    width: 48.8%;
  }
  .address-form, .postal-code-form{
    width: 55% !important;
  }
  .city-form, .phone-form{
    width: 42% !important;
  }
  .who-referred-you{
    float: left;
    width: 100%;
    .referred-person{
      width: 26.9%;
      float: left;
    }
    .info-referred-person{
      width: 71.7%;
    }
  }
.radio-items{
  padding-left: 42px;
}
  .checkbox-items{
    padding-left: 42px;
  }
  label.label-text{
    font-size: 14px;
    font-family: $font_lato_black;
    color: #2c3e50;
    text-transform: uppercase;
  }

  .short-answer-form{
    float: left;
    width: 100%;
    padding-bottom: 36px;
    label{
      padding-bottom: 7px;
    }
    input[type=text]{
      width: 50%;
    }
  }
  .long-answer-form{
    float: left;
    width: 100%;
    padding-bottom: 33px;
    label{
      padding-bottom: 7px;
    }
    textarea{
      width: 83.4%;
      resize: none;
    }
  }


  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 24px;
    color: #ababab;
    text-transform: capitalize;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-size: 24px;
    color: #ababab;
    text-transform: capitalize;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-size: 24px;
    color: #ababab;
    text-transform: capitalize;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-size: 24px;
    color: #ababab;
    text-transform: capitalize;
  }


  .dropdown-question{
    float: left;
    width: 100%;
    margin-bottom: 58px;
    p{
      padding-bottom: 13px;
    }
    select{
      width: 50%;
      font-family: $font_lato_bold;
      font-size: 18px;
      color: #c2c2c2;
      background: url("images/icons/icon-select.png") #fff no-repeat 96% 53%;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      -khtml-appearance: none;
    }
  }
  input[type=submit]{
    text-transform: uppercase;
    font-family: $font_lato_black;
    font-size: 18px;
    color: #fff;
    background: #363636;
    border: none;
    width: 171px;
    height: 45px;
    border-radius: 8px;
    margin-top: 43px;
    float: right;
    position: relative;
    right: 192px;
  }
  .download-file{
    float: right;
    width: 48.7%;
    .download-item{
      width: 50%;
      float: left;

      .dz-preview{
        display: none;
      }
    }
    button.browse{
      font-family: $font_myriad_reg;
      font-size: 14px;
      color: #fff;
      background: #75d3f6;
      border: none;
      margin: auto;
      display: table;
      padding: 10px 19px;
      border-radius: 6px;
      margin-top: 15px;
    }
    .doc-bottom{
      padding-top: 12px;
      padding-left: 27px;
      .doc-info{
        width: 36%;
        float: left;
      }
      button{
        text-transform: uppercase;
        color: #fff;
        font-family: $font-lato_bold;
        font-size: 16px;
        background: #a30101;
        border-radius: 5px;
        border: none;
        padding: 3px 16px;
      }
      .file-name{
        font-family: $font_lato_black;
        font-size: 14px;
        color: #2c3e50;
        line-height: 21px;
      }
      .size-file, .date-file{
        font-family: $font_lato_bold;
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}
}

.choose-one-answer{
  float: left;
  width: 100%;
  padding-bottom: 58px;
  p{
    padding-bottom: 13px;
  }
  label.label-radio{
    display: inline-block;
    font-family: $font_lato_bold;
    cursor: pointer;
    position: relative;
    padding-left: 20px;
    margin-right: 0;
    font-size: 16px;
    letter-spacing: .4px;
    padding-right: 49px;
    &:before{
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 10px;
      position: absolute;
      bottom: 3px;
      background-color: #fff;
      box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
      border-radius: 50%;
    }
  }
  input[type=radio] {
    position: absolute;
    left:-9999px;
  }
    input[type=radio]:checked + label:before {
    content: "\2022";
    color: #21c2f8;
    font-size: 21px;
    text-align: center;
    line-height: 13px;
  }
}
.label-answer, .title-checkbox, .title-radio{
  position: relative;
  .btn-instruction{
    color: transparent;
    border: none;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    &:after{
      position: absolute;
      font-family: FontAwesome;
      content: "\f05a";
      width:100%;
      height:100%;
      color: #8fdbf8;
      top: 1px;
      left: 1px;
      font-size: 21px;

    }
  }
  
  .instructions{
    display: none;
    background:#2e313b;
    font-family: $font_lato_light;
    color: #fff;
    position: absolute;
    width: 100%;
    border-radius: 4px;
    top: -11px;
    padding: 10px;
    font-size: 12px;
    left: 50%;
    &:before{
      content:  '';
      display: none;
    }
    &:after{
      content: ' ';
      width: 0; 
      height: 0; 
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #2e313b;
      bottom: -10px;
      position: absolute;
      left: 50%;
    }
  }
  div.instructions{
    top: -40px; 
  }
}

label.label-answer{
  padding-top: 30px;
  font-size: 24px !important;
  font-family: $font_lato_bold;
  color: #2c3e50;
  text-transform: capitalize;
  span.order{
    color: #fff;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #8fdbf8;
    display: block;
    text-align: center;
    line-height: 25px;
    float: left;
    border: 2px solid #fff;
    position: relative;
    margin-right: 9px;
    &:before{
      position: absolute;
      display: block;
      content: '';
      border: 1px solid #eaeaea;
      height: 33.8px;
      width: 33.8px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      border-radius: 50%;
      top: -3px;
      left: -3px;
    }
  }
}

.title-radio, .title-checkbox{
  font-size: 24px !important;
  font-family: $font_lato_bold;
  color: #2c3e50;
  text-transform: capitalize;
  float: left;
  width: 100%;
  margin-bottom: 13px;
  span{
    color: #fff;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #8fdbf8;
    display: block;
    text-align: center;
    line-height: 25px;
    float: left;
    border: 2px solid #fff;
    position: relative;
    margin-right: 9px;
    &:before{
      position: absolute;
      display: block;
      content: '';
      border: 1px solid #eaeaea;
      height: 33.8px;
      width: 33.8px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      border-radius: 50%;
      top: -3px;
      left: -3px;
    }
  }
  .short-answer-input{
    width: 571px;
    height: 48px;
    border: 1px solid #d6dde2;
  }
}

.choose-multiple-answer {
  float: left;
  width: 100%;
  padding-bottom: 58px;
  p{
    padding-bottom: 13px;
  }
  input[type="checkbox"] {
    display:block;
    position: absolute;
    top: 0;
    left: 24px;
    opacity: 0;
  }
  .checkbox-items {
    .item{
      position: relative;
    }
  }
  input[type="checkbox"] + label span {
    display:inline-block;
    width:20px;
    height:20px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    border: 1px solid #52cbf9;
    border-radius: 2px;
  }
  input[type="checkbox"]:checked + label span {
    background:#fff url(images/icons/check_radio_sheet.png) center no-repeat;
  }
  label.label-checkbox{
    padding-right: 49px;
    cursor: pointer;
  }
}

.social-buttons{
  padding-right: 4px;
  padding-left: 4px;
  float: left;
  width: 100%;
  padding-bottom: 45px;
  button{
    cursor: pointer;
    position: relative;
    width: 94%;
    color: #fff;
    border-radius: 4px;
    height: 45px;
    padding: 0;
    padding-right: 33px;
    i{
      color: #fff;
      font-size: 24px;
      position: relative;
      top: 11px;
    }
    span{
      position: absolute;
      left: 0;
      top: 1px;
      display: inline-block;
      width: 45px;
      height: 43.5px;
      border-right: 1px solid rgba(255,255,2550,0.1);
    }
    label{
      font-size: 14px;

      position: relative;
      top: 5px;
      padding-left: 19px;
      letter-spacing: .2px;
    }
  }
  .facebook-btn{
    background: url("images/bg-facebook.png") repeat-x;
  }
  .twitter-btn{
    background: url("images/bg-twitter.png") repeat-x;
    margin: auto;
    display: table;
  }
  .linkedin-btn{
    background: url("images/bg-linkedin.png") repeat-x;
    margin: auto;
    display: table;
  }
  .google-btn{
    background: url("images/bg-google.png") repeat-x;
    float: right;
  }
  .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle){
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }
}

.preview-job{
  .logo{
    width:180px;
    img{
      width: 100%;
    }
  }
}