.main-content-signup {
	background: #f9fafb;
	float: left;
	margin-bottom:35px;
	margin-top:7px;
	.price-table-content {
		background: #fff;
		float: left;
		text-align: center;
		border: 1px solid #dde6e9;
	}
	.price-table-width{
		width: 388px;
	}

	.price-table-title {
		border-radius: 3px;
		font-size: 24px;
		font-family: $font_lato;
		color: #fff;
		background: #929292;
		padding: 20px 1px;

			span{
				font-size:14px;
				
			}
	}

	.wrapper-price{
		padding: 30px 0px;
		border-bottom: 1px solid #dde6e9;
		background: #f4f7f8;
		margin-top: -5px;

	}
	
	.wrapper-title{
		font-size: 24px;
		font-family: $font_lato;
		text-transform: uppercase;
		color: #fff;
		position: relative;
		margin: auto;
		display: block;
		border-radius: 4px;
		background-image: url(images/haystack-pro.png);
		background-position: 38%;
		background-repeat: no-repeat;
		background-color: #929292;
		z-index: 1;
		text-align: right;
    	padding-right: 55px;
		span{
			position: relative;
			left: 95px;
		}
	}
	.price {
		margin: auto;
		padding-top: 30px;
		padding-bottom: 9px;
		width: 90px;
		height: 90px;
		background: #f4f7f8;
		@include border-radius(50%);
		border: 5px solid #fff;
		position: relative;
		line-height: 1px;
		.text-price{
			display: block;
			font-family: $font_lato_light;
			font-size: 19px;
			color: #363636;
			&:before{
				position: absolute;
				display: block;
				content: '';
				border: 1px solid #f5f5f4;
				height: 92px;
				width: 92px;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				border-radius: 50%;
				top: -6px;
				left: -6px;
			}
		}
		.month {
			font-family: $font_lato;
			font-size: 14px;
			line-height: 39px;
		}
	}

	.table-features {
		border-top: 1px solid #dde6e9;
		margin-top: 3px;
		list-style: none;
		padding: 0;
		line-height: 2;
		font-size: 12px;
		color: #999;
		text-align: center;
		margin-bottom: 0;
		li{
			padding-top: 11px;
			padding-bottom: 7px;
			text-transform: capitalize;
			font-size: 14px;
			font-family: $font_lato;
		}
		.with-bg{
			background: #f4f7f8;
		}
	}

	.price-table-button {
		padding: 28px 0;
		background: #f4f7f8;
			
		input[type=radio] + label {
				display: inline-block;
				vertical-align: top;
				text-transform: uppercase;
				text-decoration: none;
				background: #e5e5e5;
				border: 1px solid #cccfd0;
				border-radius: 4px;
				font-family: $font_lato_black;
				font-size: 18px;
				color: #ababab;
				padding: 9px 5px;
				min-width: 185px;
				cursor:pointer;
		}
		input[type=radio]:checked + label { 
			background: #00aeef;
    		color: #fff;
    		border: 1px solid #56bfbb;
			&:before{
				content : ' ';
				color: transparent;
			}
		}
	}

	.price-table-pro {
		background-color: white;
		.text-price{
			font-family: $font_lato_black;
			color: #fff;
		}
		
		.price-table-button{
			padding-bottom: 42px;
			button{
				&:hover{
					background: #00aeef;
					color: #fff;
					border: 1px solid #56bfbb;
				}

			}
		}
		.table-features{
			li{
				color: #30323c;
			}
		}
		.price{
			background: #00aeef;
			span{
				color: #fff;
			}
		}

		> .plan-title { font-size: 18px; }

		> .plan-price {
			width: 100px;
			height: 100px;
			line-height: 100px;
			font-size: 21px;
			border-radius: 50px;
		}

		> .plan-features { font-size: 13px; }

		> .plan-button {
			padding: 0 16px;
			line-height: 32px;
		}

		+ .plan { border-left: 0; }

	}
	.price-table-pro{
		width:388px;
	}

}


.plan-disabled{
	opacity: 0.5;
	z-index: -1;
}
.price-selected{
	.price-table-title{
		background-color: #00aeef;
		position: relative;
		width: 400px;
		top: -5px;
		left: -5px;
		z-index: 10;
		bottom: -5px;
		height: 80px;
	}

	.price{
		background:#00aeef;
		.text-price{
			color:#fff;
		}
		.month{
				color: #fff;
			}
	}
	.price-table-button{
		padding: 35px 0; 
	}
	/*height: 80px; 
    top: -6px;
	width: 403px;
	*/
}