.video-interview{
  .left-video-content{
    float: left;
    width: 72.7%;;
  }
  .job-name{
    width: 73%;
    p{
      padding-right: 10px;
    }
  }
  .right-video-content{
    float: left;
    width: 27.3%;
    .solid-color-alert{
      .alert{
        padding-left: 14px;
        padding-top: 19px;
        h5{
          padding-bottom: 2px;
        }
      }
    }
    .solid-color-alert-content{
      margin-top: 0;
    }
    .text-solid-alert{
      padding-top: 8px;
    }
  }
  .testing-video{
    h2{
      font-size: 30px;
      font-family: $font_lato_black;
      color: #00aeef;
      text-transform: capitalize;
      padding-bottom: 5px;
    }
    p{
      font-family: $font_lato_bold;
      font-size: 14px;
      color: #000;
      padding-bottom: 33px;
    }
  }
  .video-interview-step{
    padding-left: 34px;
    padding-right: 17px;
    position: relative;
    top: 92px;
    .step-item{
      &:after{
        display: block;
        content: '';
        background: url("images/after-step.png");
        width: 92%;
        height: 1px;
        margin: 35px auto;
      }
    }
    img{
      padding-left: 12px;
    }
    h3{
      padding-bottom: 24px;
      font-family: $font_lato_black;
      font-size: 30px;
      text-transform: capitalize;
      span{
        color: #fff;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        text-align: center;
        line-height: 25px;
        display: inline-block;
        border: 2px solid #fff;
        position: relative;
        margin-right: 9px;
        &:before{
          position: absolute;
          display: block;
          content: '';
          border: 1px solid #eaeaea;
          height: 33.8px;
          width: 33.8px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          border-radius: 50%;
          top: -3px;
          left: -3px;
        }
      }
    }

    .passed{
      h3{
        color: #63ba00;
        span{
          background: #63ba00;
        }
      }
    }
    .no-test{
      h3{
        color:#00aeef;
        span{
          background: #00aeef;
        }
      }
    }
    button{
      margin-top: 10px;
      float: right;
      color: #fff;
      text-transform: uppercase;
      font-family: $font_lato_black;
      font-size: 18px;
      width: 190px;
      height: 41px;
      border-radius: 6px;
      border: none;
    }
    button.passed{
      background: #63ba00;
    }
    button.no-test{
      background: #00aeef;
    }
    .text-step{
      p{
        font-family: $font_lato_bold;
        font-size: 14px;
        color: #000;
        line-height: 24px;
      }
    }
    .begin-interview{
      margin-top: 15px;
      a{
        display: block;
        padding: 9px 30px;
        width: auto;
        height: auto;
        text-align: center;
        background: #dcdcde;
        float: left;
        color: #a9a9a9;
        font-family: $font_lato_black;
        font-size: 18px;
        @include border-radius(5px);
        i{
          color: #fff;
          padding-left: 14px;
          font-size: 13px;
        }
      }
      a.active{
      background:#63ba00;
      color:#fff;
      }
    }
  }
   .solid-color-alert{
     .text-solid-alert{
       width: auto !important;
     }
   }
}