.wrapper-video-interview{
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: .9;
  position: fixed !important;
  top: 0;
}
.content-video-interview{
  .time-remaining{
    span{
      font-size: 17.79px;
      color: #30323c;
      text-transform: uppercase;
      font-family: $font_lato_black;
      position: relative;
    }
  }
  .sec-remaining{
      text-transform: uppercase;
        font-size: 60.01px;
        font-family: $font_lato_black;
        color: #cd040b;
        padding-bottom: 0;
        margin-top: -17px;

        span{
        text-transform: uppercase;
        font-size: 60.01px;
        font-family: $font_lato_black;
        color: #cd040b;
        padding-bottom: 0;
        margin-top: -17px
        }
    }
  .second-content-video-interview{
    float: left;
    width: 100%;
    .container-video{
      float: left;
      width: 73%;
      position: relative;
      z-index: 1;
      .timer-start-record{
        position: absolute;
        width:100%;
        z-index: 2;
        left: 0;
        top: 0;
        background: #fff;
        opacity: 0.6;
        height: 100%;
        text-align: center;
        padding-top: 25%;
        font-size: 30px;
        font-family: $font_lato_black;
        color: #cd040b;

        .minutes{
        display: inline-block;

        }
        .hours{
          display: inline-block;
        }
        .seconds{
          display: inline-block;
        }
        .sec-timer-recording{
          display: inline-block;
          float: right;
        }
        .text
        {
          color:#00aeef;
          display: inline-block;
        }

      }
    }
    .right-video-content{
      float: right;
      width: 24%;
      position: relative;
      top: -89px;
    }
    .video-interview-question{
      .question-content{
        h3{
          font-size: 30px;
          font-family: $font_lato_black;
          color: #00aeef;
          padding-bottom: 6px;
          span{
            color: #fff;
            height: 32px;
            width: 32px;
            border-radius: 50%;
            text-align: center;
            line-height: 25px;
            display: inline-block;
            border: 2px solid #fff;
            position: relative;
            margin-right: 9px;
            font-size: 24px;
            font-family: $font_lato_bold;
            background: #00aeef;
            &:before{
              position: absolute;
              display: block;
              content: '';
              border: 1px solid #eaeaea;
              height: 33.8px;
              width: 33.8px;
              box-sizing: border-box;
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              border-radius: 50%;
              top: -3px;
              left: -3px;
            }
          }
        }
        p{
          font-family: $font_lato_bold;
          font-size: 30px;
          color: #000;
          line-height: 36px;
        }
        &:after{
          display: block;
          content: '';
          background: url("images/after-step.png");
          width: 100%;
          height: 1px;
          margin: 25px auto;
        }

        .recording-content{
          padding-bottom: 20px;
          p.recording{
            text-transform: uppercase;
            font-size: 18px;
            font-family: $font_lato_black;
          }
          .mic-level, .rec{
            float: left;
            font-family: $font_lato_black;
            font-size: 14px;
            color: #000;
            text-transform: uppercase;
          }
          .rec{
            padding-right: 30px;
            &:before{
              content: ' ';
              width: 22px;
              height: 24px;
              background: url("images/icons/icon-rec.png") no-repeat;
              display: block;
              float: left;
              position: relative;
              top: 3px;
              padding-right: 26px;
            }
            span{
              &:before{
                font-family: "FontAwesome";
                  content: "\f111";
              }
            }


          }
          .mic-level{
            &:before{
              content: ' ';
              width: 14px;
              height: 26px;
              background: url("images/icons/micro-level.png") no-repeat;
              display: block;
              float: left;
              position: relative;
              top: -2px;
              padding-right: 20px;

            }
          }
        }


      }

    }
  }
  .begin-interview{
        padding-top: 22px;
        margin: auto;
        display: table;
        button{
          padding: 9px 30px;
          width: auto;
          height: auto;
          background: #dcdcde;
          float: right;
          border: none;
          font-size: 18px;
          font-family: $font_lato_black;
          border-radius: 5px;
          text-transform: uppercase;
          color: #fff;
        }
  }
  .answer-video{
    padding-bottom: 44px;
    width: 86%;
    float: left;
    p{
      font-size: 24px;
      font-family: $font_lato_bold;
      color: #2c3e50;
      &:after{
        content: ' ';
        background: url("images/icons/icon-question.png") no-repeat;
        width: 16px;
        height: 16px;
        display: inline-block;
        margin-left: 10px;
      }
      span{
        color: #fff;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        text-align: center;
        line-height: 25px;
        display: inline-block;
        border: 2px solid #fff;
        position: relative;
        margin-right: 9px;
        font-size: 24px;
        font-family: $font_lato_bold;
        background: #00aeef;
        &:before{
          position: absolute;
          display: block;
          content: '';
          border: 1px solid #eaeaea;
          height: 33.8px;
          width: 33.8px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          border-radius: 50%;
          top: -3px;
          left: -3px;
        }
      }
    }
    textarea{
      resize: none;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      text-transform: capitalize;
      font-size: 24px;
      font-family: $font_lato_bold;
      color: #ababab;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: pink;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: pink;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: pink;
    }
  }
}

.content-without-opacity{
  position: relative;
  z-index:99999999;
}
.answer-video{
  display: none;
}
.begin-interview{
    button.active{
    background:#63ba00 !important;
  }
}
#duration{
  float: left;
  margin-right: 5px;
  margin-top: 0;
  .minutes{
    float:left;
  }
  .seconds{
    float: left;
  }
  .hours{
    display: none;
  }
}

.testing-audio{
  .video-js{
    background:transparent;
  }
  wave{
    border-right-color : transparent !important;
    border-right-width : 0 !important;
  }
}
.modal-testing-audio{
  .modal-dialog{
    max-width: 430px;
  }
}
.buttom-video{
  float:left;
  margin:25px 0;
  width: 73%;
  clear:both;
  display:none;
}