{% extends 'Signup/layout_signup.html.twig' %}

 {% block title_page %}
	<h1>{{ 'dashboard.home.title1'|trans }}</h1>
	<p>{{ 'dashboard.home.content'|trans }}</p>
 {% endblock %}

 {% block step %}
	<div class="cercle-progress cercle-progress-step-1"></div>
	 <div class="steps">
		<ul>
	      <li><strong><strong>{{ 'steps.step'|trans }} 1: </strong>{{ 'dashboard.home.stepcontent'|trans }}</li>
		</ul>
	</div>
 {% endblock %}

{% block title_content %}

   <strong>{{ 'steps.step'|trans }} 1:</strong> ({{ 'interview.pass.of'|trans }} 3): {{ 'steps.title.step_1'|trans }}
{% endblock %}

{% block step_content %}
<form action="" method="POST" role="form">

        <!-- *** FORM ROW *****-->
        <div class="row-form col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="form-block-left">
                <div class="form-group">
                    <label class="col-sm-12" for="email">{{ 'form.register.email.label'|trans }}</label>
                    <div class="input-icon">
                        <input type="text" class="form-control" name="email" id="email" placeholder="{{'form.register.email.placeholder'|trans}}">
                        <span class="icon-input"><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-block-right">
                <div class="form-group">
                    <label class="col-sm-12" for="confirm-email">{{'form.register.email_confirm.label'|trans }}</label>
                    <div class="input-icon">
                        <input type="text" class="form-control" name="confirm-email" id="confirm-email" placeholder="{{'form.register.email_confirm.placeholder'|trans}}">
                        <span class="icon-input"><i class="fa fa-building" aria-hidden="true"></i></span>
                    </div>

                </div>
            </div>
        </div>
        <!-- ******** end FORM ROW  ********* -->

        <!-- *** FORM ROW *****-->
        <div class="row-form col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="form-block-left">
                <div class="form-group">
                    <label class="col-sm-12" for="password">{{'form.register.password.label'|trans }}</label>
                    <div class="input-icon">
                        <input type="text" class="form-control" name="password" id="password" placeholder="{{'form.register.password.placeholder'|trans}}">
                        <span class="icon-input"><i class="fa fa-location-arrow" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-block-right">
                <div class="form-group">
                    <label class="col-sm-12" for="confirm-password">{{'form.register.password_confirm.label'|trans }}</label>
                    <div class="input-icon">
                        <input type="text" class="form-control" name="confirm-password" id="confirm-password" placeholder="{{'form.register.password_confirm.placeholder'|trans}}">
                        <span class="icon-input"><i class="fa fa-location-arrow" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- ******** end FORM ROW  ********* -->

        <div class="submit-steps">
            <button type="button" class="btn btn-step">{{ 'form.button.next_step'|trans }}</button>
        </div>
    </form>
{% endblock %}
