{% extends 'Signup/layout_signup.html.twig' %}

{% block title_page %}
	<h1>{{ 'form.create_link.button.almost'|trans }}...</h1>
{% endblock %}

{% block step %}
	<div class="cercle-progress cercle-progress-step-2"></div>
	<div class="steps">
		<ul>
			<li><strong><strong>{{'steps.step'|trans}} 2: </strong>{{ 'form.create_link.button.choose_plan'|trans }}</li>
		</ul>
	</div>
{% endblock %}

{% block title_content %}
	<strong>{{'steps.step'|trans}} 2: </strong>({{'interview.pass.of'|trans}} 3) {{ 'form.create_link.button.choose_plan'|trans }}
{% endblock %}

{% block step_content %}

	            <form action="" method="POST" role="form">
	                <section class="main-content-signup">
	                    <div class="price-table">
	                    	{% for modelPricing in modelsPricing %}
	                            <div id="{{modelPricing.slug}}" class="price-table-content  price-table-width {% if modelPricing.slug == 'haystackfree' %} price-selected {% endif %} {% if modelPricing.slug == 'haystackpro' %}plan-disabled{% endif %}">
									<h2 class="price-table-title {% if  modelPricing.slug == 'haystackplus' %} wrapper-title {% endif %}"> {% if  modelPricing.slug == 'haystackplus' %} Plus {% else %} {{ modelPricing.name }}{% endif %}{% if modelPricing.slug == 'haystackpro' %} <span>(Coming Soon)</span>{% endif %}</h2>
	                                <div class="wrapper-price">
	                                    <div class="price" id="price-{{ modelPricing.slug }}">
	                                        <span class="text-price">{{ modelPricing.cost|trans }}</span>
	                                        <span class="month">/{{ modelPricing.costUnit|trans }}</span>
	                                    </div>
	                                </div>
	                                <ul class="table-features{% if modelPricing.slug == 'haystackplus' %} table-features-pro{% endif %}">
	                                	{% for feature in modelPricing.features %}

		                                    <li {% if loop.index is divisible by(2) %} class="with-bg" {% endif %}>{{ feature.pricingModelFeature.title|trans }}: {{ feature.value|trans }}</li>

	                                    {% endfor %}
	                                </ul>
	                                <div class="price-table-button">
	                                <input {% if modelPricing.slug == 'haystackpro' %}disabled{% endif %} {% if  modelPricing.slug == 'haystackfree' %}  checked {% endif %} type="radio" name="pp" id="pricing-plan-{{ modelPricing.name }}" data-checked="{{ modelPricing.slug }}" value="{{ modelPricing.id }}" class="radio"{% if modelPricing.slug == 'haystackfree' %} checked{% endif %}/>
										<label for="pricing-plan-{{ modelPricing.name }}"> {{ 'job_question.home.box.select'|trans }} </label>
	                                </div>
	                            </div>
	                        {% endfor %}
	                    </div>
	                </section>
	                <div class="submit-steps">
	                    <button type="submit" class="btn btn-step">{{'form.button.next_step'|trans}}</button>
	                </div>
	            </form>


{% endblock %}
