{% extends 'Signup/layout_signup.html.twig' %}

{% block specifics_stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/scdatetimepicker/css/datetimepicker.css') }}">
{% endblock %}

{% block title_page %}
    <h1>{{'form.register.one'|trans}}</h1>
{% endblock %}

{% block step %}
    <div class="cercle-progress cercle-progress-sign-up-3"></div>
    <div class="steps">
        <ul>
            <li><strong><strong>{{'steps.step'|trans}} 3 : </strong>{{'form.register.account'|trans}}</li>
        </ul>
    </div>
{% endblock %}

{% block title_content %}
   <strong>{{'steps.step'|trans}} 3 : </strong>({{'interview.pass.of'|trans}} 3) {{'steps.title.step_3'|trans}}
{% endblock %}

{% block step_content %}
    <section class="content-container signup-container">
        <div class="content">
            <div class="container">
                <!--<h2 class="title-content"><strong>Step 3</strong> (of 3): Account & Billing Information</h2>-->
                <div class="login-with-socials">
                    <ul>
                        <li class="with-facebook">
                            <a href="{{ url('dcs_opauth_connect', {'strategy': 'facebook', 'next': url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))}) }}">
                                <button>{{'form.login'|trans}} Facebook</button>
                            </a>
                        </li>
                        <li class="with-twitter">
                            <a href="{{ url('dcs_opauth_connect', {'strategy': 'twitter', 'next': url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))}) }}">
                                <button>{{'form.login'|trans}} Twitter</button>
                            </a>
                        </li>
                        <li class="with-linkedin">
                            <a href="{{ url('dcs_opauth_connect', {'strategy': 'linkedin', 'next': url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))}) }}">
                                <button>{{'form.login'|trans}} Linkedin</button>
                            </a>
                        </li>
                        <li class="with-gplus">
                            <a href="{{ url('dcs_opauth_connect', {'strategy': 'google', 'next': url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))}) }}">
                                <button>{{'form.login'|trans}} google-plus</button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-content">
                <div class="container">
                    {{ form_errors(form) }}
                    {{ form_start(form) }}
                        <div class="billing-informations">
                            <div class="bi-left">
                                <div class="form-group">
                                    {{ form_label(form.company.name, null, {'label_attr': {'class': 'col-sm-12'}}) }}
                                    <div class="input-icon">
                                        {{ form_widget(form.company.name, {'attr': {'placeholder': ''}}) }}
                                        <span class="icon-input"><i class="fa fa-building-o" aria-hidden="true"></i></span>
                                    </div>
                                </div><!-- end input company name -->
                                <div class="form-group">
                                    {{ form_label(form.firstname, null, {'label_attr': {'class': 'col-sm-12'}}) }}
                                    <div class="input-icon">
                                        {{ form_widget(form.firstname, {'attr': {'placeholder': ''}}) }}
                                        <span class="icon-input"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    </div>
                                </div><!-- end input first name -->
                                <div class="form-group">
                                    {{ form_label(form.lastname, null, {'label_attr': {'class': 'col-sm-12'}}) }}
                                    <div class="input-icon">
                                        {{ form_widget(form.lastname, {'attr': {'placeholder': ''}}) }}
                                        <span class="icon-input"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    </div>
                                </div><!-- end input last name -->
                                <div class="form-group">
                                    <div class="small-input">
                                        {{ form_label(form.company.city, null, {'label_attr': {'class': 'col-sm-12'}}) }}
                                        <div class="input-icon">
                                        {{ form_widget(form.company.city, {'attr': {'placeholder': ''}}) }}
                                            <span class="icon-input"><i class="fa fa-location-arrow" aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                    <div class="mini-input">
                                        {{ form_label(form.company.zipcode, null, {'label_attr': {'class': 'col-sm-12'}}) }}
                                        <div class="input-icon">
                                            {{ form_widget(form.company.zipcode, {'attr': {'placeholder': ''}}) }}
                                            <span class="icon-input"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                </div><!-- end input company town / city  -->
                                <div class="form-group">
                                    {{ form_label(form.company.phone, null, {'label_attr': {'class': 'col-sm-12'}}) }}
                                    <div class="input-icon">
                                        {{ form_widget(form.company.phone, {'attr': {'placeholder': ''}}) }}
                                        <span class="icon-input"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                    </div>
                                </div><!-- end input company phone number -->
                                <div class="form-group optional">
                                    {{ form_label(form.phone, null, {'label_attr': {'class': 'col-sm-12'}}) }}
                                    <div class="input-icon">
                                        {{ form_widget(form.phone, {'attr': {'placeholder': ''}}) }}
                                        <span class="icon-input"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                    </div>
                                </div><!-- end input your phone number -->
                            </div>

                            <div class="bi-right {% if form.company.pricingModel.vars.data.cost == 'Free' %} disabled {% endif %}">
                              <h3 class="title-plan-selected">PLAN SELECTED</h3>

                                <div class="plans">
                                    <div class="container-plan">
                                        {{ form_widget(form.company.pricingModel) }}

                                        <div class="arrows">
                                            <button class="arrow prev-arrow"> < </button>
                                            <button class="arrow next-arrow"> > </button>
                                        </div>
                                    </div>
                                    <div class="card-charged">
                                        <div class="credit-card">
                                            <div class="col-md-1">
                                                <input class="checkbox-card" type="checkbox" name="card-charged" id="card-charged" checked>
                                                <label for="card-charged"></label>
                                            </div>
                                            <div class="col-md-11">
                                                <h3>I UNDERSTAND MY CARD WILL NOT BE CHARGED FOR 30 DAYS</h3>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                    commodo consequat. Duis aute irure dolor in
                                                </p>
                                            </div>
                                        </div><!-- END CREDIT CARD -->
                                        {{ form_widget(form.company.paymentType) }}
                                    </div>
                                </div><!-- End plans -->
                                <div class="payment-card-infos">
                                    <div class="infos-card-credit">
                                        <div class="form-group">
                                            <div class="small-input">
                                                {{ form_label(form.company.creditCard.number) }}
                                                <div class="input-icon">
                                                    {{ form_widget(form.company.creditCard.number, {'attr': {'placeholder': 'form.register.credit_card.number.placeholder'|trans}}) }}
                                                    <span class="icon-input"><i class="fa fa-credit-card-alt" aria-hidden="true"></i></span>
                                                </div>
                                            </div>
                                            <div class="mini-input">
                                                {{ form_label(form.company.creditCard.expirationDate) }}
                                                <div class="input-icon">
                                                    {{ form_widget(form.company.creditCard.expirationDate, {'attr': {'placeholder': 'form.register.credit_card.expirationDate.placeholder'|trans}}) }}
                                                    {{ form_errors(form.company.creditCard.expirationDate) }}
                                                    <span class="icon-input"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                </div>
                                            </div>
                                        </div><!-- end input company town / city  -->
                                        <div class="form-group">
                                            <div class="x-small-input">
                                                {{ form_label(form.company.creditCard.name) }}
                                                <div class="input-icon">
                                                    {{ form_widget(form.company.creditCard.name, {'attr': {'placeholder': 'form.register.credit_card.name.placeholder'|trans}}) }}
                                                    <span class="icon-input"><i class="fa fa-user" aria-hidden="true"></i></span>
                                                </div>
                                            </div>
                                            <div class="x-mini-input">
                                                {{ form_label(form.company.creditCard.csc) }}
                                                <div class="input-icon">
                                                    {{ form_widget(form.company.creditCard.csc, {'attr': {'placeholder': 'form.register.credit_card.csc.placeholder'|trans}}) }}
                                                    <span class="icon-input"><i class="fa fa-credit-card" aria-hidden="true"></i></span>
                                                </div>
                                            </div>
                                        </div><!-- end input company town / city  -->
                                       <div class="form-group">
                                            <div class="small-input">
                                                {{ form_label(form.company.creditCard.billingCity) }}
                                                <div class="input-icon">
                                                    {{ form_widget(form.company.creditCard.billingCity, {'attr': {'placeholder': 'form.register.credit_card.billingCity.placeholder'|trans}}) }}
                                                    <span class="icon-input"><i class="fa fa-location-arrow" aria-hidden="true"></i></span>
                                                </div>
                                            </div>
                                            <div class="mini-input">
                                                {{ form_label(form.company.creditCard.zipcode) }}
                                                <div class="input-icon">
                                                    {{ form_widget(form.company.creditCard.zipcode, {'attr': {'placeholder': 'form.register.credit_card.zipcode.placeholder'|trans}}) }}
                                                    <span class="icon-input"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                                </div>
                                            </div>
                                        </div><!-- end input company town / city  -->
                                    </div>
                                    <div class="infos-paypal">
                                        <div class="form-group">
                                            {{ form_label(form.company.paypalAccount) }}
                                            <div class="input-icon">
                                                {{ form_widget(form.company.paypalAccount, {'attr': {'placeholder': 'form.register.credit_card.zipcode.placeholder'|trans}}) }}
                                                <span class="icon-input"><i class="fa fa-paypal" aria-hidden="true"></i></span>
                                            </div>
                                        </div><!-- end input company phone number -->
                                    </div>
                                </div>
                            </div>
                            <div class="submit-steps signup-payment">
                                <button type="submit" class="btn btn-step">Finish</button>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block specifics_javascripts %}
    <script src="{{ asset('js/cleave.min.js') }}"></script>
    {#<script src="{{ asset('bundles/scdatetimepicker/js/locales/bootstrap-datetimepicker.%locale%.js'|replace({'%locale%': app.request.locale})) }}"></script>#}
{% endblock %}
