{% block subject %} AdelphaLabs Pro | Confirm your registration{% endblock %}

{% block body_text %}
{% autoescape false %}
{{'email.hired.title1'|trans}} {{ user.username }} !

{{'email.registration.content1'|trans}} {{ confirmationUrl }}

{{'email.registration.content2'|trans}}
{{'email.registration.content3'|trans}}
{% endautoescape %}
{% endblock %}


