{% spaceless %}
{% if job.questions.count %}
    <div data-job={{ job.slug }} id="my-questions" class="my-questions">
        {% for question in job.questions %}
            <div id="{{ question.id }}" class="question question-container active{% if loop.last %} last{% endif %}">
                <div class="col-md-2">
                    <div class="number-question">
                        <div class="number">
                            <div class="nb">{{ question.order }}</div>
                        </div>
                    </div>
                    <div class="type-qst">{{ question.typeLabel|trans }}</div>
                </div>
                <div class="col-md-4">
                    <div class="btns-question">
                        <a class="btn btn-edit btn-edit-question" href="{{ path('job_question_edit', {'slug': job.slug, 'questionType': question.type, 'questionId': question.id}) }}" data-question-type="{{ question.type }}">{{'dashboard.table.button.edit'|trans}}</a>
                        <a class="btn btn-delete btn-delete-question" href="{{ path('job_question_delete', {'slug': job.slug, 'questionId': question.id}) }}">{{'form.button.delete'|trans}}</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="qst">{{ question }}</div>
                </div>

                <div class="drag-question">drag question</div>
            </div>
        {% endfor %}

        <div class="gd-questions">
            <div class="text-content">
                {% if job.questionsRemaining != 0 %}<a href="#">{{'job_question.home.box.select'|trans}} {{ job.questionsRemaining == 1 ? 'job_question.home.box.last'|trans : 'A'}} Question.</a>{% endif %} <span class="text">{{ 'job_question.home.box.youhave'|trans }} {{ job.filterableQuestionsCount }}  {{ 'job_question.home.box.filterable'|trans }} {{ job.subjectiveQuestionsCount }}  {{ 'job_question.home.box.subjective'|trans }}</span>
            </div>
        </div>
    </div>
{% else %}
    <div id="my-questions" class="my-questions"></div>
    <div class="tab-content-first-question">
        <div class="col-md-2">
            <div class="btn-start-here">
                <img src="{{ asset('images/start-here.png') }}" alt="">
            </div>
        </div>
        <div class="col-md-10">
            <h3>{{ 'job_question.home.title'|trans }}:</h3>
            <p>
                <strong>{{ 'job_question.home.description'|trans }}
            </p>
            <div class="questions-examples">
                <div class="qe-title">
                    <span><img src="{{  asset('images/mini-logo.png') }}" alt="{{'global.sitename'|trans}}"></span>
                    {{ 'job_question.home.box.title'|trans }}: <strong> {{ 'job_question.home.box.title_bold'|trans }}</strong>
                </div>
                <div class="row-question-exampl">
                    <div class="eq-number">
                        <div class="number">
                            <div class="green">1</div>
                        </div>
                    </div>
                     <div class="qr-response">
                         <div class="question">Q. {{ 'job_question.home.box.v1'|trans }}  </div>
                         <div class="response">A.  {{ 'job_question.home.box.v11'|trans }} </div>
                     </div>
                </div>
                <div class="row-question-exampl">
                    <div class="eq-number">
                        <div class="number">
                            <div class="blue">2</div>
                        </div>
                    </div>
                    <div class="qr-response">
                        <div class="question">Q. {{ 'job_question.home.box.v2'|trans }} </div>
                    </div>
                </div>
                <div class="row-question-exampl last">
                    <div class="eq-number">
                        <div class="number">
                            <div class="red">3</div>
                        </div>
                    </div>
                    <div class="qr-response">
                        <div class="question">Q. {{ 'job_question.home.box.v3'|trans }} </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endspaceless %}
