<div class="title">
<div class="col-md-6">{{'form.job.question.question.label'|trans}}</div>
<div class="col-md-3">{{'preview.field.duration'|trans}}</div>
<div class="col-md-3">{{'job_video.home.time'|trans}}</div>
</div>
{% for question in job.questionsVideo %}
<div class="row">
 <div class="col-md-6"> 
     <div class="preview-question">
      {{question.question}}
      </div>
</div>
<div class="col-md-3"> 
     <div class="preview-duration">
      0{{ (question.duration / 60)|round(0, 'floor')}} :{% if question.duration % 60 == 0 %}00 {% else %} {{question.duration % 60 }}{% endif %} sec
      </div>
</div>
<div class="col-md-3"> 
     <div class="preview-timereadquestion">
      {{question.timeReadQuestion}} sec
      </div>
</div>
</div>
{% endfor %}
