{% set
    formActionUrl = question.id ?
        path('job_question_edit', {'slug': job.slug, 'questionType': questionType, 'questionId': question.id }) :
        path('job_question_add', {'slug': job.slug, 'questionType': questionType})
%}
{{ form_errors(form) }}
{{ form_start(form, {'action': formActionUrl}) }}
    <div class="number-question col">
        <div class="number">
            <div class="nb active">{{ form.vars.data.order }}</div>
        </div>
    </div>
    <div class="cnt-question">
        <div class="title-configure-question"> <span>{{ form.vars.data.typeLabel|trans }}</span></div>
        <div class="form-line-large">
            <span class="help-text bf">{{ form.question.vars.label|trans({}, form.question.vars.translation_domain) }} <a class="text-help" data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="{{'form.editq'|trans}}" data-original-title="" title=""> <span class="filter-question  gray">?</span> </a> </span>
            <div class="input-icon">
                {{ form_widget(form.question) }}
                <span class="icon-input"><i class="fa fa-question" aria-hidden="true"></i></span>
            </div>
        </div>
        {% if questionType in [constant('AppBundle\\Entity\\Question::TYPE_RADIO'), constant('AppBundle\\Entity\\Question::TYPE_CHECKBOX'), constant('AppBundle\\Entity\\Question::TYPE_DROPDOWN')] %}
            <div class="form-mini-block-left">
                <span class="help-text bf">{{ form.answers.vars.label|trans({}, form.answers.vars.translation_domain) }} <a class="text-help" data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="{{'form.edit'|trans}}" data-original-title="" title=""> <span class="filter-question  gray">?</span> </a></span>
                {{ form_widget(form.answers) }}
            </div>
            <div class="form-mini-block-right">
                <span class="help-text bf">{{ form.candidateInstruction.vars.label|trans({}, form.candidateInstruction.vars.translation_domain) }} <a class="text-help" data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="{{'form.please'|trans}}" data-original-title="" title=""> <span class="filter-question  gray">?</span> </a></span>
                <div class="input-icon">
                    {{ form_widget(form.candidateInstruction) }}
                    <span class="icon-input"><i class="candidate" aria-hidden="true"></i></span>
                </div>
            </div>
        {% elseif questionType == constant('AppBundle\\Entity\\Question::TYPE_SHORT_ANSWER') %}
            <div class="form-mini-block-left">
                <span class="help-text bf">{{ form.exampleAnswer.vars.label|trans({}, form.exampleAnswer.vars.translation_domain) }} <a class="text-help" data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="{{'form.example'|trans}}" data-original-title="" title=""> <span class="filter-question  gray">?</span> </a> </span>
                <div class="input-icon">
                    {{ form_widget(form.exampleAnswer) }}
                    <span class="icon-input"><i class="fa fa-exclamation" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="form-mini-block-right">
                <span class="help-text bf">{{ form.candidateInstruction.vars.label|trans({}, form.candidateInstruction.vars.translation_domain) }} <a class="text-help" data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="{{'form.candidate'|trans}}" data-original-title="" title=""> <span class="filter-question  gray">?</span> </a> </span>
                <div class="input-icon">
                    {{ form_widget(form.candidateInstruction) }}
                    <span class="icon-input"><i class="candidate" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="min-max-char">
                <div class="min-char">
                    <span>{{ form.minLength.vars.label|trans({}, form.minLength.vars.translation_domain) }}</span>
                    {{ form_widget(form.minLength) }}
                </div>
                <span class="separ-tiret">-</span>
                <div class="max-char">
                    <span>{{ form.maxLength.vars.label|trans({}, form.maxLength.vars.translation_domain) }}</span>
                    {{ form_widget(form.maxLength) }}
                </div>
            </div>
        {% elseif questionType == constant('AppBundle\\Entity\\Question::TYPE_PARAGRAPH') %}
            <div class="form-line-large">
                <span class="help-text bf">{{ form.candidateInstruction.vars.label|trans({}, form.candidateInstruction.vars.translation_domain) }} <a class="text-help" data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="{{'form.candidate'|trans}}" data-original-title="" title=""> <span class="filter-question  gray">?</span> </a> </span>
                <div class="input-icon">
                    {{ form_widget(form.candidateInstruction) }}
                    <span class="icon-input"><i class="candidate" aria-hidden="true"></i></span>
                </div>
            </div>
        {% endif %}
        <div class="btns-configure-question">
            <div class="btns-question">
                <button type="submit" class="btn btn-save">{{'job_video.home.add'|trans}}</button>
                {% if question.id %}
                    <a class="btn btn-delete btn-delete-question" href="{{ path('job_question_delete', {'slug': job.slug, 'questionId': question.id}) }}">{{'form.button.delete'|trans}}</a>
                {% endif %}
                <button class="btn btn-cancel">{{'interview.check.can'|trans}}</button>
            </div>
        </div>
    </div>
{{ form_end(form) }}
