<div class="question-preview">
    {% for question in job.questions %}
         {% if question.type == 'radio' %}
             <div class="choose-one-answer">
                            <p class="title-radio"><span class="number-question">{{loop.index}}</span>{{question.question}}</p>
                            <div class="radio-items">
                {% for answer in question.answers %}
                            <input class="test-hidden" id="radio{{answer.id}}" type="radio" value="" name="radio-answer" {% if loop.first %} checked {% endif %}>
                            <label for="radio{{answer.id}}" class="label-radio">{{answer.answer}}</label>
                {% endfor %}
            </div>
            </div>
        {% endif %}

        {% if question.type == 'checkbox' %}
            <div class="choose-multiple-answer">
            <p class="title-checkbox"><span class="number-question">{{loop.index}}</span>{{question.question}}</p>
             <div class="checkbox-items">
                {% for answer in question.answers %}
                        <input id="checkbox-{{answer.id}}" type="checkbox" name="checkbox-{{answer.id}}">
                        <label for="checkbox-{{answer.id}}" class="label-checkbox"><span></span>{{answer.answer}}</label>
                {% endfor %}
            </div>
            </div>
        {% endif %}

        {% if question.type == 'dropdown' %}
            <div class="dropdown-question">
                <p class="title-checkbox"><span class="number-question">{{loop.index}}</span>{{question.question}}</p>
                <select class="form-control" id="select-{{question.id}}">
                    {% for answer in question.answers %}
                    <option>{{answer.answer}}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}

        {% if question.type == 'paragraph' %}
             <div class="form-group short-answer-form">
                <label for="short-answer" class="label-answer label-test">
                    <span class="number-question">{{loop.index}}</span>{{question.question}}
                    <a data-toggle="popover" data-placement="top"  data-trigger="hover" class="btn-instruction btn-instruction-test" data-content="{{ question.candidateInstruction }}">Instructions</a>
                </label>
                <input  type="text" class="form-control short-answer-input" id="short-answer-{{question.id}}" placeholder="Answer here">
             </div>
        {% endif %}

         {% if question.type == 'short_answer' %}
             <div class="form-group long-answer-form">
                <label for="long-answer" class="label-answer label-test">
                    <span class="number-question">{{loop.index}}</span>{{question.question}}
                    <a data-toggle="popover" data-placement="top"  data-trigger="hover" class="btn-instruction btn-instruction-test" data-content="{{ question.candidateInstruction }}">Instructions</a>
                </label>
                <textarea rows="6" id="long-answer-{{question.id}}" class="form-control" placeholder="Example answer here">{{question.questionMetadata.exampleAnswer}}</textarea>
            </div>
         {% endif %}
        
    {% endfor %}
</div>