<div class="cj-choose-multiple-answer">
    {{ form_start(formRequiredDocuments, {'action': path('job_required_documents', {'slug': job.slug}), 'method': 'post', 'attr': {'class': 'form-inline', 'role': 'form'}}) }}
        <div class="choose-candidate">
            {{ form_widget(formRequiredDocuments.documentType, {'label_attr': {'class': '-inline'}}) }}
            <div class="container-new-document">
                {{ form_widget(formRequiredDocuments.name, {'attr': {'placeholder': 'form.documents.name.placeholder'|trans}}) }}
            </div>
        </div>

        {{ form_rest(formRequiredDocuments) }}
        <div class="btns-choose-candidate">
            <button type="submit" class="btn btn-save">{{ 'interview.check.save'|trans }}</button>
            <button type="reset" class="btn btn-next-step">{{ 'interview.check.can'|trans }}</button>
        </div>
    {{ form_end(formRequiredDocuments) }}
</div>
