{% block header %}
 <header class="header">
     {% include 'Partials/topbar.html.twig'%}
        <div class="content-header">
		<div class="container">
				<div class="title-page">
					<h1>{{'create_job.header.title_1'|trans}}</h1>
					 <p>{{'create_job.header.description_1'|trans}}</p>
				</div>
				<div class="header-progress">
					<div class="steps-create-job">
						<div class="cercle-progress cercle-progress-step-1"></div>
						<div class="steps">
							<ul>
								<li class="active"><strong>{{'steps.step'|trans}} 1:</strong> {{'create_job.title_progress.step_1'|trans}} </li>
								<li><strong>{{'steps.step'|trans}} 2:</strong> {{'create_job.title_progress.step_2'|trans}} s</li>
								<li><strong>{{'steps.step'|trans}} 3:</strong> {{'create_job.title_progress.step_3'|trans}} </li>
								<li><strong>{{'steps.step'|trans}} 4:</strong> {{'create_job.title_progress.step_4'|trans}} </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
    </header>

{% endblock %}
{% block content %}
<section class="content-container">
<div class="content">
	<div class="container">
		<h2 class="title-content"><strong>{{'steps.step'|trans}} 1:</strong> {{'create_job.title.step_1'|trans}}</h2>
	</div>

<div class="main-content">
	<div class="container">
		<div class="form-container">
			
			{{ form_start(form) }}
			{{ form_errors(form) }}

		<!-- *** FORM ROW *****-->
		<div class="row-form col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<div class="form-block-left">
			<div class="form-group">
				<label class="col-sm-12" for="job-name">{{'form.job.name'|trans}}</label>
					<div class="input-icon">
					{{ form_row(form.title , {'attr' : {'class': 'form-control' , 'placeholder' : 'form.job.name'|trans} }) }}
					<span class="icon-input"><i class="fa fa-briefcase" aria-hidden="true"></i></span>
				</div>
			</div>
			</div>
			<div class="form-block-right">
					<div class="form-group">
					<label class="col-sm-12" for="company-name">{{'form.job.company_name'|trans}}</label>
						<div class="input-icon">
							{{ form_row(form.companyName , {'attr' : {'class': 'form-control' , 'placeholder' : 'form.job.company_name'|trans} }) }}
							<span class="icon-input"><i class="fa fa-building" aria-hidden="true"></i></span>
						</div>
					</div>
			</div>
		</div>
		<!-- ******** end FORM ROW  ********* -->

		<!-- *** FORM ROW *****-->
		<div class="row-form col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<div class="form-block-left">
				<div class="form-group">
					<label class="col-sm-12" for="job-location">{{'form.job.location.label'|trans}} <span>{{'form.job.location.help_text'|trans}}</span></label>
					<div class="input-icon">
					{{ form_row(form.location , {'attr' : {'class': 'form-control' , 'placeholder' : 'form.job.location.label'|trans} }) }}
					<span class="icon-input"><i class="fa fa-location-arrow" aria-hidden="true"></i></span>
					</div>
				</div>
			</div>
			<div class="form-block-right">
				<div class="form-group">
					<div class="form-mini-block-left">
						<label class="col-sm-12" for="company-town">{{'form.job.company_town_city'|trans}} <span>({{'form.optional'|trans}})</span></label>
						<div class="input-icon">
						{{ form_row(form.city , {'attr' : {'class': 'form-control' , 'placeholder' : 'form.job.company_town_city'|trans} }) }}
						<span class="icon-input"><i class="fa fa-location-arrow" aria-hidden="true"></i></span>
						</div>
					</div>
					<div class="form-mini-block-right">
						<label class="col-sm-12" for="zipCode">{{ 'form.job.zip_code'|trans }}</label>
						<div class="input-icon">
						{{ form_row(form.zipcode , {'attr' : {'class': 'form-control' , 'placeholder' : 'form.job.zip_code'|trans} }) }}
						<span class="icon-input"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ******** end FORM ROW  ********* -->
		<!-- *** FORM ROW *****-->
		<div class="row-form col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<div class="form-group">
				<label class="col-sm-12" for="job-description">{{ 'form.job.description'|trans }}</label>
				<div class="input-icon">
				{{ form_row(form.description , {'attr' : {'class': 'form-control jobDescription' , 'placeholder' : 'form.job.description'|trans} }) }}
				<span class="icon-input"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
				</div>
			</div>
		</div>
		<!-- ******** end FORM ROW  ********* -->
		<div class="submit-steps create-job-step-1">
			{% include 'CraueFormFlowBundle:FormFlow:buttons.html.twig' with {
			craue_formflow_button_class_next: 'btn btn-step',
			craue_formflow_button_class_reset: 'hide',
			craue_formflow_button_label_next: 'form.button.next_step'|trans
			}%}
		</div>
			{{ form_rest(form) }}
			{{ form_end(form) }}
		</div>
	</div>
</div>
</div>

	</section>
{% endblock %}