{% extends 'layout.html.twig' %}

{% block body %}
    {% if flow.getCurrentStepNumber() == 1 %}
        {% include 'Job/Step/first.html.twig' %}
    {% endif %}

    {% if flow.getCurrentStepNumber() == 2 %}
        {% include 'Job/Step/second.html.twig'%}
    {% endif %}

    {% if flow.getCurrentStepNumber() == 3 %}
        {% include 'Job/Step/third.html.twig'%}
    {% endif %}

    {% if flow.getCurrentStepNumber() == 4 %}
        {% include 'Job/Step/last.html.twig'%}
    {% endif %}

    {% block footer %}
        {% include 'Partials/footer.html.twig'%}
    {% endblock %}
{% endblock %}

{% block specifics_stylesheets %}
    {% if flow.getCurrentStepNumber() == 3 %}
        <link href="{{ asset('css/jquery.ezdz.css') }}" rel="stylesheet">
        <link href="{{ asset('css/colorjoe.css') }}" rel="stylesheet">
    {% endif %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/sweetalert.css') }}">
{% endblock %}

{% block javascripts %}
    {% if flow.getCurrentStepNumber() == 3 %}
        <script src="{{ asset('js/colorjoe/scale.fix.js') }}"></script>
        <script src="{{ asset('js/colorjoe/onecolor.js') }}"></script>
        <script src="{{ asset('js/colorjoe/colorjoe.js') }}"></script>
        <script src="{{ asset('js/colorjoe/main.js') }}"></script>
    {% endif %}

    {{ parent() }}

    <script src="{{ asset('js/sweetalert.min.js') }}"></script>
{% endblock %}

{% block specifics_javascripts %}
    {% if flow.getCurrentStepNumber() in [2, 4] %}
        <script src="{{ asset('js/jquery.collection.js') }}"></script>
        <script src="{{ asset('js/clipboard.min.js') }}"></script>
    {% endif %}

    {% if flow.getCurrentStepNumber() == 3 %}
        <script src="{{ asset('js/jquery.ezdz.js') }}"></script>
    {% endif %}

    <script src="{{ asset('js/steps.js') }}"></script>
{% endblock %}



