{% block header %}
 <header class="header">
  {% include 'Partials/topbar.html.twig'%}
        <div class="content-header">
        <div class="container">
            <div class="title-page">
                    <h1>{{'create_job.header.title_1'|trans}}</h1>
                    <p>{{'create_job.header.description_4'|trans}}</p>
            </div>
                <div class="header-progress">
                    <div class="steps-create-job">
                        <div class="cercle-progress cercle-progress-step-4"></div>
                        <div class="steps">
                            <ul>
                                <li><strong>{{'steps.step'|trans}} 1:</strong> {{'create_job.title_progress.step_1'|trans}} </li>
                                <li><strong>{{'steps.step'|trans}} 2:</strong> {{'create_job.title_progress.step_2'|trans}} </li>
                                <li><strong>{{'steps.step'|trans}} 3:</strong> {{'create_job.title_progress.step_3'|trans}} </li>
                                <li  class="active"><strong>{{'steps.step'|trans}} 4:</strong> {{'create_job.title_progress.step_4'|trans}} </li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
        </div>
 </header>
{% endblock %}
{% block content %}
    <!-- CONTENT -->
    <section class="content-container">
            <div class="content">
                <div class="container">
                  <h2 class="title-content"><strong>{{'steps.step'|trans}} 4:</strong> {{'create_job.title.step_4'|trans}}</h2>
                </div>
                <div class="main-content">
                    <div class="container">
                     {{ form_start(form) }}
                    <div class="jobs-links">
                        <ul>
                            <li class="facebook"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ url('job_shortner', {'token': flow.formData.token, slug: constant("AppBundle\\Entity\\JobLink::facebook") }) }}"><i class="fa fa-facebook-f" aria-hidden="true"></i></a></li>
                             <li class="linkedin"><a  target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ url('job_shortner', {'token': flow.formData.token, slug: constant("AppBundle\\Entity\\JobLink::linkedin") }) }}&title={{flow.formData.title}}&summary={{flow.formData.description}}&source="><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                             <li class="twitter"><a target="_blank" href="https://twitter.com/home?status={{ url('job_shortner', {'token': flow.formData.token, slug: constant("AppBundle\\Entity\\JobLink::twitter") }) }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                             <li class="googleplus"><a  target="_blank" href="https://plus.google.com/share?url={{ url('job_shortner', {'token': flow.formData.token, slug: constant("AppBundle\\Entity\\JobLink::googleplus") }) }}"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                             <li class="last tumblr"><a  target="_blank" href="https://www.tumblr.com/widgets/share/tool?canonicalUrl={{ url('job_shortner', {'token': flow.formData.token, slug: constant("AppBundle\\Entity\\JobLink::tumblr") }) }}"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="message-share-job">
                        <p>{{'create_job.header.sous_description_4'|trans}}</p>
                    </div>

                    <div class="create-new-link-share">
                        <div class="link-share add-new-link-share">
                            <div class="link-labels">
                                <div class="label-secondtcol">{{'form.job.link.label'|trans}}</div>
                            </div>
                                <div class="form-group-inline input-add-new-link">
                                    <div class="input-add-link">
                                        <!-- input add with jquery -->
                                    </div>
                                     <div class="btn-add-link"><button data-jobid="{{flow.formData.id}}" id="add-new-link" type="submit" class="btn">{{'form.job.link.create'|trans}}</button></div>
                                </div>
                        </div>

                        {% for link in flow.formData.links %}
                            <div class="link-share">
                            <div class="link-labels">
                                <div class="label-secondtcol">{{'form.job.link.label'|trans}}</div>
                            </div>
                                <div class="form-group-inline">
                                     <div class="btn-add-link"><button type="submit" class="btn" disabled>{{'form.job.link.create'|trans}}</button></div>
                                    <div class="input-add-link">
                                        <input type="text" class="form-control create-new-link" name="create-new-link" id="create-new-link" value="{{link.label}}" disabled="">
                                    </div>
                                    <div class="show-new-link">
                                        <label for="show-new-link">{{'form.job.link.label'|trans}}</label>
                                        <input type="text" id="{{link.slug}}" value="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}/{{flow.formData.token}}/{{link.slug}}" name="show-new-link" class="copy-new-link" disabled>
                                    </div>
                                    <div class="btn-copy-link">
                                        <button data-toggle="popover" data-trigger="click" data-placement="top" data-content="Content" id="{{link.slug}}" class="button-copy-link" type="button" class="btn">{{'form.job.link.copy'|trans}}</button>
                                    </div>
                                </div>

                        </div>
                        {% endfor %}
                    </div>

                    <div class="footer-create-new-link">
                        <div class="container-btn-close-create-job">
                        {% include 'CraueFormFlowBundle:FormFlow:buttons.html.twig' with {
                        craue_formflow_button_class_finish: 'btn btn-default',
                        craue_formflow_button_class_back: 'hide',
                        craue_formflow_button_class_reset: 'hide',
                        }%}

                        </div>
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}

                </div><!-- END Container -->
                </div>
            </div>
    </section>

    <!-- CONTENT -->
{% endblock %}
