<div class="modal fade" id="create-video" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header create-video-modal-header"> <!--- **************** HEADER MODAL -->
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> <span>&times;</span> {{'profile.home.close'|trans}} & {{'profile.home.can'|trans}}</button>
                <h4 class="modal-title"><strong>{{'job_video.home.conf'|trans}}:</strong> 1-Way Video Interview</h4>
                <h5 class="sub-title-modal">{{'job_video.home.ask'|trans}}</h5>
            </div> <!--- **************** END HEADER MODAL -->


            <div class="modal-body modal-create-video">
               <div class="create-video-content">
                   <span class="questions-remaining">{{'job_video.home.remaining'|trans}} <span id="question-rest"  class="number">{{ 5 - job.questionsVideo|length }}</span></span>
                   <div class="title-modal-create-video">
                       <span>{{job.title}}</span> {{ job.description|truncate(50) }}
                   </div>

                       <div class="create-video-questions">
                            
                           <div id="questionsVideoList"  data-slug="{{job.slug}}" data-question-count="3">
                                {{form_start(formQuestionVideo)}}
                                {{form_errors(formQuestionVideo)}}
                                {{form_widget(formQuestionVideo)}}
                                {{form_rest(formQuestionVideo)}}
                                {{form_end(formQuestionVideo)}}
                            </div>
                            
                            
                           
                            <form name="question_video_questionsVideo_create" method="post">
                                <div id="add-new-question-video" {% if job.questionsVideo|length >= 5 %} class="add-new-question-video-hide" {% endif %}>
                                <hr>
                                <div class="row-video" id="">
                                    <div class="col-md-1 nb-question">
                                        <div class="number-question">&nbsp;</div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-line-large row-create-video">
                                        <span class="help-text bf">Question <a class="text-help" data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="{{'form.candidate'|trans}}" data-original-title="" title=""> <span class="filter-question  gray">?</span> </a> </span>
                                        <div class="input-icon">
                                        <input type="text" id="question_video_questionsVideo___name___question" name="" required="required" maxlength="500" class="form-control" />
                                        <span class="icon-input"><i class="fa fa-question" aria-hidden="true"></i></span>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                    <span class="help-text bf">{{'job_video.home.max'|trans}}</span>
                                    <div class="select-length-video">
                                        <select id="question_video_questionsVideo___name___duration" name="" class="form-control">
                                            <option value="10" >10 sec</option>
                                            <option value="30" >30 sec</option>
                                            <option value="60" >1 min</option>
                                            <option value="90" >1:30 min</option>
                                            <option value="120" >2 mins</option>
                                            <option value="150" >2:30 mins</option>
                                            <option value="180" >3 mins</option>
                                        </select>
                                    </div>
                                    </div>
                                    <div class="col-md-3">
                                    <span class="help-text bf">{{'job_video.home.time'|trans}}</span>
                                    <div class="select-length-video">
                                        <select id="question_video_questionsVideo___name___timeReadQuestion" name="" class="form-control">
                                            <option value="5" >5 sec</option>
                                            <option value="10" >10 sec</option>
                                            <option value="15" >15 sec</option>
                                            <option value="20" >20 sec</option>
                                        </select>
                                    </div>
                                    </div>
                                </div>
                                    <div class="btns-footer-creata-video">
                                        <button type="submit" id="save-question" class="btn btn-save">{{'job_video.home.add'|trans}}</button>
                                        <button data-dismiss="modal" class="btn btn-cancel">{{'profile.home.can'|trans}}</button>
                                    </div>
                                </div>
                    </div>

                     {#}  Preview questions {#} 
                        <div class="preview-questions">
                            <div id="list-preview-question">
                                {#} AJAX DATA {#} 
                            </div>
                        </div>
                     {#}  End Preview Questions {#} 
                        
                </div>

            </div>

            <div class="modal-footer create-job-footer-modal footer-question-video">
                <button type="button" class="btn preview-question" id="cancel-preview-question-video" >{{'job_question.home.preview'|trans}}</button>
                <button type="button" class="btn preview-question" id="preview-question-video" > {{'job_video.home.preview'|trans}}</button>
                <button type="button" id="{{job.id}}" class="btn save-next save-next-question-video" data-dismiss="modal" data-modaltype="create-video">{{'job_video.home.save'|trans}}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{%- block specifics_javascripts -%}
<script type="text/javascript">
$(document).ready(function(){
                var liencurrent = window.location.href;
             
                if (liencurrent.match(/en/)) {

                     $(".delete-question-video").text('Delete');

                 }else{
              $(".delete-question-video").text('Supprimer');
              
               // alert($(".row-video").find('span').text());
                              //$(".row-video").text("Longueur maximale");
                    
                       }

});
             
</script>>
{%- endblock -%}
