{% block header %}
    <header class="header">
        {% include 'Partials/topbar.html.twig'%}
        <div class="content-header">
    		<div class="container">
        		<div class="title-page">
        			<h1>{{'create_job.header.title_1'|trans}}</h1>
        			<p>{{'create_job.header.description_2'|trans}}</p>
        		</div>
                <div class="header-progress">
                    <div class="steps-create-job">
                        <div class="cercle-progress cercle-progress-step-1"></div>
                        <div class="steps">
                            <ul>
                                <li><strong>{{'steps.step'|trans}} 1:</strong> {{'create_job.title_progress.step_1'|trans}} </li>
                                <li class="active"><strong>{{'steps.step'|trans}} 2:</strong> {{'create_job.title_progress.step_2'|trans}}</li>
                                <li><strong>{{'steps.step'|trans}} 3:</strong> {{'create_job.title_progress.step_3'|trans}}</li>
                                <li><strong>{{'steps.step'|trans}} 4:</strong> {{'create_job.title_progress.step_4'|trans}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
    		</div>
		</div>
    </header>
{% endblock %}

{% block content %}
    <section class="content-container">
        <div class="content">
            <div class="container">
                <h2 class="title-content"><strong>{{'steps.step'|trans}} 2:</strong> {{'create_job.title.step_2'|trans}} </h2>
            </div>
            <div class="main-content">
                <div class="container">
                <span class="mp-job-name"> {{ flow.formData.title }} </span>
                <div class="steps-block">
                    <div class="contaiener-step col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div id="box-create-questions" class="bl-step bl-step-1 {% if flow.formData.questions|length < 5 %} active valid {% else %} disabled {% endif %}">
                            <div class="box-step">1<span>{{'dashboard.home.st'|trans}}</span> </div>
                            <div class="st-icon"><i class="fa {% if flow.formData.questions|length < 5 %} fa-search {% else %} fa-check {% endif %}" aria-hidden="true"></i></div>
                            <div class="st-l-text"><a data-toggle="modal" href="#configure-job-step-1">{{'create_job.header.box1title'|trans}}</a></div>
                        </div>
                        
                        <a class="btn btn-edit-box btn-edit-box-create-questions {% if flow.formData.questions|length >= 5 %} show {% endif %}" data-toggle="modal" href="#configure-job-step-1">Edit</a>
                    </div>
                    <div class="contaiener-step col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div id="box-create-video" class="bl-step bl-step-2 {#% if flow.formData.questionsVideo|length < 5 and flow.formData.questions|length >= 5 %} active {% else %} disabled {% endif %#} ">
                            <div class="st-title"><span class="title-icon film"></span> 1-Way Video Interview</div>
                            <div class="box-step">2<span>{{'dashboard.home.nd'|trans}}</span> </div>
                             <div class="st-text">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                </p>
                                <div class="st-btn">
                                    <a class="btn btn-step-block" data-toggle="modal" href="#create-video">{{'job_video.home.conf'|trans}}</a>
                                </div>
                            </div>
                        </div>
                        
                        <a class="btn btn-edit-box btn-edit-box-create-video {% if flow.formData.questionsVideo|length >= 5 %} show {% endif %} " data-toggle="modal" href="#create-video">Edit</a>
                       
                    </div>
                    <div class="contaiener-step col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="bl-step bl-step-1 coming-soon-step">
                            <div class="box-step">3<span>{{'dashboard.home.rd'|trans}}</span> </div>
                            <div class="st-icon"><img src="{{ asset('images/icons/phone.png') }}" alt=""></div>
                            <div class="st-l-text">{{'create_job.header.box1title'|trans}}</div>
                            <div class="message-coming-soon">{{'create_job.header.soon'|trans}}</div>
                        </div>
                    </div>
                    <div class="contaiener-step col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="bl-step bl-step-1 coming-soon-step">
                            <div class="st-icon"><img src="{{ asset('images/icons/user.png') }}" alt=""></div>
                            <div class="st-l-text">{{'create_job.header.box1title'|trans}}</div>
                            <div class="message-coming-soon">{{'create_job.header.soon'|trans}}</div>
                        </div>
                    </div>
                    <div class="contaiener-step col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="bl-step bl-step-1 coming-soon-step">
                            <div class="st-icon"><img src="{{ asset('images/icons/money.png') }}" alt=""></div>
                            <div class="st-l-text">{{'create_job.header.box1title'|trans}}</div>
                            <div class="message-coming-soon">{{'create_job.header.soon'|trans}}</div>
                        </div>
                    </div>
                    <div class="contaiener-step col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="bl-step bl-step-1 coming-soon-step">
                            <div class="st-icon"><img src="{{ asset('images/icons/main.png') }} " alt=""></div>
                            <div class="st-l-text">{{'create_job.header.box1title'|trans}}</div>
                            <div class="message-coming-soon">{{'create_job.header.soon'|trans}}</div>
                        </div>
                    </div>
                     
                    <div class="container-footer-steps">
                     {{ form_start(form) }}
                        {%
                            include 'CraueFormFlowBundle:FormFlow:buttons.html.twig' with {
                                craue_formflow_button_class_next: 'btn btn btn-next-step',
                                craue_formflow_button_class_reset: 'hide',
                                craue_formflow_button_class_back: 'hide',
                                craue_formflow_button_label_next: 'form.button.next_step'|trans
                            }
                        %}
                    {{ form_end(form) }}
                    </div>
                    
                </div>
            </div>
            </div><!-- END Container-->
        </div>
    </section>

    <!-- ************************ Modal ***********************************-->
    <div class="modal fade" id="configure-job-step-1" data-backdrop="static" data-keyboard="false">
    	<div class="modal-dialog">
    		<div class="modal-content">
    			<div class="modal-header"> <!--- **************** HEADER MODAL -->
    				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"> <span>&times;</span> {{'profile.home.close'|trans}} & {{'profile.home.can'|trans}}</button>
    				<h4 class="modal-title"><strong>{{'job_question.home.choose'|trans}}:</strong> {{'job_question.home.candidate'|trans}} <span>({{'job_question.home.select'|trans}})</span></h4>
                    <div class="header-content">
                        {% render url('job_required_documents', {'slug': job.slug}) %}
                    </div>
    			</div> <!--- **************** END HEADER MODAL -->
    			<div class="modal-body">
                    <div class="container-preview-questions">
                        {# AJAX DATA #}
                    </div>
                    <div class="container-modal">
                    <div class="title-content-modal">
                        <h2><span>{{'job_question.home.create'|trans}}:</span> {{'job_question.home.screening'|trans}}</h2>
                    </div>
    				<div class="container-type-questions">
                        <div class="types-questions">
                            <ul>
                                <li class="help-text">{{'job_question.home.filter'|trans}} <a data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="{{'form.choose'|trans}}" data-original-title="" title=""><span class="filter-question">?</span> </a> </li>
                                <li><button class="btn btn-draggable btn-question-multiple" data-type-question="multiple-choice" value="{{ constant('AppBundle\\Entity\\Question::TYPE_RADIO') }}"{% if not job.questionsRemaining %} disabled{% endif %}>{{'job_question.home.choosein'|trans}}</button></li>
                                <li><button class="btn btn-draggable btn-question-check " data-type-question="check-boxes" value="{{ constant('AppBundle\\Entity\\Question::TYPE_CHECKBOX') }}"{% if not job.questionsRemaining %} disabled{% endif %}>{{'job_question.home.check'|trans}}</button></li>
                                <li><button class="btn btn-draggable btn-question-dropdown" data-type-question="dropdown" value="{{ constant('AppBundle\\Entity\\Question::TYPE_DROPDOWN') }}"{% if not job.questionsRemaining %} disabled{% endif %}>{{'job_question.home.dropdown'|trans}}</button></li>
                                <li class="separator">----</li>
                                <li class="help-text bf">{{'job_question.home.filter'|trans}} <a data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="{{'form.choose'|trans}}" data-original-title="" title=""><span class="filter-question">?</span> </a></li>
                                <li><button class="btn btn-draggable btn-question-shortanswer" data-type-question="short-answer" value="{{ constant('AppBundle\\Entity\\Question::TYPE_SHORT_ANSWER') }}"{% if not job.questionsRemaining %} disabled{% endif %}> {{'job_question.home.short'|trans}}</button></li>
                                <li><button class="btn btn-draggable btn-question-paragraph" data-type-question="paragraph" value="{{ constant('AppBundle\\Entity\\Question::TYPE_PARAGRAPH') }}"{% if not job.questionsRemaining %} disabled{% endif %}>{{'job_question.home.paragraph'|trans}}</button></li>
                                <input type="hidden" id="job-slug" value="{{ flow.formData.slug }}" />
                            </ul>
                        </div>
                    </div>
                    <div class="container-questions">
                        <!-- TAB NAVIGATION -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#tab-question" role="tab" data-toggle="">Questions</a></li>
                            <li><a href="#tab-configure" role="tab" data-toggle="">{{'job_video.home.conf'|trans}} Questions</a></li>
                            <span class="questions-remaining">{{'job_video.home.remaining'|trans}} <span class="number">{{ job.questionsRemaining }}</span></span>
                        </ul>
                        <!-- TAB CONTENT -->
                        <div class="tab-content">
                            <div class="active tab-pane fade in" id="tab-question">
                                {% include 'Job/Question/_list.html.twig' %}
                            </div>
                            <div class="tab-pane fade" id="tab-configure">
                                <!-- Multiple-choice -->
                                <div id="mc" class="configure-question {{ constant('AppBundle\\Entity\\Question::TYPE_RADIO') }}-widget"></div>

                                <!-- Check Boxes -->
                                <div id="cb" class="configure-question {{ constant('AppBundle\\Entity\\Question::TYPE_CHECKBOX') }}-widget"></div>
                                <!-- end Check Boxes -->

                                <!-- Dropdown -->
                                <div id="dd" class="configure-question {{ constant('AppBundle\\Entity\\Question::TYPE_DROPDOWN') }}-widget"></div>

                                <!-- Short Answer  -->
                                <div id="sa" class="configure-question {{ constant('AppBundle\\Entity\\Question::TYPE_SHORT_ANSWER') }}-widget"></div>

                                <!-- Paragraph -->
                                <div id="pa" class="configure-question {{ constant('AppBundle\\Entity\\Question::TYPE_PARAGRAPH') }}-widget"></div>
                            </div>
                        </div>
                    </div>
    			</div>
    			</div>
    			<div class="modal-footer create-job-footer-modal">
    				<button type="button" data-slug="{{ flow.formData.slug}}" id="preview-question" class="btn preview-question">{{'job_video.home.preview'|trans}}</button>
    				<button type="button"  id="quit-preview-question" class="btn preview-question">{{'job_question.home.preview'|trans}}</button>
    				<button type="button" class="btn save-next" aria-hidden="true" data-modaltype="create-questions">{{ 'interview.check.save'|trans }}</button>
    			</div>
    		</div><!-- /.modal-content -->
    	</div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    {% render url('job_question_video_add', {'slug': job.slug}) %}

{% endblock %}
