{% block header %}
    <header class="header">
        {% include 'Partials/topbar.html.twig'%}
        <div class="content-header">
            <div class="container">
                <div class="title-page">
                   <h1>{{'create_job.header.title_1'|trans}}</h1>
                    <p>{{'create_job.header.description_3'|trans}}</p>
                </div>
                <div class="header-progress">
                    <div class="steps-create-job">
                        <div class="cercle-progress cercle-progress-step-3"></div>
                        <div class="steps">
                            <ul>
                                <li><strong>{{'steps.step'|trans}} 1:</strong> {{'create_job.title_progress.step_1'|trans}} </li>
                                <li><strong>{{'steps.step'|trans}} 2:</strong> {{'create_job.title_progress.step_2'|trans}} </li>
                                <li class="active"><strong>{{'steps.step'|trans}} 3:</strong> {{'create_job.title_progress.step_3'|trans}} </li>
                                <li><strong>{{'steps.step'|trans}} 4:</strong> {{'create_job.title_progress.step_4'|trans}} </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <section class="content-container" data-slug="{{ flow.formData.slug }}">
        <div class="content">
            <div class="container">
                <h2 class="title-content"><strong>{{'steps.step'|trans}} 3:</strong> {{'create_job.title.step_3'|trans}} </h2>
            </div>
            <div class="main-content">
                <div class="container">
                    {{ form_start(form, {'attr': {'data-action-url': path(app.request.get('_route'), app.request.get('_route_params')), 'data-action-preview-url': path('job_preview_test', {'slug': flow.formData.slug}) }})}}
                        {{ form_errors(form) }}
                        <div class="step-3-upload-logo">
                            <h5>{{'create_job.header.logo'|trans}}</h5>
                            {{ form_row(form.companyLogoFilePreview) }}
                            <div class="container-btn-upload">
                                <button class="btn btn-upload-logo">{{ 'form.button.browse_files'|trans }}</button>
                            </div>
                            <div class="{% if not flow.formData.companyLogo %} container-logo-detailles{% endif %}">
                            <div class="uploaded-logo">
                                <div class="img-logo">
                                    {% if flow.formData.companyLogo %}
                                     <img src="{{ vich_uploader_asset(flow.formData, 'companyLogoFile')|default('images/company/logo-uploaded.png')|imagine_filter('job_company_logo') }}" alt="">
                                    {% else %}
                                    <img src="{{ asset('images/company/logo-uploaded.png') }}">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="detailles-logo">
                                <strong>{% if flow.formData.companyLogo %} {{flow.formData.companyLogo}} {% else %} your-logo.png {% endif %}</strong>
                                <span class="size">{{ (flow.formData.companyLogo and flow.formData.getCompanyLogoFile().isFile() ? flow.formData.getCompanyLogoFile().getSize() : 0)|human_file_size(0) }}</span>
                                <span class="date">{{flow.formData.updatedAt|date('m/d/Y')}}</span>
                                <button class="btn btn-delete-logo">{{ 'form.button.delete'|trans }}</button>
                            </div>
                            </div>
                        </div>
                        <div class="step-3-select-bg">
                            <div id="extraPicker"></div>
                            {{ form_row(form.backgroundColorPreview) }}
                            <div class="or-ligne"> - {{'create_job.header.or'|trans}} -</div>
                            <div class="bg-job-img">
                                <span class="title-job-bg-img">{{'create_job.header.backgroundtitle'|trans}}</span>
                                {{ form_widget(form.backgroundTexturePreview) }}
                                <div class="cnt-footer-bg create-job-step-3">
                                    <button id="job-preview-page" class="btn preview-page">{{ 'form.button.preview_page'|trans }}</button>
                                    {%
                                        include 'CraueFormFlowBundle:FormFlow:buttons.html.twig' with {
                                            craue_formflow_button_class_next: 'btn save-contonue',
                                            craue_formflow_button_class_reset: 'hide',
                                            craue_formflow_button_class_back: 'hide',
                                            craue_formflow_button_label_next: 'form.button.save_continue'|trans
                                        }
                                    %}
                                </div>
                            </div>
                            {{ form_rest(form) }}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
