{% extends '::layout.html.twig' %}

{% block header %}
	{% include 'Signup/Partials/topbar.html.twig' %}
	 <header class="header signup">
        <div class="content-header">
            <div class="container">
                <div class="title-page">
                  {% block title_page %}
                  {% endblock %}
                </div>
                <div class="header-progress">
                    <div class="steps-create-job">
                        {% block step %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
  <section class="content-container signup-container">
        <div class="content">
            <div class="container">
                <h2 class="title-content"> {% block title_content %}{% endblock %}</h2>
            </div>

            <div class="main-content">
                <div class="container">
                    <div class="form-container">
						{% block step_content %}
							{# form step #}
						{% endblock %}
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- CONTENT -->

{% endblock %}

{% block footer %}
 {% include 'Partials/footer.html.twig' %}
{% endblock %}
