{% extends 'layout.html.twig' %}

{% block header %}
    <header class="header signup last-step">
        {% include 'Partials/topbar.html.twig'%}
        <div class="content-header">
            <div class="container">
                <div class="title-page">
                    <h1>{{'dashboard.home.title'|trans}} {{ app.user.firstname|title }}</h1>
                    <p>{{'dashboard.home.description'|trans}}</p>
                </div>
                <div class="header-progress">
                    <div class="steps-create-job">
                        <div class="cercle-progress cercle-progress-sign-up-last"></div>
                        <div class="steps">
                            <ul>
                                <li><strong>{{'dashboard.home.sous_title'|trans}}</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <section class="content-container signup-welcome">
        <div class="content">
            <div class="main-content">
                <div class="container">
                    <div class="welcome-page-content">
                        <div class="wlc-bl take-tour">
                            <h3>{{'dashboard.home.col1.title_1'|trans}} <strong>{{'dashboard.home.col1.title_bold_1'|trans}}</strong></h3>
                            <div class="w-content">
                                <div class="icon"></div>
                                <div class="text">{{'dashboard.home.col1.description_1'|trans}}</div>
                            </div>
                        </div>
                        <div class="wlc-bl create-job-action">
                            <h3>{{'dashboard.home.col2.title_2'|trans}} <strong>{{'dashboard.home.col2.title_bold_2'|trans}}</strong></h3>
                            <div class="w-content">
                                <div class="title-icon">{{'dashboard.home.col2.sous_title_2'|trans}}</div>
                                <div class="text">{{'dashboard.home.col2.description_2'|trans}}</div>
                                <div class="link">
                                    <a href="{{ path('job_create') }}">{{'dashboard.home.col2.link'|trans}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="wlc-bl share-haystack">
                            <h3><strong>{{'dashboard.home.col3.title_bold_3'|trans}}</strong> AdelphaLabs</h3>
                            <div class="w-content">
                                <div class="icon"></div>
                                <div class="text">{{'dashboard.home.col3.description_3'|trans}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {% include 'Partials/footer.html.twig'%}
{% endblock %}
