
@font-face {
    font-family: 'latoregular';
    src: url('fonts/lato/lato-regular-webfont.eot');
    src: url('fonts/lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato/lato-regular-webfont.woff2') format('woff2'),
         url('fonts/lato/lato-regular-webfont.woff') format('woff'),
         url('fonts/lato/lato-regular-webfont.ttf') format('truetype'),
         url('fonts/lato/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latolight';
    src: url('fonts/lato/lato-light-webfont.eot');
    src: url('fonts/lato/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato/lato-light-webfont.woff2') format('woff2'),
         url('fonts/lato/lato-light-webfont.woff') format('woff'),
         url('fonts/lato/lato-light-webfont.ttf') format('truetype'),
         url('fonts/lato/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latobold';
    src: url('fonts/lato/lato-bold-webfont.eot');
    src: url('fonts/lato/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato/lato-bold-webfont.woff2') format('woff2'),
         url('fonts/lato/lato-bold-webfont.woff') format('woff'),
         url('fonts/lato/lato-bold-webfont.ttf') format('truetype'),
         url('fonts/lato/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'latoblack';
  src: url('fonts/lato/lato-black-webfont.eot');
  src: url('fonts/lato/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/lato/lato-black-webfont.woff2') format('woff2'),
  url('fonts/lato/lato-black-webfont.woff') format('woff'),
  url('fonts/lato/lato-black-webfont.ttf') format('truetype'),
  url('fonts/lato/lato-black-webfont.svg#latoblack') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'myriad-reg';
  src: url('fonts/myriadpro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/myriadpro/MyriadPro-Regular.otf')  format('opentype'),
  url('fonts/myriadpro/MyriadPro-Regular.woff') format('woff'),
  url('fonts/myriadpro/MyriadPro-Regular.ttf')  format('truetype'),
  url('fonts/myriadpro/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}



/*  FONTS */

$font_lato :  'latoregular';
$font_lato_light :  'latolight';
$font_lato_bold :  'latobold';
$font_lato_black: 'latoblack';
$font_myriad_reg: 'myriad-reg';

/*  END FONTS */

$color_header :  #073349;
$color_footer :  #073349;
$color_title : #363636;
$primarygreen: #63ba00;
$darkgray: #073349;
$primaryred: #cd040b;
$green-clear :#a9da88;
$blue-clear :#00aeef;


/* Mixins */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}


h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
}
p{
  padding: 0;
  margin: 0;
}

a { outline: 0; }
button { outline: 0; }
input {outline: 0;}
p{
	font-family: $font_lato;
	font-size: 14px;
}
strong{
  font-family:$font_lato_bold;
}
.container{
  padding:0;
}

.form-control{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family:$font_lato;
  font-size:20px;
}


textarea{
  border:1px solid #d6dde2;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  padding:5px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: "latoregular";
  font-size: 20px;
  color:#929292;

}
.btn{
  text-transform: uppercase;
  color: #fff;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn{
  background: #212121 !important;
  opacity:0.30;
}
.no-active{
color:#212121 !important;
  opacity:0.33;
}

.btn-step{
  background: $color_title;
  color:#ffffff;
  min-width:170px;
  text-transform: uppercase;
  font-family:$font_myriad_reg;
  border:1px solid #1f2021;
  float: right;
  height:45px;
  padding:0;
  line-height: 45px;
  &:hover{
    color:#00aeef;
  }
}
.btn-save{
  background: #03ab8c;
  font-family:$font_lato_bold;
  color: #fff;
  font-size:16px;
  height:26px;
  padding:0 15px;
  line-height:26px;
  text-align: center;
  min-width: 71px;
  &:hover{
    color: darken(#fff , 10%) ;
  }

}
.btn-delete{
  background: #a30101;
  font-family:$font_lato_bold;
  color: #fff;
  font-size:16px;
  height:26px;
  padding:0 15px;
  line-height:26px;
  text-align: center;
  min-width: 71px;
  &:hover{
    color: darken(#fff , 10%) ;
  }

}
.btn-cancel{
  background: #ababab;
  font-family:$font_lato_bold;
  color: #fff;
  font-size:16px;
  height: 26px;
  padding:0 15px;
  line-height:26px;
  text-align: center;
  min-width: 71px;

  &:hover{
    color:  darken(#fff , 10%);
  }

}

.fa{
 color:#dadcde;
}
.global_wrapper{
	float:left;
  width:100%;
}
.row-form{
  padding: 0;
}

.no-padding{
  padding-left: 0;
  padding-right: 0;
}
.number-question{
  float: left;
  margin-right:10px;
  .number{
    width: 33px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    padding:3px;
    margin:auto;
    border:1px solid #ededed;
    @include border-radius(50%);

    & > div{
      width: 100%;
      height: 100%;
      line-height: 27px;
      color:#fff;
      @include border-radius(50%);
    }
    .nb{background: #929292;}
    .active{background: $blue-clear;}
  }
}
.hs.fa-googleplus{
  background: url(images/googleplus.jpg) center no-repeat;
  display: block;
  width: 100%;
  height: 100%;
}
i.candidate{
  background: url(images/candidate.png) no-repeat;
  width: 19px;
  height: 18px;
  display: block;
  opacity:0.45;
}

a{
  &:hover{
    text-decoration: none;
  }
  &:focus{
    text-decoration: none;
  }
}
i.card-number{
  background: url(images/icons/card-number.png) no-repeat;
  width: 22px;
  height: 16px;
  display: block;
  opacity:0.2;

}

.video-test-dimensions{
  width: 100%;
  height: 100%;
  min-height: 450px;
}

.video-question-dimensions{
  width: 100% !important;
  height: 100% !important;
  min-height: 450px;
}