{% spaceless %}
{% if pageCount > 1 %}
<ul class="pagination">
    {% if previous is defined %}
            <li class="page-item">
                <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): previous})) }}" aria-label="Previous">
                    <span aria-hidden="true" class="direction"><i class="fa fa-angle-left" aria-hidden="true"></i>{{ 'dashboard.table.button.previous'|trans }}</span>
                    <span class="sr-only">{{ 'dashboard.table.button.previous'|trans }}</span>
                </a>
            </li>
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
            <li class="page-item">
                <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            </li>
        {% else %}
            <li class="page-item active"><a class="page-link" href="#">{{ page }}</a> </li>
        {% endif %}

    {% endfor %}

    {% if next is defined %}
        <li class="page-item">
            <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): next})) }}" aria-label="Next">
                <span aria-hidden="true" class="direction">{{ 'dashboard.table.button.next'|trans }}<i class="fa fa-angle-right" aria-hidden="true"></i></span>
                <span class="sr-only">{{ 'dashboard.table.button.next'|trans }}</span>
            </a>
        </li>
    {% endif %}
</ul>
{% endif %}
{% endspaceless %}
